---
layout: 'default'
title: '1. Freiämter Bildhauer Symposium 2003'
---

%h1 Fotoalbum
%h2 1. Freiämter Bildhauer Symposium 2003
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/57/262094395_7f8cd4bd25_o_500x1138_800x800.jpg', rel: 'lightbox[gallery]', title: '262094395_7f8cd4bd25_o_500x1138'}
        %img{alt: '262094395_7f8cd4bd25_o_500x1138', height: '250', src: '/images/galleries/57/262094395_7f8cd4bd25_o_500x1138_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094939_b5185276bd_b_800x800.jpg', rel: 'lightbox[gallery]', title: '262094939_b5185276bd_b'}
        %img{alt: '262094939_b5185276bd_b', height: '250', src: '/images/galleries/57/262094939_b5185276bd_b_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094606_7aa4804b73_b_800x800.jpg', rel: 'lightbox[gallery]', title: '262094606_7aa4804b73_b'}
        %img{alt: '262094606_7aa4804b73_b', height: '250', src: '/images/galleries/57/262094606_7aa4804b73_b_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094459_de8bf81818_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262094459_de8bf81818_o'}
        %img{alt: '262094459_de8bf81818_o', height: '250', src: '/images/galleries/57/262094459_de8bf81818_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/000_logo_800x800.jpg', rel: 'lightbox[gallery]', title: '000_logo'}
        %img{alt: '000_logo', height: '250', src: '/images/galleries/57/000_logo_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094736_ed2f4ce5c0_b_800x800.jpg', rel: 'lightbox[gallery]', title: '262094736_ed2f4ce5c0_b'}
        %img{alt: '262094736_ed2f4ce5c0_b', height: '250', src: '/images/galleries/57/262094736_ed2f4ce5c0_b_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262095077_4c0d6e68f1_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262095077_4c0d6e68f1_o'}
        %img{alt: '262095077_4c0d6e68f1_o', height: '250', src: '/images/galleries/57/262095077_4c0d6e68f1_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262095025_b67de2d042_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262095025_b67de2d042_o'}
        %img{alt: '262095025_b67de2d042_o', height: '250', src: '/images/galleries/57/262095025_b67de2d042_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094192_ac2bea7f61_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262094192_ac2bea7f61_o'}
        %img{alt: '262094192_ac2bea7f61_o', height: '250', src: '/images/galleries/57/262094192_ac2bea7f61_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262095533_559aa1c317_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262095533_559aa1c317_o'}
        %img{alt: '262095533_559aa1c317_o', height: '250', src: '/images/galleries/57/262095533_559aa1c317_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094869_f2acbc0c60_b_800x800.jpg', rel: 'lightbox[gallery]', title: '262094869_f2acbc0c60_b'}
        %img{alt: '262094869_f2acbc0c60_b', height: '250', src: '/images/galleries/57/262094869_f2acbc0c60_b_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262095282_cecdd6be92_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262095282_cecdd6be92_o'}
        %img{alt: '262095282_cecdd6be92_o', height: '250', src: '/images/galleries/57/262095282_cecdd6be92_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/262094294_6b53387a66_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262094294_6b53387a66_o'}
        %img{alt: '262094294_6b53387a66_o', height: '250', src: '/images/galleries/57/262094294_6b53387a66_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508200_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508200'}
        %img{alt: 'SKMBT_C20310041508200', height: '250', src: '/images/galleries/57/SKMBT_C20310041508200_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508000_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508000'}
        %img{alt: 'SKMBT_C20310041508000', height: '250', src: '/images/galleries/57/SKMBT_C20310041508000_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508020_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508020'}
        %img{alt: 'SKMBT_C20310041508020', height: '250', src: '/images/galleries/57/SKMBT_C20310041508020_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508021_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508021'}
        %img{alt: 'SKMBT_C20310041508021', height: '250', src: '/images/galleries/57/SKMBT_C20310041508021_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508030_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508030'}
        %img{alt: 'SKMBT_C20310041508030', height: '250', src: '/images/galleries/57/SKMBT_C20310041508030_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508050_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508050'}
        %img{alt: 'SKMBT_C20310041508050', height: '250', src: '/images/galleries/57/SKMBT_C20310041508050_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508060_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508060'}
        %img{alt: 'SKMBT_C20310041508060', height: '250', src: '/images/galleries/57/SKMBT_C20310041508060_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508061_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508061'}
        %img{alt: 'SKMBT_C20310041508061', height: '250', src: '/images/galleries/57/SKMBT_C20310041508061_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041507500_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041507500'}
        %img{alt: 'SKMBT_C20310041507500', height: '250', src: '/images/galleries/57/SKMBT_C20310041507500_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041507520_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041507520'}
        %img{alt: 'SKMBT_C20310041507520', height: '250', src: '/images/galleries/57/SKMBT_C20310041507520_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041507540_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041507540'}
        %img{alt: 'SKMBT_C20310041507540', height: '250', src: '/images/galleries/57/SKMBT_C20310041507540_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041507560_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041507560'}
        %img{alt: 'SKMBT_C20310041507560', height: '250', src: '/images/galleries/57/SKMBT_C20310041507560_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508170_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508170'}
        %img{alt: 'SKMBT_C20310041508170', height: '250', src: '/images/galleries/57/SKMBT_C20310041508170_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041507590_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041507590'}
        %img{alt: 'SKMBT_C20310041507590', height: '250', src: '/images/galleries/57/SKMBT_C20310041507590_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/57/SKMBT_C20310041508180_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508180'}
        %img{alt: 'SKMBT_C20310041508180', height: '250', src: '/images/galleries/57/SKMBT_C20310041508180_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
