!!!
%html
  %head
    %title Freiämter Sagenweg - Fotoalbum
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../css/screen.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../css/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../css/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{src: "http://cdn.sublimevideo.net/js/z5p3m0es.js", type: "text/javascript"}
  %body
    #container
      #header
      %a{href: "../index.html"}
        #logo
      %a{href: "../index.html"}
        #sagenweg
      #content
        #page.fotoalbum
          %h1 Fotoalbum
          %h2 1. Freiämter Bildhauer Symposium 2003
          %p
          .gallery
            .container
              .thumb
                %a{href: "../galleries/57/0000/5681/262094395_7f8cd4bd25_o_500x1138_800x800.jpg", rel: "lightbox[gallery]", title: "262094395_7f8cd4bd25_o_500x1138"}
                  %img{alt: "262094395_7f8cd4bd25_o_500x1138", height: "250", src: "../galleries/57/0000/5681/262094395_7f8cd4bd25_o_500x1138_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5409/262094939_b5185276bd_b_800x800.jpg", rel: "lightbox[gallery]", title: "262094939_b5185276bd_b"}
                  %img{alt: "262094939_b5185276bd_b", height: "250", src: "../galleries/57/0000/5409/262094939_b5185276bd_b_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5412/262094606_7aa4804b73_b_800x800.jpg", rel: "lightbox[gallery]", title: "262094606_7aa4804b73_b"}
                  %img{alt: "262094606_7aa4804b73_b", height: "250", src: "../galleries/57/0000/5412/262094606_7aa4804b73_b_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5415/262094459_de8bf81818_o_800x800.jpg", rel: "lightbox[gallery]", title: "262094459_de8bf81818_o"}
                  %img{alt: "262094459_de8bf81818_o", height: "250", src: "../galleries/57/0000/5415/262094459_de8bf81818_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5418/000_logo_800x800.jpg", rel: "lightbox[gallery]", title: "000_logo"}
                  %img{alt: "000_logo", height: "250", src: "../galleries/57/0000/5418/000_logo_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5421/262094736_ed2f4ce5c0_b_800x800.jpg", rel: "lightbox[gallery]", title: "262094736_ed2f4ce5c0_b"}
                  %img{alt: "262094736_ed2f4ce5c0_b", height: "250", src: "../galleries/57/0000/5421/262094736_ed2f4ce5c0_b_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5424/262095077_4c0d6e68f1_o_800x800.jpg", rel: "lightbox[gallery]", title: "262095077_4c0d6e68f1_o"}
                  %img{alt: "262095077_4c0d6e68f1_o", height: "250", src: "../galleries/57/0000/5424/262095077_4c0d6e68f1_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5430/262095025_b67de2d042_o_800x800.jpg", rel: "lightbox[gallery]", title: "262095025_b67de2d042_o"}
                  %img{alt: "262095025_b67de2d042_o", height: "250", src: "../galleries/57/0000/5430/262095025_b67de2d042_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5433/262094192_ac2bea7f61_o_800x800.jpg", rel: "lightbox[gallery]", title: "262094192_ac2bea7f61_o"}
                  %img{alt: "262094192_ac2bea7f61_o", height: "250", src: "../galleries/57/0000/5433/262094192_ac2bea7f61_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5436/262095533_559aa1c317_o_800x800.jpg", rel: "lightbox[gallery]", title: "262095533_559aa1c317_o"}
                  %img{alt: "262095533_559aa1c317_o", height: "250", src: "../galleries/57/0000/5436/262095533_559aa1c317_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5439/262094869_f2acbc0c60_b_800x800.jpg", rel: "lightbox[gallery]", title: "262094869_f2acbc0c60_b"}
                  %img{alt: "262094869_f2acbc0c60_b", height: "250", src: "../galleries/57/0000/5439/262094869_f2acbc0c60_b_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5442/262095282_cecdd6be92_o_800x800.jpg", rel: "lightbox[gallery]", title: "262095282_cecdd6be92_o"}
                  %img{alt: "262095282_cecdd6be92_o", height: "250", src: "../galleries/57/0000/5442/262095282_cecdd6be92_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5445/262094294_6b53387a66_o_800x800.jpg", rel: "lightbox[gallery]", title: "262094294_6b53387a66_o"}
                  %img{alt: "262094294_6b53387a66_o", height: "250", src: "../galleries/57/0000/5445/262094294_6b53387a66_o_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5526/SKMBT_C20310041508200_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508200"}
                  %img{alt: "SKMBT_C20310041508200", height: "250", src: "../galleries/57/0000/5526/SKMBT_C20310041508200_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5529/SKMBT_C20310041508000_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508000"}
                  %img{alt: "SKMBT_C20310041508000", height: "250", src: "../galleries/57/0000/5529/SKMBT_C20310041508000_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5532/SKMBT_C20310041508020_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508020"}
                  %img{alt: "SKMBT_C20310041508020", height: "250", src: "../galleries/57/0000/5532/SKMBT_C20310041508020_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5535/SKMBT_C20310041508021_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508021"}
                  %img{alt: "SKMBT_C20310041508021", height: "250", src: "../galleries/57/0000/5535/SKMBT_C20310041508021_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5538/SKMBT_C20310041508030_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508030"}
                  %img{alt: "SKMBT_C20310041508030", height: "250", src: "../galleries/57/0000/5538/SKMBT_C20310041508030_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5541/SKMBT_C20310041508050_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508050"}
                  %img{alt: "SKMBT_C20310041508050", height: "250", src: "../galleries/57/0000/5541/SKMBT_C20310041508050_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5544/SKMBT_C20310041508060_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508060"}
                  %img{alt: "SKMBT_C20310041508060", height: "250", src: "../galleries/57/0000/5544/SKMBT_C20310041508060_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5547/SKMBT_C20310041508061_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508061"}
                  %img{alt: "SKMBT_C20310041508061", height: "250", src: "../galleries/57/0000/5547/SKMBT_C20310041508061_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5550/SKMBT_C20310041507500_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041507500"}
                  %img{alt: "SKMBT_C20310041507500", height: "250", src: "../galleries/57/0000/5550/SKMBT_C20310041507500_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5553/SKMBT_C20310041507520_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041507520"}
                  %img{alt: "SKMBT_C20310041507520", height: "250", src: "../galleries/57/0000/5553/SKMBT_C20310041507520_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5556/SKMBT_C20310041507540_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041507540"}
                  %img{alt: "SKMBT_C20310041507540", height: "250", src: "../galleries/57/0000/5556/SKMBT_C20310041507540_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5559/SKMBT_C20310041507560_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041507560"}
                  %img{alt: "SKMBT_C20310041507560", height: "250", src: "../galleries/57/0000/5559/SKMBT_C20310041507560_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5562/SKMBT_C20310041508170_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508170"}
                  %img{alt: "SKMBT_C20310041508170", height: "250", src: "../galleries/57/0000/5562/SKMBT_C20310041508170_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5565/SKMBT_C20310041507590_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041507590"}
                  %img{alt: "SKMBT_C20310041507590", height: "250", src: "../galleries/57/0000/5565/SKMBT_C20310041507590_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/57/0000/5568/SKMBT_C20310041508180_800x800.jpg", rel: "lightbox[gallery]", title: "SKMBT_C20310041508180"}
                  %img{alt: "SKMBT_C20310041508180", height: "250", src: "../galleries/57/0000/5568/SKMBT_C20310041508180_c250x250.jpg", width: "250"}/
          %br{style: "clear:both;"}/
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../projektidee/index.html"} Projektidee
            %li.has_children
              %a{href: "../sagen/index.html"} Sagen
            %li
              %a{href: "../kuenstler/index.html"} Künstler
            %li.has_children
              %a{href: "../anreise-situationsplan/index.html"} Anreise
            %li
              %a{href: "../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../pressearchiv/index.html"} Pressearchiv
            %li.current
              %a{href: "index.html"} Fotoalbum
            %li
              %a{href: "../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../sponsorengnner/index.html"} Sponsoren/Gönner
            %li
              %a{href: "../kontakt/index.html"} Kontakt
        #news
          %a{href: "../fuehrungen.1.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "1-freiaemter-bildhauer-symposium-2003.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "http://malsup.github.io/min/jquery.cycle2.min.js", type: "text/javascript"}
    %script{src: "http://malsup.github.io/min/jquery.cycle2.caption.min.js", type: "text/javascript"}
    %script{src: "../js/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content", active: false });