---
layout: 'default'
title: 'Die Sagen'
---

%h1 Fotoalbum
%h2 Die Sagen
%p
  %a{href: 'http://www.photofascination.ch'} Fotos von Reinhard Strickler
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/78/1._Der_Tanzplatz_von_Zufikon_800x800.jpg', rel: 'lightbox[gallery]', title: '1._Der_Tanzplatz_von_Zufikon'}
        %img{alt: '1._Der_Tanzplatz_von_Zufikon', height: '250', src: '/images/galleries/78/1._Der_Tanzplatz_von_Zufikon_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/2._Der_Teufel_auf_der_Isenburg_800x800.jpg', rel: 'lightbox[gallery]', title: '2._Der_Teufel_auf_der_Isenburg'}
        %img{alt: '2._Der_Teufel_auf_der_Isenburg', height: '250', src: '/images/galleries/78/2._Der_Teufel_auf_der_Isenburg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/3._Der_rote_Wyssenbacher_800x800.jpg', rel: 'lightbox[gallery]', title: '3._Der_rote_Wyssenbacher'}
        %img{alt: '3._Der_rote_Wyssenbacher', height: '250', src: '/images/galleries/78/3._Der_rote_Wyssenbacher_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/4._Das_R_ssegger-Licht_an_der_Reuss_800x800.jpg', rel: 'lightbox[gallery]', title: '4._Das_R_ssegger-Licht_an_der_Reuss'}
        %img{alt: '4._Das_R_ssegger-Licht_an_der_Reuss', height: '250', src: '/images/galleries/78/4._Das_R_ssegger-Licht_an_der_Reuss_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/5._Der_Wohler_Eichmann_800x800.jpg', rel: 'lightbox[gallery]', title: '5._Der_Wohler_Eichmann'}
        %img{alt: '5._Der_Wohler_Eichmann', height: '250', src: '/images/galleries/78/5._Der_Wohler_Eichmann_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/6._Der_Zwerg_von_Muri_800x800.jpg', rel: 'lightbox[gallery]', title: '6._Der_Zwerg_von_Muri'}
        %img{alt: '6._Der_Zwerg_von_Muri', height: '250', src: '/images/galleries/78/6._Der_Zwerg_von_Muri_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/7._Die_drei_Angelsachsen_800x800.jpg', rel: 'lightbox[gallery]', title: '7._Die_drei_Angelsachsen'}
        %img{alt: '7._Die_drei_Angelsachsen', height: '250', src: '/images/galleries/78/7._Die_drei_Angelsachsen_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/8._Der_Stifeliryter_800x800.jpg', rel: 'lightbox[gallery]', title: '8._Der_Stifeliryter'}
        %img{alt: '8._Der_Stifeliryter', height: '250', src: '/images/galleries/78/8._Der_Stifeliryter_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/9._Der_Kegler_im_Uezwiler_Wald_800x800.jpg', rel: 'lightbox[gallery]', title: '9._Der_Kegler_im_Uezwiler_Wald'}
        %img{alt: '9._Der_Kegler_im_Uezwiler_Wald', height: '250', src: '/images/galleries/78/9._Der_Kegler_im_Uezwiler_Wald_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/10._Hexenmusik_im_Maeingruen_800x800.jpg', rel: 'lightbox[gallery]', title: '10._Hexenmusik_im_Maeingruen'}
        %img{alt: '10._Hexenmusik_im_Maeingruen', height: '250', src: '/images/galleries/78/10._Hexenmusik_im_Maeingruen_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/11._Die_Waltenschwiler_Hexe_800x800.jpg', rel: 'lightbox[gallery]', title: '11._Die_Waltenschwiler_Hexe'}
        %img{alt: '11._Die_Waltenschwiler_Hexe', height: '250', src: '/images/galleries/78/11._Die_Waltenschwiler_Hexe_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/78/12._Brennende_Maenner_800x800.jpg', rel: 'lightbox[gallery]', title: '12._Brennende_Maenner'}
        %img{alt: '12._Brennende_Maenner', height: '250', src: '/images/galleries/78/12._Brennende_Maenner_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
