!!!
%html
  %head
    %title Freiämter Sagenweg - Fotoalbum
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../css/screen.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../css/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../css/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{src: "http://cdn.sublimevideo.net/js/z5p3m0es.js", type: "text/javascript"}
  %body
    #container
      #header
      %a{href: "../index.html"}
        #logo
      %a{href: "../index.html"}
        #sagenweg
      #content
        #page.fotoalbum
          %h1 Fotoalbum
          %h2 Eröffnung vom 28. August 2010
          %p
            %a{href: "http://www.photofascination.ch"} Fotos von Reinhard Strickler
          .gallery
            .container
              .thumb
                %a{href: "../galleries/77/0001/2153/34-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "34-eroeffnung-sagenweg"}
                  %img{alt: "34-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2153/34-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2158/37-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "37-eroeffnung-sagenweg"}
                  %img{alt: "37-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2158/37-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2163/40-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "40-eroeffnung-sagenweg"}
                  %img{alt: "40-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2163/40-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2168/41-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "41-eroeffnung-sagenweg"}
                  %img{alt: "41-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2168/41-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2173/42-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "42-eroeffnung-sagenweg"}
                  %img{alt: "42-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2173/42-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2178/43-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "43-eroeffnung-sagenweg"}
                  %img{alt: "43-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2178/43-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2183/47-brennende-maenner_800x800.jpg", rel: "lightbox[gallery]", title: "47-brennende-maenner"}
                  %img{alt: "47-brennende-maenner", height: "250", src: "../galleries/77/0001/2183/47-brennende-maenner_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2188/50-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "50-eroeffnung-sagenweg"}
                  %img{alt: "50-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2188/50-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2193/51-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "51-eroeffnung-sagenweg"}
                  %img{alt: "51-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2193/51-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../galleries/77/0001/2198/52-eroeffnung-sagenweg_800x800.jpg", rel: "lightbox[gallery]", title: "52-eroeffnung-sagenweg"}
                  %img{alt: "52-eroeffnung-sagenweg", height: "250", src: "../galleries/77/0001/2198/52-eroeffnung-sagenweg_c250x250.jpg", width: "250"}/
          %br{style: "clear:both;"}/
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../projektidee/index.html"} Projektidee
            %li.has_children
              %a{href: "../sagen/index.html"} Sagen
            %li
              %a{href: "../kuenstler/index.html"} Künstler
            %li.has_children
              %a{href: "../anreise-situationsplan/index.html"} Anreise
            %li
              %a{href: "../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../pressearchiv/index.html"} Pressearchiv
            %li.current
              %a{href: "index.html"} Fotoalbum
            %li
              %a{href: "../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../sponsorengnner/index.html"} Sponsoren/Gönner
            %li
              %a{href: "../kontakt/index.html"} Kontakt
        #news
          %a{href: "../fuehrungen.1.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "eroeffnung-vom-28-august-2010.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "http://malsup.github.io/min/jquery.cycle2.min.js", type: "text/javascript"}
    %script{src: "http://malsup.github.io/min/jquery.cycle2.caption.min.js", type: "text/javascript"}
    %script{src: "../js/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content", active: false });