---
layout: 'default'
title: 'Eröffnung vom 28. August 2010'
---

%h1 Fotoalbum
%h2 Eröffnung vom 28. August 2010
%p
  %a{href: 'http://www.photofascination.ch'} Fotos von Reinhard Strickler
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/77/34-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '34-eroeffnung-sagenweg'}
        %img{alt: '34-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/34-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/37-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '37-eroeffnung-sagenweg'}
        %img{alt: '37-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/37-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/40-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '40-eroeffnung-sagenweg'}
        %img{alt: '40-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/40-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/41-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '41-eroeffnung-sagenweg'}
        %img{alt: '41-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/41-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/42-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '42-eroeffnung-sagenweg'}
        %img{alt: '42-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/42-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/43-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '43-eroeffnung-sagenweg'}
        %img{alt: '43-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/43-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/47-brennende-maenner_800x800.jpg', rel: 'lightbox[gallery]', title: '47-brennende-maenner'}
        %img{alt: '47-brennende-maenner', height: '250', src: '/images/galleries/77/47-brennende-maenner_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/50-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '50-eroeffnung-sagenweg'}
        %img{alt: '50-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/50-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/51-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '51-eroeffnung-sagenweg'}
        %img{alt: '51-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/51-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/77/52-eroeffnung-sagenweg_800x800.jpg', rel: 'lightbox[gallery]', title: '52-eroeffnung-sagenweg'}
        %img{alt: '52-eroeffnung-sagenweg', height: '250', src: '/images/galleries/77/52-eroeffnung-sagenweg_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
