---
layout: 'default'
title: 'Ferienpass 2011'
---

%h1 Fotoalbum
%h2 Ferienpass 2011
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Br_nlig1_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Br_nlig1'}
        %img{alt: 'FepaM_Br_nlig1', height: '250', src: '/images/galleries/80/FepaM_Br_nlig1_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Br_nlig2_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Br_nlig2'}
        %img{alt: 'FepaM_Br_nlig2', height: '250', src: '/images/galleries/80/FepaM_Br_nlig2_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Tanzplatz_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Tanzplatz'}
        %img{alt: 'FepaM_Tanzplatz', height: '250', src: '/images/galleries/80/FepaM_Tanzplatz_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Teufel_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Teufel'}
        %img{alt: 'FepaM_Teufel', height: '250', src: '/images/galleries/80/FepaM_Teufel_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Zvieri_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Zvieri'}
        %img{alt: 'FepaM_Zvieri', height: '250', src: '/images/galleries/80/FepaM_Zvieri_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Zwerg1_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Zwerg1'}
        %img{alt: 'FepaM_Zwerg1', height: '250', src: '/images/galleries/80/FepaM_Zwerg1_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/FepaM_Zwerg2_800x800.JPG', rel: 'lightbox[gallery]', title: 'FepaM_Zwerg2'}
        %img{alt: 'FepaM_Zwerg2', height: '250', src: '/images/galleries/80/FepaM_Zwerg2_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/Fepa_Br_nlig_800x800.JPG', rel: 'lightbox[gallery]', title: 'Fepa_Br_nlig'}
        %img{alt: 'Fepa_Br_nlig', height: '250', src: '/images/galleries/80/Fepa_Br_nlig_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/Fepa_Hexenbesen_800x800.JPG', rel: 'lightbox[gallery]', title: 'Fepa_Hexenbesen'}
        %img{alt: 'Fepa_Hexenbesen', height: '250', src: '/images/galleries/80/Fepa_Hexenbesen_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/Fepa_Hexenbesen2_800x800.JPG', rel: 'lightbox[gallery]', title: 'Fepa_Hexenbesen2'}
        %img{alt: 'Fepa_Hexenbesen2', height: '250', src: '/images/galleries/80/Fepa_Hexenbesen2_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/Fepa_Kegler_800x800.JPG', rel: 'lightbox[gallery]', title: 'Fepa_Kegler'}
        %img{alt: 'Fepa_Kegler', height: '250', src: '/images/galleries/80/Fepa_Kegler_c250x250.JPG', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/80/Fepa_Kegler2_800x800.JPG', rel: 'lightbox[gallery]', title: 'Fepa_Kegler2'}
        %img{alt: 'Fepa_Kegler2', height: '250', src: '/images/galleries/80/Fepa_Kegler2_c250x250.JPG', width: '250'}/
%br{style: 'clear:both;'}/
