---
layout: 'default'
title: 'Geburtstag Sagenweg'
---

%h1 Fotoalbum
%h2 Geburtstag Sagenweg
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2561_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2561'}
        %img{alt: 'IMGP2561', height: '250', src: '/images/galleries/83/IMGP2561_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2562_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2562'}
        %img{alt: 'IMGP2562', height: '250', src: '/images/galleries/83/IMGP2562_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2572_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2572'}
        %img{alt: 'IMGP2572', height: '250', src: '/images/galleries/83/IMGP2572_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2583_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2583'}
        %img{alt: 'IMGP2583', height: '250', src: '/images/galleries/83/IMGP2583_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2585_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2585'}
        %img{alt: 'IMGP2585', height: '250', src: '/images/galleries/83/IMGP2585_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2588_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2588'}
        %img{alt: 'IMGP2588', height: '250', src: '/images/galleries/83/IMGP2588_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2589_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2589'}
        %img{alt: 'IMGP2589', height: '250', src: '/images/galleries/83/IMGP2589_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2590_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2590'}
        %img{alt: 'IMGP2590', height: '250', src: '/images/galleries/83/IMGP2590_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2597_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2597'}
        %img{alt: 'IMGP2597', height: '250', src: '/images/galleries/83/IMGP2597_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2598_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2598'}
        %img{alt: 'IMGP2598', height: '250', src: '/images/galleries/83/IMGP2598_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2602_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2602'}
        %img{alt: 'IMGP2602', height: '250', src: '/images/galleries/83/IMGP2602_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/83/IMGP2600_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMGP2600'}
        %img{alt: 'IMGP2600', height: '250', src: '/images/galleries/83/IMGP2600_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
