---
layout: 'default'
title: 'Kantonaler Wandertag 2013'
---

%h1 Fotoalbum
%h2 Kantonaler Wandertag 2013
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/136/DSC_7161_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_7161'}
        %img{alt: 'DSC_7161', height: '250', src: '/images/galleries/136/DSC_7161_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/136/DSC_7166_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_7166'}
        %img{alt: 'DSC_7166', height: '250', src: '/images/galleries/136/DSC_7166_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
