---
layout: 'default'
title: 'Offene Steinbruchwerkstatt 2005'
---

%h1 Fotoalbum
%h2 Offene Steinbruchwerkstatt 2005
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/58/262096991_1acdebd957_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262096991_1acdebd957_o'}
        %img{alt: '262096991_1acdebd957_o', height: '250', src: '/images/galleries/58/262096991_1acdebd957_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/262099091_e4242f96c9_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262099091_e4242f96c9_o'}
        %img{alt: '262099091_e4242f96c9_o', height: '250', src: '/images/galleries/58/262099091_e4242f96c9_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/000_logo_800x800.jpg', rel: 'lightbox[gallery]', title: '000_logo'}
        %img{alt: '000_logo', height: '250', src: '/images/galleries/58/000_logo_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/262097661_34c3faae79_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262097661_34c3faae79_o'}
        %img{alt: '262097661_34c3faae79_o', height: '250', src: '/images/galleries/58/262097661_34c3faae79_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/262098421_20cda53626_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262098421_20cda53626_o'}
        %img{alt: '262098421_20cda53626_o', height: '250', src: '/images/galleries/58/262098421_20cda53626_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/262097750_e7e94fa38d_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262097750_e7e94fa38d_o'}
        %img{alt: '262097750_e7e94fa38d_o', height: '250', src: '/images/galleries/58/262097750_e7e94fa38d_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/262097107_018c4c04d8_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262097107_018c4c04d8_o'}
        %img{alt: '262097107_018c4c04d8_o', height: '250', src: '/images/galleries/58/262097107_018c4c04d8_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/262097822_ca12684ca5_o_800x800.jpg', rel: 'lightbox[gallery]', title: '262097822_ca12684ca5_o'}
        %img{alt: '262097822_ca12684ca5_o', height: '250', src: '/images/galleries/58/262097822_ca12684ca5_o_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/1_800x800.png', rel: 'lightbox[gallery]', title: '1'}
        %img{alt: '1', height: '250', src: '/images/galleries/58/1_c250x250.png', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/2_800x800.png', rel: 'lightbox[gallery]', title: '2'}
        %img{alt: '2', height: '250', src: '/images/galleries/58/2_c250x250.png', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/3_800x800.png', rel: 'lightbox[gallery]', title: '3'}
        %img{alt: '3', height: '250', src: '/images/galleries/58/3_c250x250.png', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/4_800x800.png', rel: 'lightbox[gallery]', title: '4'}
        %img{alt: '4', height: '250', src: '/images/galleries/58/4_c250x250.png', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/5_800x800.png', rel: 'lightbox[gallery]', title: '5'}
        %img{alt: '5', height: '250', src: '/images/galleries/58/5_c250x250.png', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/SKMBT_C20310041508070_20-31-42_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508070_20-31-42'}
        %img{alt: 'SKMBT_C20310041508070_20-31-42', height: '250', src: '/images/galleries/58/SKMBT_C20310041508070_20-31-42_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/SKMBT_C20310041508110_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508110'}
        %img{alt: 'SKMBT_C20310041508110', height: '250', src: '/images/galleries/58/SKMBT_C20310041508110_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/SKMBT_C20310041508120_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508120'}
        %img{alt: 'SKMBT_C20310041508120', height: '250', src: '/images/galleries/58/SKMBT_C20310041508120_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/SKMBT_C20310041508130_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508130'}
        %img{alt: 'SKMBT_C20310041508130', height: '250', src: '/images/galleries/58/SKMBT_C20310041508130_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/58/SKMBT_C20310041508140_800x800.jpg', rel: 'lightbox[gallery]', title: 'SKMBT_C20310041508140'}
        %img{alt: 'SKMBT_C20310041508140', height: '250', src: '/images/galleries/58/SKMBT_C20310041508140_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
%br
%br
%a.arrow{ href: 'http://www.steinbruch-maegenwil.ch/' } Besuchen Sie die Webseite des Steinbruches Mägenwil