---
layout: 'default'
title: 'Sagenweg Geburtstag - Uralte Spiele'
---

%h1 Fotoalbum
%h2 Sagenweg Geburtstag 'Uralte Spiele'
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_1413_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_1413'}
        %img{alt: 'IMG_1413', height: '250', src: '/images/galleries/135/IMG_1413_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_1530_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_1530'}
        %img{alt: 'IMG_1530', height: '250', src: '/images/galleries/135/IMG_1530_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_1741_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_1741'}
        %img{alt: 'IMG_1741', height: '250', src: '/images/galleries/135/IMG_1741_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5165_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5165'}
        %img{alt: 'IMG_5165', height: '250', src: '/images/galleries/135/IMG_5165_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5404_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5404'}
        %img{alt: 'IMG_5404', height: '250', src: '/images/galleries/135/IMG_5404_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5255_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5255'}
        %img{alt: 'IMG_5255', height: '250', src: '/images/galleries/135/IMG_5255_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5190_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5190'}
        %img{alt: 'IMG_5190', height: '250', src: '/images/galleries/135/IMG_5190_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5487_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5487'}
        %img{alt: 'IMG_5487', height: '250', src: '/images/galleries/135/IMG_5487_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5628_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5628'}
        %img{alt: 'IMG_5628', height: '250', src: '/images/galleries/135/IMG_5628_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/135/IMG_5481_800x800.jpg', rel: 'lightbox[gallery]', title: 'IMG_5481'}
        %img{alt: 'IMG_5481', height: '250', src: '/images/galleries/135/IMG_5481_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
