---
layout: 'default'
title: 'Sagenweg im Winter'
---

%h1 Fotoalbum
%h2 Sagenweg im Winter
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/76/Brennende_M_nner_800x800.jpg', rel: 'lightbox[gallery]', title: 'Brennende_M_nner'}
        %img{alt: 'Brennende_M_nner', height: '250', src: '/images/galleries/76/Brennende_M_nner_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Eichmann_800x800.jpg', rel: 'lightbox[gallery]', title: 'Eichmann'}
        %img{alt: 'Eichmann', height: '250', src: '/images/galleries/76/Eichmann_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Hexe_Sonne_800x800.jpg', rel: 'lightbox[gallery]', title: 'Hexe_Sonne'}
        %img{alt: 'Hexe_Sonne', height: '250', src: '/images/galleries/76/Hexe_Sonne_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Hexe_800x800.jpg', rel: 'lightbox[gallery]', title: 'Hexe'}
        %img{alt: 'Hexe', height: '250', src: '/images/galleries/76/Hexe_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Kegler_800x800.jpg', rel: 'lightbox[gallery]', title: 'Kegler'}
        %img{alt: 'Kegler', height: '250', src: '/images/galleries/76/Kegler_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Stifeliryter_800x800.jpg', rel: 'lightbox[gallery]', title: 'Stifeliryter'}
        %img{alt: 'Stifeliryter', height: '250', src: '/images/galleries/76/Stifeliryter_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Tanzplatz_800x800.jpg', rel: 'lightbox[gallery]', title: 'Tanzplatz'}
        %img{alt: 'Tanzplatz', height: '250', src: '/images/galleries/76/Tanzplatz_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Zwerg_ohne_Spiegel_800x800.jpg', rel: 'lightbox[gallery]', title: 'Zwerg_ohne_Spiegel'}
        %img{alt: 'Zwerg_ohne_Spiegel', height: '250', src: '/images/galleries/76/Zwerg_ohne_Spiegel_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Zwerg_hoch_800x800.jpg', rel: 'lightbox[gallery]', title: 'Zwerg_hoch'}
        %img{alt: 'Zwerg_hoch', height: '250', src: '/images/galleries/76/Zwerg_hoch_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/76/Zwerg_800x800.jpg', rel: 'lightbox[gallery]', title: 'Zwerg'}
        %img{alt: 'Zwerg', height: '250', src: '/images/galleries/76/Zwerg_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
