---
layout: 'default'
title: 'Waldpurgisnacht'
---

%h1 Fotoalbum
%h2 Waldpurgisnacht
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/84/verylarge_800x800.jpeg', rel: 'lightbox[gallery]', title: 'verylarge'}
        %img{alt: 'verylarge', height: '250', src: '/images/galleries/84/verylarge_c250x250.jpeg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/84/verylarge-5_800x800.jpeg', rel: 'lightbox[gallery]', title: 'verylarge-5'}
        %img{alt: 'verylarge-5', height: '250', src: '/images/galleries/84/verylarge-5_c250x250.jpeg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/84/verylarge-1_800x800.jpeg', rel: 'lightbox[gallery]', title: 'verylarge-1'}
        %img{alt: 'verylarge-1', height: '250', src: '/images/galleries/84/verylarge-1_c250x250.jpeg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/84/verylarge-2_800x800.jpeg', rel: 'lightbox[gallery]', title: 'verylarge-2'}
        %img{alt: 'verylarge-2', height: '250', src: '/images/galleries/84/verylarge-2_c250x250.jpeg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/84/verylarge-3_800x800.jpeg', rel: 'lightbox[gallery]', title: 'verylarge-3'}
        %img{alt: 'verylarge-3', height: '250', src: '/images/galleries/84/verylarge-3_c250x250.jpeg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/84/verylarge-4_800x800.jpeg', rel: 'lightbox[gallery]', title: 'verylarge-4'}
        %img{alt: 'verylarge-4', height: '250', src: '/images/galleries/84/verylarge-4_c250x250.jpeg', width: '250'}/
%br{style: 'clear:both;'}/
