---
layout: 'default'
title: 'Auf dem Hexenbesen fliegen'
---

%h1
  Auf dem Hexenbesen fliegen
%p
  %em Waltenschwil: Baugesuch für den Sagenweg liegt öffentlich auf
%p
  Das Projekt ist schon länger bekannt. Im Zusammenhang mit dem Bildhauersymposium
  im kommenden Jahr möchten die Organisatoren und «Erlebnis Freiamt» einen
  Sagenweg schaffen. Jetzt wird es konkret: Das Baugesuch liegt auf, die
  Unterlagen sind auch beim Kanton.
%p
  In Zukunft könnte der Spaziergang durch den Waltenschwiler Wald zu einer
  spannenden Reise in die Welt der Sagen und Mythen werden. Der Weg führt
  vorbei an mächtigen Wesen und Gestalten aus Stein und Holz. An Figuren
  und Symbolen, die an längst vergessene Geschichten erinnern. Geschichten,
  die es wert sind, wieder entdeckt zu werden.
%p
  Entstehen werden die Sagengestalten am 2. Freiämter Bildhauersymposium
  vom 28. Mai bis 6. Juni nächsten Jahres. Nach dem Erfolg der Erstauflage
  haben der Wohler Rafael Häfliger und der Niederwiler Alex Schaufelbühl
  zehn Künstler eingeladen, mit ihnen zusammen beim Wohler Waldhaus Chüestellihau
  ihrer Arbeit als Bildhauer nachzugehen. Während zehn Tagen kann das Publikum
  den Teilnehmern des Symposiums über die Schultern schauen und beobachten,
  wie aus Holz, Stein und weiteren Materialien imposante Skulpturen entstehen.
  Jeder der 12 Künstler wählt dabei eine Freiämter Sage als Motiv. Damit
  wollen die Teilnehmer einen generationenübergreifenden Beitrag leisten
  zur Identifikation einer Region. Und dazu beitragen, dass die Sagen als
  wichtiges Kulturgut erhalten und im Gedächtnis bleiben.
%h2
  Kanton hat noch nicht entschieden
%p
  Die Bewilligung für das Symposium liegt inzwischen vor. Entstehen werden
  die Figuren also sicher. Ob sie aber als bleibende Kunstwerke einen fixen
  Platz im Wald erhalten und mit ihnen zusammen ein richtiger, die Jahre
  überdauernder Sagenweg entsteht, das ist noch ungewiss. Nach erfolglosen
  Versuchen in Wohlen und Bremgarten soll das Projekt auf Waltenschwiler
  Boden umgesetzt werden. Gemeinderat und Ortsbürger haben ihr grundsätzliches
  Einverständnis gegeben, jetzt liegt das Baugesuch auf der Gemeindekanzlei
  in Waltenschwil auf.
%p
  Ausstehend ist noch immer die Bewilligung von Seiten des Kantons. «Die
  Unterlagen sind eingetroffen, wir haben sie geprüft, aber entschieden ist
  noch nichts», sagt Kreisförster Erwin Jansen. Der Entscheid ist nicht einfach,
  weil das Gesetz im Prinzip jegliche feste Bauten im Wald verbietet. Ob
  es für ein solches Projekt eine Ausnahme gibt, kann Jansen noch nicht sagen.
%h2
  Von den «brennenden Männer» zum «Teufel von Isenburg»
%p
  Der Start zum Sagenweg erfolgt wenige Meter nach dem Waltenschwiler Waldhaus.
  Hier begegnen interessierte Spaziergänger gleich der wohl grössten und
  mit drei Tonnen schwersten Figur, inspiriert von der Geschichte über die
  «brennenden Männer». Aus einem rohen, über 3,3 Meter hohen Steinblock wird
  Rafael Häfliger eine figürliche Arbeit herausspitzen. Etwas weiter weg
  erwartet die «Waltenschwiler Hexe» die Fussgänger, hier können Kinder auf
  einer Schaukel mit dem Hexenbesen durch die Luft fliegen. Auf der anderen
  Seite des Weges werden die klingenden Stelen von René Philipp an die «Hexenmusik
  im Maiengrün» erinnern. Von hier aus geht es auf dem bestehenden Freiämterweg
  weiter, vorbei an den «Keglern im Uezwiler Wald» und dem «Stifeliryter»,
  der wohl bekanntesten Freiämter Sagengestalt, der sich der zweite Veranstalter,
  Alex Schaufelbühl, annimmt.
%p
  Es folgen der «Zwerg von Muri», die «Drei Angelsachsen», der auf seinem
  Baumsitz thronende «Wohler Eichmann» und die Arbeit zur Geschichte über
  das «Rüssegger Licht». In einer bestehenden Grube findet der «Rote Wyssebacher»
  Platz, den Abschluss des Weges (beziehungsweise den Anfang, wenn man von
  der anderen Seite her kommt) bilden der «Tanzplatz von Zufikon» und «Der
  Teufel auf der Isenburg». Diese Arbeiten stehen dann bei der Abzweigung
  zum Erdmannlistein, der ja selber auch Bestandteil einer Sage ist.Abgesehen
  von einem kurzen Trampelpfad für die «Kegler von Uezwil» wird der bestehende
  Freiämter Weg benutzt. An beiden Enden des Sagenwegs machen Infotafeln
  auf das Projekt aufmerksam. Bei den Figuren selber werden Tafeln mit den
  Sagentexten aufgestellt. Die einzelnen, bis zu drei Meter hohen Figuren
  werden fix im Waldboden verankert und damit auch gesichert. Speziell für
  Schulklassen sollen didaktische Hilfsmittel bereitgestellt werden, mit
  denen sich das Thema ausweiten lässt. Zudem soll der neue Sagenweg eine
  Verbindung schaffen vom Erdmannlistein zum Waltenschwiler Tierpark.Die
  Trägerschaft über den Sagenweg hat die Vereinigung «Erlebnis Freiamt» übernommen.
  Der Verein ist später auch verantwortlich für den Unterhalt. Vorerst aber
  muss die Bewilligung für diesen Kulturpfad vorliegen. Falls alles klappt,
  soll im Herbst 2010 ein grosses Einweihungsfest stattfinden. An dem die
  Waltenschwiler Hexe dann sicher auch gerne teilnimmt. Mit oder ohne ihren
  Besen.
%p
  %em Wohler Anzeiger, 10. Juli 2009, Autor Chregi Hansen
