---
layout: 'default'
title: 'Bald reitet der Stifeliryter durch den Wald'
---

%h1
  Bald reitet der Stifeliryter durch den Wald
%p
  %strong
    Im nächsten Sommer erwachen Freiämter Sagen in Waltenschwil zum Leben.
    Nach dem Bildhauersymposium beim Wohler Waldhaus Chüestellihau werden zwölf
    neu geschaffene Skulpturen für fünf Jahre im Wald aufgestellt. So entsteht
    entlang dem Freiämterweg ein neuer Sagenweg.
%p
  Steine und Kapellen sind heute oft die einzigen sichtbaren Hinweise auf
  den reichen Freiämter Sagenschatz. Das soll sich nun ändern. Zwölf Bildhauer
  treffen sich nächstes Jahr vom 28. Mai bis zum 6. Juni beim Waldhaus Chüestellihau
  in Wohlen, um an einem Symposium gemeinsam in einer grossen Freiluftwerkstatt
  ihre Kunstwerke in Holz und Stein zu realisieren. Das Thema heisst Freiämter
  Sagen. Während der neun Tage wird es möglich sein, den Bildhauerinnen und
  Bildhauern über die Schulter zu schauen, dem Entstehungsprozess beizuwohnen
  und da und dort vielleicht auch selber ein bisschen Hand anzulegen. Nach
  dem Symposium werden die insgesamt zwölf neu geschaffenen Skulpturen und
  Sagenfiguren entlang dem Freiämterweg zum Sagenweg Freiamt aufgebaut. Die
  Gemeinde Waltenschwil, der Kanton Aargau, die Ortsbürger und die Jäger
  haben dem auf fünf Jahre begrenzten Projekt zugestimmt.
%h2
  Idee stammt von zwei Bildhauern
%p
  Als Alex Schaufelbühl und Raffael Häfliger, die beiden Vertreter der Bildhauer,
  mit dem Verein Erlebnis Freiamt Kontakt aufnahmen, um diese Idee zu lancieren,
  wusste niemand genau, worauf man sich einliess. Gesuche wurden verfasst,
  Gespräche gesucht.
%p
  Nach der Absage der Behörden in Wohlen zeichnete sich schliesslich 2009
  in Waltenschwil eine Lösung ab. Wald- und Landbesitzer, Förster und Kanton,
  Jäger und Ortsbürger fanden sich zusammen und gaben den Bildhauern und
  dem Verein Erlebnis Freiamt für fünf Jahre grünes Licht zur Erstellung
  des Sagenwegs Freiamt.
%h2
  Interesse an Bildhauerei ist gross
%p
  Die vergangenen Bildhauersymposien haben gezeigt, welch grosses Interesse
  das gestalterische Handwerk über alle Altersgruppen hinweg ausgelöst hat.
  Doch was soll mit den zwölf sagenhaften Skulpturen nach dem Symposium geschehen?
  Diese Frage führte zu einer neuen Idee: Wie wäre es, wenn die Bildnisse
  erhalten blieben und Wanderern auf dem Freiämterweg ein Dutzend Geschichten
  erzählen würden, die im und vom Freiamt handelten?
%p
  Die Umsetzungen der Sagen in Stein, Holz und Metall sollen ab einer Wegstrecke
  des Freiämterwegs kurz vor dem Tierpark Waltenschwil zu liegen kommen.
  Auf diesem gut 400 Meter langen Stück des Waldwegs sollen die Darstellungen
  mit Texten als erzählende Begleiter die Strecke säumen.
%p
  Vorab Schulklassen mit ihren Lehrkräften, aber auch Familien und Wanderer
  werden die Bildnisse sehen und die Sagentexte lesen.
%p
  Zur Vorbereitung eines Besuchs werden Schulklassen der Unter- und Mittelstufe
  die Sagentexte und weitere Unterrichtshilfen über die Geschäftsstelle von
  Erlebnis Freiamt bei Muri Info bestellen können. «Als bleibendes Ausflugsziel
  mit dreidimensional begehbaren Bildern wird im Wald ein Ort geschaffen,
  wo das Sagengut der Region wieder auflebt», beschreibt Erlebnis Freiamt
  das Projekt.
%p
  %em Aargauer Zeitung, 8. Oktober 2009, Autor: Fabian Hägler
