---
layout: 'default'
title: 'Der «Drache von Villmergen kehrt zurück»'
---

%h1
  Der «Drache von Villmergen kehrt zurück»
%p
  %em
    ERDMANNLISTEIN · In einer Bildhauerwoche im Juni 2003 sollen mitten im
    Wald Freiämter Sagen aufleben Mindestens 10 Bildhauer werden sich Ende
    Juni des nächsten Jahres um den Erdmannlistein versammeln und eine Woche
    lang öffentlich arbeiten.
%p
  Stein zu hauen, stellt man sich nicht zuerst als Gruppenerlebnis und nicht
  zuerst als öffentliches Ereignis vor. Doch das ändert mehr und mehr, sind
  doch in den letzten Jahren Bildhauerwochen zahlreicher geworden. Auch die
  Steinbildhauer Felix Bitterli aus Sins und Rafael Häfliger aus Wohlen haben
  es in die Hand genommen, mit ihrer Kunst so in die Öffentlichkeit zu gehen.
  Seit einiger Zeit laufen ihre Vorbereitungen für ein Bildhauer-Symposium
  mit dem Thema Freiämter Sagen. Für die beiden war klar, dass sich von den
  sagenumwobenen Plätzen im Freiamt der Erdmannlistein am besten eignen würde.
  Er ist abgeschieden und doch gut erreichbar.
%p
  Den allermeisten beteiligten Bildhauern ist der Erdmannlistein ein Begriff
  gewesen, sind doch die meisten aus dem Freiamt. Sicher dabei sind neben
  den beiden Organisatoren Alex Schaufelbühl, Patrick Stecy, Fabio Rudolf,
  Roman Sonderegger, Ramin Denzer, Britta Breitschmied, Nicolas Wittwer und
  Christian Gadient. Am Samstagnachmittag haben sie und die Wohler Kultursekretärin
  Iris Küng sowie Kunstkommissions-Präsidentin Hanni Corboz sich getroffen,
  um Details abzuklären, um den Erdmannlistein zu besuchen und um einen ersten
  Blick in ihren Stoff zu werfen. Alle erhielten eine Ausgabe von Hans Kochs
  Sammlung der Freiämter Sagen mit dem Stiefeliryter, dem Kruggeist vom Gnadenthal,
  dem Dorfhund von Benzenschwil, dem Wohler Eichmann und dem Drachen von
  Villmergen.
%h2
  Bildhauerei als Prozess
%p
  Alle Teilnehmer sind frei in der Wahl der Technik oder des Materials.
  Neben Stein wird sicher auch Holz bearbeitet. Die Bildhauer werden an ihren
  Ständen ihre Arbeit mit Fotos, Erklärungen und allenfalls Modellen dokumentieren
  \- statt nur als fertiges Werk sollen die Besucher die Bildhauerei als Prozess
  erleben. Ein zusätzlicher Stand wird zudem über die verschiedenen Stein-Berufe
  informieren. Schliesslich sollen nicht zuletzt die Schulklassen der Region
  eingeladen werden, in dieser letzten Juniwoche die Steinbildhauer zu besuchen.
  Zum Ausprobieren wird ein Publikumsstein aufgestellt. Dass er aus weichem
  Sandstein ist, macht Sinn: Alex Schaufelbühl wies darauf hin, dass beim
  weit über einer Tonne schweren Publikumsstein an der Bremgarter Bildhauerwoche
  nur einige wenige Kilo abgeschlagen wurden.
%p
  Von Montag bis Sonntag wollen die Bildhauer jeweils von 10 bis 20 Uhr
  an der Arbeit sein. Für die fertigen Werke steht eine Ausstellung im Gemeindehaus
  Wohlen zur Diskussion, doch gehört das noch zu den offenen Fragen. Bereits
  fix ist die Bewilligung, den Anlass beim Erdmannlistein durchführen zu
  können. «Wir verlassen den Platz sauberer, als wir ihn vorfinden», versprechen
  die beiden Organisatoren Rafael Häfliger und Felix Bitterli. Und sie sind
  auch daran, Kontakt aufzunehmen mit jenen, die einen allzu grossen Besucherstrom
  zum Erdmannlistein nicht gerne sehen.
%p
  %em Aargauer Zeitung / MLZ, 16. Dezember 2002, Autor: Philip Gehri
