---
layout: 'default'
title: 'Ehrengast am Luzerner Stadtlauf'
---

%h1
  Ehrengast am Luzerner Stadtlauf
%p
  %em
    Tourismusorganisation «Erlebnis Freiamt» macht grossen Schritt Richtung
    Professionalisierung
%p
  %strong
    «Erlebnis Freiamt» ist bestrebt, die Region ins beste Licht zu rücken.
    Unter anderem mit einer neuen Homepage und einem Auftritt am Luzerner Stadtlauf
    vom 24. April 2010.
%p
  Noch ist es ein relativ kleiner Verein ohne grosse Mittel. Aber dank viel
  ehrenamtlicher Arbeit und einer gesunden Portion Enthusiasmus schaffen
  es die Verantwortlichen immer wieder, das Freiamt gegen aussen als Tourismusregion
  bestmöglich darzustellen. Der Freiämterweg ist eine Erfolgsgeschichte,
  ebenso der Kinderweg in Benzenschwil. «Jetzt konnten wir einen weiteren
  Schritt Richtung Professionalisierung machen», sagt Präsident Erich Näf.
%h2
  www.freiamt.ch als Informationsportal
%p
  Als erste Region des Aargaus verfügt «Erlebnis Freiamt» seit einer Woche
  über eine Homepage, die nach dem gleichen Konzept aufgebaut ist wie die
  Internetauftritte von Schweiz Tourismus und Aargau Tourismus. Mit wenigen
  Klicks erhält der Benützer alle verfügbaren touristischen und gastronomischen
  Informationen inklusive GPS-geführter Wanderrouten mit umfangreichem Kartenmaterial,
  dazu historische und geografische Angaben über das Freiamt bis hin zu speziellen
  Angeboten wie «Schlafen im Stroh» oder «Ferien auf dem Bauernhof» sowie
  ein Veranstaltungskalender. «Wir werden die Homepage kontinuierlich ausbauen
  und sind dabei für Hinweise aus der Bevölkerung dankbar», sagt Näf.
%p
  Im nächsten Jahr plant der Verein verschiedene Aktivitäten, wie Vizepräsident
  Peter Hägler mitteilte. In der Vollmondnacht vom 25. auf den 26. Juni gibt
  es auf dem Mutschellen eine geführte Nachtwanderung und am 4. September
  wird das Untere Freiamt erwandert.
%h2
  Bildhauersymposium und Sagenweg in Waltenschwil
%p
  Ein Höhepunkt des Vereinsjahres wird das Bildhauersymposium vom 28. Mai
  bis 6. Juni beim Wohler Waldhaus «Chüestellihau» zum Thema «Freiämter Sagen»
  sein. Zwölf Künstler werden in einer offenen Werkstatt je eine Skulptur
  zu einer Freiämter Sage schaffen. Die Kunstwerke werden anschliessend während
  vorläufig fünf Jahren entlang eines Abschnittes des Freiämterweges in der
  Nähe des Tierparks Waltenschwil im Wald aufgestellt. «Mit dem Sagenweg
  wird das Freiamt über eine weitere Attraktion von überregionaler Ausstrahlung
  verfügen», freut sich Erich Näf. «Erlebnis Freiamt» wird für den Unterhalt
  des Weges zuständig sein.
%h2
  Sportliche Freiämter gesucht
%p
  Eine grosse Herausforderung bildet für den Verein die Einladung als Ehrengast
  an den Luzerner Stadtlauf vom 24. April. Dort kann sich die Region den
  Tausenden von Teilnehmern und Zuschauern so gut wie möglich präsentieren.
  «Das Freiamt ist in der Wahrnehmung der Innerschweizer noch immer eine
  eher unbekannte Region», sagt Hägler. Das soll sich mit einem ebenso fulminanten
  wie sympathischen Auftritt ändern. Mit Aktivitäten, Infoständen und einem
  Auftritt bei der Eröffnungszeremonie des Laufes in der Altstadt wird sich
  das Freiamt präsentieren können. «Natürlich hoffen wir auf die Unterstützung
  von möglichst vielen sportlichen Freiämterinnen und Freiämtern», sagt Hägler
  und stellt auch in Aussicht, dass die eine oder andere prominente Persönlichkeit
  aus Politik, Kultur und Wirtschaft mithelfen wird, die Farben des Freiamts
  in Luzern würdig zu vertreten.
%p
  %em Wohler Anzeiger, 5. Januar 2010, Autor: fel
