---
layout: 'default'
title: 'Grünes Licht für fünf Jahre'
---

%h1
  Grünes Licht für fünf Jahre
%p
  %em
    Waltenschwil: Der Sagenweg Freiamt kann 2010 beim Tierpark realisiert
    werden
%p
  %strong
    Nach dem Bildhauersymposium in Wohlen vom kommenden Sommer werden die
    neu geschaffenen Skulpturen und Sagenfiguren entlang des Freiämterwegs
    aufgebaut. Die Gemeinde Waltenschwil, der Kanton, Ortsbürger und Jäger
    haben dem zeitlich begrenzten Projekt nun zugestimmt.
%p
  Die zahlreichen Sagen des Freiamts sind ein eindrückliches Kulturgut dieser
  von Wäldern und Naturlandschaften verwöhnten Region an Reuss und Bünz.
  Wer kennt sie nicht, die unheimlichen, magischen und oft auch gruseligen
  Geschichten: Der Stifeliryter zu Muri, die Erdmannli im Wohler Wald und
  die Angelsachsen mit den blutigen Köpfen bei der Kapelle St. Wendelin in
  Sarmenstorf. Steine und Kapellen sind häufig die einzigen sichtbaren Hinweise
  auf den reichen Freiämter Sagenschatz.
%h2
  Zwölf Bildhauer in der Freiluftwerkstatt
%p
  Das soll sich nun ändern. Zwölf Bildhauer treffen sich nächstes Jahr vom
  28. Mai bis zum 6. Juni beim Waldhaus Chüestellihau in Wohlen, um gemeinsam
  an einem Symposium in einer Freiluftwerkstatt ihre Kunstwerke in Holz und
  Stein zu realisieren. Das Thema lautet: «Freiämter Sagen».
%p
  Während der neun Tage wird es möglich sein, den Bildhauerinnen und Bildhauern
  über die Schultern zu schauen, dem spannenden Entstehungsprozess beizuwohnen
  und da und dort vielleicht auch selber Hand anzulegen. «Die vergangenen
  Symposien haben gezeigt, welch grosses Interesse das gestalterische Handwerk
  über alle Altersgruppen hinweg ausgelöst hat», sagen die beiden Initianten
  Alex Schaufelbühl und Rafael Häfliger. Vorab die heranwachsende Generation
  erlebte noch nie Gesehenes, Elementares und konnte selber mitgestalten.Doch
  was soll mit den sagenhaften Skulpturen nach dem Symposium geschehen? Diese
  Frage führte zu einer neuen Idee: Wie wäre es, wenn die Bildnisse erhalten
  blieben, den Wanderinnen und Wanderern entlang des Freiämterwegs ein Dutzend
  Geschichten erzählen würden, die im und vom Freiamt handelten?
%h2
  Absage in Wohlen
%p
  Als die beiden Vertreter der Bildhauer, Alex Schaufelbühl und Rafael Häfliger,
  mit «Erlebnis Freiamt» Kontakt aufnahmen, um diese Idee zu lancieren, wusste
  keiner, worauf man sich da einliess. Gesuche wurden verfasst, Gespräche
  gesucht. Nach der Absage der Behörden in Wohlen zeichnete sich schliesslich
  in Waltenschwil eine Lösung ab. Wald- und Landbesitzer, Förster und Kanton,
  Jäger und Ortsbürger fanden sich zusammen und gaben den Bildhauern und
  dem Verein Erlebnis Freiamt für fünf Jahre grünes Licht zur Erstellung
  des Sagenwegs Freiamt.
%p
  Die zwölf Resultate der künstlerischen Arbeit verdienen es, in einer Gesamtschau
  der Nachwelt erhalten zu werden, und sei es auch nur bis Ende 2015. Denn
  eines steht fest: Sagen bilden in Schule und Wissenschaft einen eigenen
  Themenkreis, werden nach wie vor auch im privaten Umfeld erzählt, sind
  also ein wesentlicher Bestandteil des kollektiven Gedächtnisses. Auch leisten
  Sagen einen wichtigen Beitrag zur Identifikation einer Region. Aber sie
  gehen verloren, wenn man sie nicht immer wieder zu neuem Leben erweckt,
  indem man sie erzählt.
%h2
  Die Lösung: Sagenweg im Wald
%p
  Die Umsetzungen der Sagen in Stein, Holz und Metall, einfach lesbar und
  populär, sollen entlang einer Wegstrecke des Freiämterwegs, kurz vor dem
  Tierpark, zu stehen kommen. Auf diesem 400 Meter langen Stück des Waldwegs
  sollen die Darstellungen inklusive Texte als erzählende Wegbegleiter die
  Strecke säumen. Vorab Schulklassen mit ihren Lehrkräften, aber auch Familien,
  Wanderinnen und Wanderer werden die Bildnisse sehen können, den Text vor
  Ort lesen und an den uralten Mythen, manchmal romantischen, dann wieder
  dramatischen Geschichten ihre Freude haben. Zur Vorbereitung des Besuchs
  werden Schulklassen der Unter- und Mittelstufe Sagentexte sowie Unterrichtshilfen
  über die Geschäftsstelle von «Erlebnis Freiamt» bei Muri Info bestellen
  können. Als bleibendes Ausflugsziel mit dreidimensional begehbaren Bildern
  wird im Wald ein Ort geschaffen, an dem das wichtige Sagengut wieder aufleben
  kann. Schulreisen, aber auch viele Familien werden vom Geschichtenpark
  profitieren.
Wohler Anzeiger, 9. Oktober 2009, Autor: pd
