---
layout: 'default'
title: 'Kein Sagenweg im Wohler Wald'
---

%h1
  Kein Sagenweg im Wohler Wald
%p
  %em
    Das 2. Freiämter Bildhauersymposium beim Waldhaus Chüestellihau wird um
    ein Jahr verschoben
%p
  Das für nächsten Juni geplante Bildhauersymposium zum Thema «Freiämter
  Sagen» findet erst im Jahr 2010 statt. Dafür zeichnet sich endlich eine
  Lösung für den bleibenden Sagenweg ab. In Waltenschwil.
%p
  Das Projekt der beiden Künstler Alex Schaufelbühl und Rafael Häfliger
  sorgte bereits im Vorfeld für Furore. Zwölf namhafte Künstler sollen das
  Gebiet beim Waldhaus Chüestellihau in eine Freiluftwerkstatt verwandeln.
  Während einer Woche sollen dabei Kunstwerke aus der Freiämter Sagenwelt
  entstehen. Die Erstauflage des Bildhauersymposiums 2003 war mit 3500 Besuchern,
  darunter vielen Schulklassen, ein voller Erfolg.
%h2
  Anlass ja, Sagenweg nein
%p
  Die zwölf Kunstwerke sollen, so die Idee der Initianten, anschliessend
  während 25 Jahren entlang des Freiämterweges stehen bleiben und als stille
  Attraktion den Kulturwanderweg bereichern. Die Trägerschaft des Sagenweges
  übernimmt der Verein Erlebnis Freiamt, der schon den Freiämterweg realisiert
  hat. Präsident Erich Näf ist begeistert von der Idee: «Wir sind überzeugt,
  dass der Sagenweg eine enorme Bereicherung des Freiämterweges bedeuten
  würde, zumal auch ein pädagogischer Mehrwert resultiert.» Schliesslich
  seien Sagen ein Bestandteil des kollektiven Gedächtnisses und stifteten
  regionale Identität.
%p
  Nur: Auf Wohler Boden lässt sich der Sagenweg definitiv nicht verwirklichen.
  Nach einer Planungszeit von fünf Jahren und unzähligen Gesuchen und Verhandlungen
  bekamen die Initianten im Oktober von Gemeinderat Christian Müller den
  definitiven Bescheid: keine bleibenden Bauten im Wohler Wald. «Das Symposium
  und der Sagenweg sind aber eng miteinander verbunden», erklärt Alex Schaufelbühl,
  «wegen der Verzögerungen mit dem Sagenweg mussten wir den Anlass um ein
  Jahr verschieben. Dafür ist jetzt auch eine neue Bewilligung nötig.» Neu
  wird das Symposium vom 28. Mai bis 6. Juni 2010 stattfinden.
%h2
  Zwei Gesuche chancenlos
%p
  Ursprünglich war der Sagenweg im Bereich des Erdmannlisteins geplant,
  «dem Epizentrum der Freiämter Sagenwelt», wie Schaufelbühl sagt. Dieses
  erste Gesuch lehnte der Gemeinderat am 7. Januar 2008 ab. Als einzig denkbare
  Örtlichkeit für den Sagenweg bezeichnete der Gemeinderat damals die Strasse
  zwischen dem Forstmagazin und dem Waldhaus Chüestellihau.
%p
  Das wiederum kam für die Organisatoren nicht infrage. «Die Idee ist, die
  Leute in eine besondere Stimmung zu versetzen und für die Sagenwelt empfänglich
  zu machen», erklärt Schaufelbühl. Dazu gehöre die geheimnisvolle Atmosphäre
  im Wald mit dem Moos an den Bäumen und dem manchmal etwas unheimlichen
  Lichteinfall. «Das geht beim Forstmagazin alles nicht.»Alex Schaufelbühl
  und Rafael Häfliger gaben nicht auf und versuchten es im Sommer mit einem
  neuen Gesuch. Gemäss Protokoll zeigte sich der Gemeinderat «sehr überrascht,
  dass man sich über seinen Entscheid vom 7. Januar bezüglich Standort des
  Sagenweges hinwegsetzt». Der Gemeinderat verwies auf die verschiedenen
  Interessen, die im Wald auf-einandertreffen, zeigte sich aber immerhin
  willens, die Gesuchsunterlagen an die Ortsbürger- und die Forstkommission
  weiterzuleiten mit der Bitte um eine Stellungnahme. Im Oktober kam dann
  das definitive Aus: «Das Gespräch mit Gemeinderat Müller dauerte etwa drei
  Minuten», erinnert sich Erlebnis-Freiamt-Präsident Erich Näf.
%h2
  Offene Arme in Waltenschwil
%p
  Auch nach diesem erneuten Rückschlag gaben die Initianten nicht auf. Mit
  der Unterstützung von Erlebnis Freiamt suchten die beiden Künstler nach
  neuen Lösungen und wurden in Waltenschwil fündig. «Bei Gemeindeammann Josef
  Füglistaler stiessen wir mit unserem Vorhaben sofort auf Interesse», sagt
  Erich Näf.
%p
  Dann ging plötzlich alles ganz schnell. Bereits im Februar signalisierten
  auch die Waltenschwiler Ortsbürger ihr grundsätzliches Ja zum Projekt und
  am 2. März gab der Gemeinderat unter Bedingungen und Auflagen grünes Licht
  für den Freiämter Sagenweg. Jetzt kann das Baubewilligungsverfahren für
  Bauten ausserhalb der Bauzone eingeleitet werden. Nach dem Ja des Gemeinderates
  ist als letzte Hürde nur noch die Zustimmung der kantonalen Abteilung Wald
  ausstehend.
%h2
  20 Meter neben der Ortsgrenze
%p
  Neu soll der Sagenweg entlang des Freiämterweges ab Tierpark Waltenschwil
  rund 500 Meter in den Wald hinein Richtung Erdmannlistein führen. Die zwölfte
  und letzte Skulptur wird rund 20 Meter neben der Wohler Ortsgrenze stehen.
%p
  Mit diesem Kompromiss können sowohl die beiden Künstler als auch Erlebnis
  Freiamt gut leben. «Aus unserer Sicht ist der Standort beim Tierpark sogar
  noch idealer als beim Erdmannlistein», freut sich Erich Näf. Er ist überzeugt
  davon, dass der Sagenweg zu einer Freiämter Attraktion mit grosser Ausstrahlungskraft
  werden wird. Und das darf gerne auch in Waltenschwil sein.
%p
  %em Wohler Anzeiger, 17. April 2009, Autor: fel
