---
layout: 'default'
title: 'Nein zum Sagenweg in Wohlen'
---

%h1
  Nein zum Sagenweg in Wohlen
%p
  Wohler Behörden pochen auf die Vorschriften fürs Bauen im Wald. Waltenschwil
  will jetzt in die Bresche springen.
%p
  Der Freiämter Sagenweg wird definitiv nicht im Wohler Wald angelegt. Eine
  Lösung zeichnet sich nun aber mit der Gemeinde Waltenschwil ab. Die Ortsbürgerkommission
  Waltenschwil ist positiv zum geplanten Sagenweg eingestellt.
%p
  Die beiden Bildhauer Rafael Häfliger aus Wohlen und Alex Schaufelbühl
  aus Niederwil wollen die Freiämter Sagenwelt wieder aufleben lassen und
  die Schulen ermuntern, das Thema mit den Schülern durchzunehmen. Sie planen,
  im Wald einen Sagenweg einzurichten. 12 namhafte Künstlerinnen und Künstler
  sollen quasi das Personal zum Weg liefern und am 2. Freiämter Bildhauersymposium
  die zu den Sagen passenden Skulpturen schaffen.
%h2
  Weg zum Sagenweg verbaut
%p
  Häfliger und Schaufelbühl reflektieren darauf, den Sagenweg im Wohler
  Wald in der Nähe des Erdmannlisteins und Bettlersteins einzurichten. «Denn
  diese beiden Steine sind mit Sagen verbunden», sagen die Organisatoren.
  Doch erhielten ihre Pläne einen Dämpfer. Die Ortsbürger- und die Forstkommission
  Wohlen lehnten den vorgesehenen Standort ab. Der Freiämter Sagenweg sei
  als feste Installation gedacht und sei in dieser sensiblen Zone fehl am
  Platz, teilten die Behörden den Initianten mit. Zusätzlich würde der Sagenweg
  die Waldbewirtschaftung behindern und das Wild in seiner Ruhe stören. Der
  Sagenweg sei nicht standortgebunden und sollte deshalb am Waldrand zwischen
  dem Waldhaus Chüestellihau und dem Forstmagazin angelegt werden.
%h2
  Initianten enttäuscht
%p
  Häfliger und Schaufelbühl sind sehr enttäuscht. «Wir haben der Gemeinde
  Wohlen vier verschiedene Standortvorschläge gemacht, und keiner hat ihr
  gefallen», sagen sie. Der Sagenweg gehöre nun einmal dorthin, wo die Sagen
  angesiedelt seien, und nicht an einen Waldrand, der dazu keinen Bezug habe.
%p
  Moralische und organisatorische Verstärkung erhielten die beiden Bildhauer
  schon letztes Jahr durch den Verein Erlebnis Freiamt. Dieser machte sich
  das Anliegen des Sagenwegs zu seinem eigenen, zumal sich dieser mit dem
  Freiämterweg verbinden liesse, den Mitglieder des Vereins ins Leben riefen.
  Vereinspräsident Erich Näf aus Widen setzte sich mit dem ganzen Gewicht
  seines Amtes für den Sagenweg ein. Erlebnis Freiamt lud die Wohler Behörden
  extra nach Muri zu einer Besprechung ein, um ihnen das Vorhaben mundgerecht
  zu präsentieren. Näf will keinen unnötigen Wind erzeugen, stellt aber nach
  der Zusammenkunft in Muri fest, dass die Behörden «nur ihr Desinteresse»
  bekundet hätten.
%h2
  In Waltenschwil denkbar
%p
  Inzwischen zeichnet sich eine Lösung ab. Die Ortsbürgerkommission Waltenschwil
  war bereit, die Gesuchsteller anzuhören. Sie bietet ihnen einen neuen Standort
  am Freiämterweg in der Umgebung des Tierparks an. Allerdings sollen die
  Skulpturen auch nicht mitten im Wald, sondern eher peripher angelegt werden,
  20 bis 30 Meter tief im Wald. Für den Fall, dass der Sagenweg kommt, lehnt
  die Gemeinde jegliche Haftung ab und behält sich das Mitspracherecht bei
  der Auswahl der Skulpturen und der Werbung für den Sagenweg vor. Zudem
  müsste Waltenschwil ebenfalls mit einer Sage vertreten sein. Die Reinigungskosten,
  die im Wald anfallen, müsste der Verein Erlebnis Freiamt tragen. Auch sollen
  die Skulpturen entschädigungslos entfernt werden, falls dies die Gemeinde
  verlangt.
%p
  Erich Näf signalisiert, dass Erlebnis Freiamt mit Waltenschwil unter diesen
  Bedingungen einen Vertrag ausarbeiten und ein Gesuch einreichen wird: «Das
  Baugesuch muss noch bewilligt werden, das ist klar. Aber wir sind guten
  Mutes.» Das 2009 vorgesehene Bildhauersymposium wurde bereits aufs nächste
  Jahr verschoben. Es findet nun vom 28. Mai bis 6. Juni 2010 statt.
%p
  %em AZ-Tabloid / MLZ, 17. April 2009, Autor: Jörg Baumann
