---
layout: 'default'
title: 'Zwölf Bildhauer wollen 2010 im Wald arbeiten'
---

%h1
  Zwölf Bildhauer wollen 2010 im Wald arbeiten
%p
  %em
    Initianten haben das Gesuch für das zweite Freiämter Bildhauer-Symposium
    nächsten Sommer in Wohle eingereicht
%p
  Hinter dem Waldhaus Chüestellihau in Wohlen ist vom 25. Mai bis 6. Juni
  2010 das zweite Freiämter Bildhauer -Symposium geplant. Als Initianten
  tretendie Bildhauer Rafael Häfliger aus Wohlen und Alex Schaufelbühl aus
  Niederwil sowie der Verein Am Symposium wollen zwölf Bildhauerinnen und
  Bildhauer ihre Skulpturen für den Freiämter Sagenweg anfertigen.
%h2
  Täglich an der Arbeit
%p
  Aus dem Gesuch der Initianten, das bis am 2. Juni auf der Gemeindekanzlei
  Wohlen aufliegt, geht hervor, dass die Bildhauerinnen und Bildhauer ihre
  Pressluftkompressoren und Motorsägen täglich von 10 bis 20 Uhr laufen lassen
  wollen. Vom 28. Mai an ist das Symposium für die Besucher öffentlich.
%p
  Zunächst war der Freiämter Sagenweg, an dem die Skulpturen aufgestellt
  werden sollen, in Wohlen vorgesehen. Nach einem ablehnenden Entscheid aus
  Wohlen bot Waltenschwil den Initianten einen neuen Standort beim Tierpark
  an. Für den Sagenweg seien die Gesuchsunterlagen noch nicht eingetroffen,
  teilt der Waltenschwiler Gemeindeschreiber Frank Koch mit. Es sei mit den
  Intianten vereinbart worden, dass sie mit der Ortsbürgergemeinde einen
  Vertrag abschliessen müssten. Darin will sich diese das Recht vorbehalten,
  dass die Skulpturen entschädigungslos entfernt werden müssen, falls dies
  die Gemeinde verlangt.
%p
  Beim Gesuch für den Sagenweg wird laut Frank Koch zwingend die kantonale
  Abteilung Wald mitsprechen. Die Initianten wären deshalb gut beraten, sagt
  Gemeindeschreiber Koch, wenn sie ihre Pläne zuerst mit den Forstfachleuten
  in Aarau absprechen würden.
%p
  %em AZ-Tabloid / MLZ, 15. Mai 2009, Autor: Ba
