/*
 *= require_tree ./plugins
 *= require_self
 */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

* {
  outline: 0;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}

blockquote:before, q:before, blockquote:after, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  line-height: 1.5;
  font-family: "myriad-pro",sans-serif;
  color: #333333;
  font-size: 14px;

  h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;

    img {
      margin: 0;
    }
  }

  h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em;
  }

  h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1.25em;
  }

  h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
  }

  h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
  }

  h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
  }

  p {
    margin: 0 0 1.5em;

    img {
      &.left {
        display: inline;
        float: left;
        margin: 1.5em 1.5em 1.5em 0;
        padding: 0;
      }

      &.right {
        display: inline;
        float: right;
        margin: 1.5em 0 1.5em 1.5em;
        padding: 0;
      }
    }
  }

  a {
    text-decoration: underline;
    color: #000099;

    &:visited {
      color: #000066;
    }

    &:focus, &:hover {
      color: black;
    }

    &:active {
      color: #cc0099;
    }
  }

  blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  dfn {
    font-style: italic;
    font-weight: bold;
  }

  sup, sub {
    line-height: 0;
  }

  abbr, acronym {
    border-bottom: 1px dotted #666;
  }

  address {
    margin: 0 0 1.5em;
    font-style: italic;
  }

  del {
    color: #666;
  }

  pre {
    margin: 1.5em 0;
    white-space: pre;
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
  }

  code, tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
  }

  li {
    ul, ol {
      margin: 0 1.5em;
    }
  }

  ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc;
  }

  ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal;
  }

  dl {
    margin: 0 0 1.5em 0;

    dt {
      font-weight: bold;
    }
  }

  dd {
    margin-left: 1.5em;
  }

  table {
    margin-bottom: 1.4em;
    width: 100%;
  }

  th {
    font-weight: bold;
  }

  thead th {
    background: #c3d9ff;
  }

  th, td, caption {
    padding: 4px 10px 4px 5px;
  }

  tr.even td {
    background: #e5ecf9;
  }

  tfoot {
    font-style: italic;
  }

  caption {
    background: #eee;
  }

  .quiet {
    color: #666666;
  }

  .loud {
    color: #111111;
  }

  .box {
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #E5ECF9;
  }

  div {
    &.border {
      padding-right: 4px;
      margin-right: 5px;
      border-right: 1px solid #eeeeee;
    }

    &.colborder {
      padding-right: 24px;
      margin-right: 25px;
      border-right: 1px solid #eeeeee;
    }
  }

  hr {
    background: #dddddd;
    color: #dddddd;
    clear: both;
    float: none;
    width: 100%;
    height: .1em;
    margin: 0 0 1.45em;
    border: none;

    &.space {
      background: #dddddd;
      color: #dddddd;
      clear: both;
      float: none;
      width: 100%;
      height: .1em;
      margin: 0 0 1.45em;
      border: none;
      background: #fff;
      color: #fff;
    }
  }

  .clear {
    clear: both;
  }

  .nowrap {
    white-space: nowrap;
  }

  .clearfix {
    overflow: hidden;
    display: inline-block;
    display: block;
  }

  .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
  }

  .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
  }
  .first {
    margin-left: 0;
    padding-left: 0;
  }

  .last {
    margin-right: 0;
    padding-right: 0;
  }

  .top {
    margin-top: 0;
    padding-top: 0;
  }

  .bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4;

    a {
      color: #8a1f11;
    }
  }

  .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324;

    a {
      color: #514721;
    }
  }

  .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;

    a {
      color: #264409;
    }
  }

  .hide {
    display: none;
  }

  .highlight {
    background: yellow;
  }

  .added {
    background: #006600;
    color: white;
  }

  .removed {
    background: #990000;
    color: white;
  }
}

form.bp {
  label {
    font-weight: bold;
  }

  fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0;
  }

  legend {
    font-weight: bold;
    font-size: 1.2em;
  }

  input {
    &.text, &.title, &[type=text] {
      margin: 0.5em 0;
      background-color: #fff;
      padding: 5px;
    }

    &.title {
      font-size: 1.5em;
    }

    &[type=checkbox], &.checkbox, &[type=radio], &.radio {
      position: relative;
      top: 0.25em;
    }
  }

  textarea {
    margin: 0.5em 0;
    padding: 5px;
  }

  select {
    margin: 0.5em 0;
  }

  fieldset {
    border: 1px solid #cccccc;
  }

  input {
    &.text, &.title {
      border: 1px solid #bbbbbb;
    }
  }

  textarea, select {
    border: 1px solid #bbbbbb;
  }

  input {
    &.text:focus, &.title:focus {
      border: 1px solid #666666;
    }
  }

  textarea:focus, select:focus {
    border: 1px solid #666666;
  }

  input {
    &.text, &.title {
      width: 300px;
    }
  }

  textarea {
    width: 390px;
    height: 250px;
  }
}

body {
  background-color: black;
  font-family: "myriad-pro", sans-serif;

  #container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
    display: block;
  }

  #header, #footer {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
  }
}

* html body {
  #header, #footer {
    overflow-x: hidden;
  }
}

body {
  #header {
    background: url(/images/background.png);
    height: 100px;
    border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -webkit-border-bottom-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  #logo {
    position: absolute;
    top: 5px;
    left: 5px;
    background: url(/images/logo.png);
    width: 473px;
    height: 85px;
  }

  #sagenweg {
    position: absolute;
    top: 10px;
    left: 570px;
    background: url(/images/sagenweg.png);
    width: 204px;
    height: 200px;
    z-index: 9998;
  }

  #sidebar {
    margin-top: 1.5em;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 310px;
  }
}

* html body #sidebar {
  overflow-x: hidden;
}

body {
  #sidebar {
    #menu {
      min-height: 400px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      background-color: #200000;
      border: 10px solid #250000;
      margin-left: 10px;

      ul {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 80px;
        width: 100%;
        list-style-type: none;

        li {
          font-size: 18px;
          margin-bottom: 5px;
          background-color: #200000;
          border: 1px solid transparent;
          border-top-left-radius: 15px;
          -moz-border-radius-topleft: 15px;
          border-top-right-radius: 3px;
          -moz-border-radius-topright: 3px;
          -moz-border-radius-bottomleft: 3px;
          -moz-border-radius-bottomright: 15px;
          -webkit-border-top-left-radius: 15px;
          -webkit-border-top-right-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -webkit-border-bottom-right-radius: 15px;
          width: 240px;

          &:hover {
            background-color: #4a2261;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
          }

          &.current {
            background-color: #4a2261;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            color: white;
          }

          a {
            font-family: "myriad-pro",sans-serif;
            text-shadow: 1px 1px 1px #000000;
            display: block;
            width: 100%;
            padding: 5px 5px 5px 8px;
            color: #97c041;
            text-decoration: none;
            letter-spacing: 2px;
            height: 25px;
            line-height: 25px;

            &:hover {
              color: #97c041;
            }
          }
        }
      }
    }

    #news {
      min-height: 50px;
      padding: 5px;
      color: white;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      background-color: #200000;
      border: 10px solid #250000;
      margin-left: 10px;
      margin-top: 50px;
      text-align: center;

      h3 {
        font-family: "myriad-pro",sans-serif;
        text-shadow: 1px 1px 1px #000;
        color: #97C041;
        margin-bottom: 18px;
        margin-top: 10px;
        font-size: 18px;
        letter-spacing: 1px;
      }

      a {
        color: #97C041;
        text-decoration: none;
        &:hover {
          color: #710C1F;
        }
      }

      p {
        text-shadow: 0px 0px 1px black;
      }
    }
  }

  #content {
    margin-top: 1.5em;
    display: inline;
    float: left;
    margin-right: 0;
    width: 630px;
    color: white;
  }
}

* html body #content {
  overflow-x: hidden;
}

body #content #page {
  min-height: 420px;
  background-color: #101010;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 10px solid #141414;
  padding: 10px;

  h1 {
    font-family: "gooddog-new",cursive;
    text-shadow: 1px 1px 2px #fff;
    font-size: 38px;
    font-weight: bold;
    color: #97c041;
    margin-bottom: 20px;
    margin-top: 10px;

    &:first-child {
      width: 540px;
    }
  }

  h2 {
    font-family: "gooddog-new",cursive;
    text-shadow: 1px 1px 1px #fff;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: bold;
    color: #710c1f;
    margin-bottom: 18px;
    margin-top: 10px;
  }

  h3 {
    font-family: "gooddog-new",cursive;
    text-shadow: 1px 1px 1px #fff;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: bold;
    color: #9041bd;
    margin-bottom: 17px;
    margin-top: 8px;
  }

  h4 {
    font-family: "gooddog-new",cursive;
    text-shadow: 1px 1px 1px #888;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 8px;
  }

  p {
    text-shadow: 0px 0px 1px black;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  img {
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  a {
    text-shadow: 0px 0px 1px black;
    color: #97c041;
    text-decoration: none;
    &[href]:hover {
      text-decoration: underline;
    }

  }
  ul {
    margin-bottom: 15px;
    margin-top: 10px;
    list-style: none;
  }

  li {
    min-height: 23px;
    text-shadow: 0px 0px 1px black;
    margin-top: 8px;
    padding-left: 30px;
    padding-top: 0px;
    background: url(/images/bullet.png) no-repeat;

    &:hover {
      color: #97c041;
    }
  }

  .accountable {
    float: left;
    margin-top: 15px;
    padding: 7px;

    a {
      margin-top: 7px;
    }
  }

  .archive li {
    background: none;
    padding-top: 10px;
  }

  div.accountable:hover {
    background-color: #202020;
  }

  em {
    font-style: italic;
  }

  a {
    background: url(/images/arrow.png) 2px 4px no-repeat;
    padding-left: 20px;
    padding-top: 2px;

    &.noarrow {
      background: none;
      padding-left: 0px;
    }

    &.arrow {
      background: url(/images/arrow.png) 2px 4px no-repeat;
      padding-left: 20px;
      padding-top: 2px;
    }
  }

  &.fotoalbum a {
    background: none;
    padding-left: 0;
  }
}

#footer {
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 20px;
  color: white;
  font-size: 12px;

  a {
    color: #aaaaaa;
  }

  img {
    margin-top: 10px;
  }
}

body #content #page.fotoalbum h2 {
  text-shadow: 1px 1px 1px #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #9041bd;
  margin-bottom: 5px;
  margin-top: 40px;

  a {
    text-shadow: 1px 1px 1px #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #9041bd;
    margin-bottom: 5px;
    margin-top: 40px;
  }
}

.galleries {
  overflow: hidden;

  a {
    padding-left: 0 !important;
  }

  .gallery {
    width: 50%;
    float: left;
    text-align: center;

    .description {

      .title {
        vertical-align: middle;
        height: 90px;

        h2 {
          margin: 0;
        }
      }

      p {
        height: 60px;
      }
    }

    .thumb {
      width: 250px;
      height: 250px;
    }
  }
}

.gallery .container .thumb {
  width: 275px;
  height: 250px;
  overflow: hidden;
  margin: 10px;
  float: left;
}

.image {
  width: 450px;
}

body #content #page.fotoalbum {
  margin: 0px;

  .galleries {
    margin-left: 20px;

    .gallery .description .title h2 {
      margin: 0px;

      a {
        margin: 0px;
      }
    }
  }
}

img.sage, canvas.sage, img.artist, canvas.artist {
  float: left;
}

#accordion {
  clear: left;

  h4 {
    clear: left;
  }

  table {
    width: 100%;

    td {
      padding: 5px;

      &:first-child {
        width: 115px;
      }
    }
  }

  p.portrait {
    padding-top: 75px;
    padding-left: 180px;
  }
}

.ui-accordion-header {
  color: #710c1f !important;
  text-shadow: 1px 1px 1px #fff !important;
  cursor: pointer;
  border: 1px dotted #97c041;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ui-accordion-content {
  padding-top: 5px;
  padding-bottom: 15px;
}

body #content #page {

  h2.sage {
    margin-top: 125px;
    text-align: center;
  }

  #myths {
    margin-top: 40px;
    overflow: auto;
  }

  #artists {
    overflow: auto;
  }

  div {
    &.myth {
      float: left;
      width: 290px;
      height: 350px;
    }

    &.artist {
      float: left;
      width: 290px;
      height: 250px;
    }

    &.myth a, .artist a {
      float: left;
      width: 280px;
      background-image: none;
      display: block;
    }
  }
}

#ov {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;

  tr td {
    padding: 5px;
  }
}

table {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #200000;
  padding-bottom: 25px;
  border: 3px solid #250000;
  margin: 20px;

  tr td {
    padding: 5px;
    vertical-align: top;
    text-shadow: 0px 0px 1px black;
  }

  &.legend {
    background: none;
    border: none;

    tr {
      border-bottom: 8px solid black;

      td {
        padding: 5px;

        &.yellow {
          background-color: #f2fd01;
        }

        &.red {
          background-color: #8e1011;
        }
      }
    }
  }
}

p {
  padding-bottom: 7px;
}

input[type=text], textarea {
  border: 1px solid #250000;
}

.cycle-slideshow {
  position: relative;
  width: 590px;
  height: 196px;
  margin: 0;
  padding: 0;
}

body #content #page .cycle-slideshow img {
  margin: 0;
  padding: 0;
}

#alt-caption {
  z-index: 1000;
  position: absolute;
  bottom: -2px;
  left: 0px;
  top: 175px;
  right: 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: 0px 0px #000;
  line-height: 23px;
}

.unterrichtsmaterial h3 {
  margin-top: 75px !important;
}
