---
layout: 'default'
title: 'Dienstag 1. Juni'
---

%h1 Fotoalbum
%h2 Dienstag 1. Juni
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0129_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0129'}
        %img{alt: 'DSC_0129', height: '250', src: '/images/galleries/67/DSC_0129_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0130_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0130'}
        %img{alt: 'DSC_0130', height: '250', src: '/images/galleries/67/DSC_0130_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0131_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0131'}
        %img{alt: 'DSC_0131', height: '250', src: '/images/galleries/67/DSC_0131_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0132_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0132'}
        %img{alt: 'DSC_0132', height: '250', src: '/images/galleries/67/DSC_0132_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0133_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0133'}
        %img{alt: 'DSC_0133', height: '250', src: '/images/galleries/67/DSC_0133_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0134_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0134'}
        %img{alt: 'DSC_0134', height: '250', src: '/images/galleries/67/DSC_0134_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0135_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0135'}
        %img{alt: 'DSC_0135', height: '250', src: '/images/galleries/67/DSC_0135_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0136_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0136'}
        %img{alt: 'DSC_0136', height: '250', src: '/images/galleries/67/DSC_0136_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0137_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0137'}
        %img{alt: 'DSC_0137', height: '250', src: '/images/galleries/67/DSC_0137_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0138_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0138'}
        %img{alt: 'DSC_0138', height: '250', src: '/images/galleries/67/DSC_0138_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0139_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0139'}
        %img{alt: 'DSC_0139', height: '250', src: '/images/galleries/67/DSC_0139_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0140_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0140'}
        %img{alt: 'DSC_0140', height: '250', src: '/images/galleries/67/DSC_0140_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0141_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0141'}
        %img{alt: 'DSC_0141', height: '250', src: '/images/galleries/67/DSC_0141_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0142_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0142'}
        %img{alt: 'DSC_0142', height: '250', src: '/images/galleries/67/DSC_0142_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0143_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0143'}
        %img{alt: 'DSC_0143', height: '250', src: '/images/galleries/67/DSC_0143_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0144_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0144'}
        %img{alt: 'DSC_0144', height: '250', src: '/images/galleries/67/DSC_0144_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0145_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0145'}
        %img{alt: 'DSC_0145', height: '250', src: '/images/galleries/67/DSC_0145_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0146_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0146'}
        %img{alt: 'DSC_0146', height: '250', src: '/images/galleries/67/DSC_0146_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0147_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0147'}
        %img{alt: 'DSC_0147', height: '250', src: '/images/galleries/67/DSC_0147_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0148_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0148'}
        %img{alt: 'DSC_0148', height: '250', src: '/images/galleries/67/DSC_0148_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0149_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0149'}
        %img{alt: 'DSC_0149', height: '250', src: '/images/galleries/67/DSC_0149_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0150_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0150'}
        %img{alt: 'DSC_0150', height: '250', src: '/images/galleries/67/DSC_0150_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0151_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0151'}
        %img{alt: 'DSC_0151', height: '250', src: '/images/galleries/67/DSC_0151_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0152_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0152'}
        %img{alt: 'DSC_0152', height: '250', src: '/images/galleries/67/DSC_0152_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0153_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0153'}
        %img{alt: 'DSC_0153', height: '250', src: '/images/galleries/67/DSC_0153_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0154_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0154'}
        %img{alt: 'DSC_0154', height: '250', src: '/images/galleries/67/DSC_0154_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0155_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0155'}
        %img{alt: 'DSC_0155', height: '250', src: '/images/galleries/67/DSC_0155_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0156_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0156'}
        %img{alt: 'DSC_0156', height: '250', src: '/images/galleries/67/DSC_0156_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/67/DSC_0157_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0157'}
        %img{alt: 'DSC_0157', height: '250', src: '/images/galleries/67/DSC_0157_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
