---
layout: 'default'
title: 'Donnerstag 3. Juni'
---

%h1 Fotoalbum
%h2 Donnerstag 3. Juni
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0191_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0191'}
        %img{alt: 'DSC_0191', height: '250', src: '/images/galleries/69/DSC_0191_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0192_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0192'}
        %img{alt: 'DSC_0192', height: '250', src: '/images/galleries/69/DSC_0192_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0193_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0193'}
        %img{alt: 'DSC_0193', height: '250', src: '/images/galleries/69/DSC_0193_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0194_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0194'}
        %img{alt: 'DSC_0194', height: '250', src: '/images/galleries/69/DSC_0194_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0195_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0195'}
        %img{alt: 'DSC_0195', height: '250', src: '/images/galleries/69/DSC_0195_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0196_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0196'}
        %img{alt: 'DSC_0196', height: '250', src: '/images/galleries/69/DSC_0196_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0197_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0197'}
        %img{alt: 'DSC_0197', height: '250', src: '/images/galleries/69/DSC_0197_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0198_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0198'}
        %img{alt: 'DSC_0198', height: '250', src: '/images/galleries/69/DSC_0198_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0199_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0199'}
        %img{alt: 'DSC_0199', height: '250', src: '/images/galleries/69/DSC_0199_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0200_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0200'}
        %img{alt: 'DSC_0200', height: '250', src: '/images/galleries/69/DSC_0200_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0201_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0201'}
        %img{alt: 'DSC_0201', height: '250', src: '/images/galleries/69/DSC_0201_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0202_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0202'}
        %img{alt: 'DSC_0202', height: '250', src: '/images/galleries/69/DSC_0202_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0203_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0203'}
        %img{alt: 'DSC_0203', height: '250', src: '/images/galleries/69/DSC_0203_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0204_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0204'}
        %img{alt: 'DSC_0204', height: '250', src: '/images/galleries/69/DSC_0204_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0205_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0205'}
        %img{alt: 'DSC_0205', height: '250', src: '/images/galleries/69/DSC_0205_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0207_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0207'}
        %img{alt: 'DSC_0207', height: '250', src: '/images/galleries/69/DSC_0207_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0208_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0208'}
        %img{alt: 'DSC_0208', height: '250', src: '/images/galleries/69/DSC_0208_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0209_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0209'}
        %img{alt: 'DSC_0209', height: '250', src: '/images/galleries/69/DSC_0209_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0210_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0210'}
        %img{alt: 'DSC_0210', height: '250', src: '/images/galleries/69/DSC_0210_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0211_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0211'}
        %img{alt: 'DSC_0211', height: '250', src: '/images/galleries/69/DSC_0211_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0212_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0212'}
        %img{alt: 'DSC_0212', height: '250', src: '/images/galleries/69/DSC_0212_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0213_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0213'}
        %img{alt: 'DSC_0213', height: '250', src: '/images/galleries/69/DSC_0213_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0215_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0215'}
        %img{alt: 'DSC_0215', height: '250', src: '/images/galleries/69/DSC_0215_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0216_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0216'}
        %img{alt: 'DSC_0216', height: '250', src: '/images/galleries/69/DSC_0216_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0217_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0217'}
        %img{alt: 'DSC_0217', height: '250', src: '/images/galleries/69/DSC_0217_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/69/DSC_0218_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0218'}
        %img{alt: 'DSC_0218', height: '250', src: '/images/galleries/69/DSC_0218_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
