---
layout: 'default'
title: 'Freitag 4. Juni'
---

%h1 Fotoalbum
%h2 Freitag 4. Juni
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0223_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0223'}
        %img{alt: 'DSC_0223', height: '250', src: '/images/galleries/70/DSC_0223_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0224_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0224'}
        %img{alt: 'DSC_0224', height: '250', src: '/images/galleries/70/DSC_0224_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0225_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0225'}
        %img{alt: 'DSC_0225', height: '250', src: '/images/galleries/70/DSC_0225_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0226_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0226'}
        %img{alt: 'DSC_0226', height: '250', src: '/images/galleries/70/DSC_0226_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0227_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0227'}
        %img{alt: 'DSC_0227', height: '250', src: '/images/galleries/70/DSC_0227_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0228_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0228'}
        %img{alt: 'DSC_0228', height: '250', src: '/images/galleries/70/DSC_0228_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0229_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0229'}
        %img{alt: 'DSC_0229', height: '250', src: '/images/galleries/70/DSC_0229_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0230_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0230'}
        %img{alt: 'DSC_0230', height: '250', src: '/images/galleries/70/DSC_0230_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0231_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0231'}
        %img{alt: 'DSC_0231', height: '250', src: '/images/galleries/70/DSC_0231_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0232_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0232'}
        %img{alt: 'DSC_0232', height: '250', src: '/images/galleries/70/DSC_0232_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0233_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0233'}
        %img{alt: 'DSC_0233', height: '250', src: '/images/galleries/70/DSC_0233_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0234_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0234'}
        %img{alt: 'DSC_0234', height: '250', src: '/images/galleries/70/DSC_0234_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0235_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0235'}
        %img{alt: 'DSC_0235', height: '250', src: '/images/galleries/70/DSC_0235_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0239_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0239'}
        %img{alt: 'DSC_0239', height: '250', src: '/images/galleries/70/DSC_0239_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0241_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0241'}
        %img{alt: 'DSC_0241', height: '250', src: '/images/galleries/70/DSC_0241_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0242_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0242'}
        %img{alt: 'DSC_0242', height: '250', src: '/images/galleries/70/DSC_0242_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0243_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0243'}
        %img{alt: 'DSC_0243', height: '250', src: '/images/galleries/70/DSC_0243_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0244_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0244'}
        %img{alt: 'DSC_0244', height: '250', src: '/images/galleries/70/DSC_0244_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0248_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0248'}
        %img{alt: 'DSC_0248', height: '250', src: '/images/galleries/70/DSC_0248_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0251_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0251'}
        %img{alt: 'DSC_0251', height: '250', src: '/images/galleries/70/DSC_0251_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0253_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0253'}
        %img{alt: 'DSC_0253', height: '250', src: '/images/galleries/70/DSC_0253_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0254_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0254'}
        %img{alt: 'DSC_0254', height: '250', src: '/images/galleries/70/DSC_0254_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0256_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0256'}
        %img{alt: 'DSC_0256', height: '250', src: '/images/galleries/70/DSC_0256_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0259_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0259'}
        %img{alt: 'DSC_0259', height: '250', src: '/images/galleries/70/DSC_0259_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0260_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0260'}
        %img{alt: 'DSC_0260', height: '250', src: '/images/galleries/70/DSC_0260_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0261_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0261'}
        %img{alt: 'DSC_0261', height: '250', src: '/images/galleries/70/DSC_0261_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0262_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0262'}
        %img{alt: 'DSC_0262', height: '250', src: '/images/galleries/70/DSC_0262_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0263_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0263'}
        %img{alt: 'DSC_0263', height: '250', src: '/images/galleries/70/DSC_0263_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0264_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0264'}
        %img{alt: 'DSC_0264', height: '250', src: '/images/galleries/70/DSC_0264_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0266_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0266'}
        %img{alt: 'DSC_0266', height: '250', src: '/images/galleries/70/DSC_0266_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0267_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0267'}
        %img{alt: 'DSC_0267', height: '250', src: '/images/galleries/70/DSC_0267_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0268_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0268'}
        %img{alt: 'DSC_0268', height: '250', src: '/images/galleries/70/DSC_0268_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0271_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0271'}
        %img{alt: 'DSC_0271', height: '250', src: '/images/galleries/70/DSC_0271_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0274_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0274'}
        %img{alt: 'DSC_0274', height: '250', src: '/images/galleries/70/DSC_0274_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/70/DSC_0278_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0278'}
        %img{alt: 'DSC_0278', height: '250', src: '/images/galleries/70/DSC_0278_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
