---
layout: 'default'
title: 'Mittwoch 2. Juni'
---

%h1 Fotoalbum
%h2 Mittwoch 2. Juni
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0158_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0158'}
        %img{alt: 'DSC_0158', height: '250', src: '/images/galleries/68/DSC_0158_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0159_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0159'}
        %img{alt: 'DSC_0159', height: '250', src: '/images/galleries/68/DSC_0159_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0160_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0160'}
        %img{alt: 'DSC_0160', height: '250', src: '/images/galleries/68/DSC_0160_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0162_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0162'}
        %img{alt: 'DSC_0162', height: '250', src: '/images/galleries/68/DSC_0162_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0163_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0163'}
        %img{alt: 'DSC_0163', height: '250', src: '/images/galleries/68/DSC_0163_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0164_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0164'}
        %img{alt: 'DSC_0164', height: '250', src: '/images/galleries/68/DSC_0164_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0165_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0165'}
        %img{alt: 'DSC_0165', height: '250', src: '/images/galleries/68/DSC_0165_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0166_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0166'}
        %img{alt: 'DSC_0166', height: '250', src: '/images/galleries/68/DSC_0166_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0167_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0167'}
        %img{alt: 'DSC_0167', height: '250', src: '/images/galleries/68/DSC_0167_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0169_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0169'}
        %img{alt: 'DSC_0169', height: '250', src: '/images/galleries/68/DSC_0169_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0170_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0170'}
        %img{alt: 'DSC_0170', height: '250', src: '/images/galleries/68/DSC_0170_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0171_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0171'}
        %img{alt: 'DSC_0171', height: '250', src: '/images/galleries/68/DSC_0171_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0172_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0172'}
        %img{alt: 'DSC_0172', height: '250', src: '/images/galleries/68/DSC_0172_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0173_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0173'}
        %img{alt: 'DSC_0173', height: '250', src: '/images/galleries/68/DSC_0173_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0174_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0174'}
        %img{alt: 'DSC_0174', height: '250', src: '/images/galleries/68/DSC_0174_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0175_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0175'}
        %img{alt: 'DSC_0175', height: '250', src: '/images/galleries/68/DSC_0175_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0176_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0176'}
        %img{alt: 'DSC_0176', height: '250', src: '/images/galleries/68/DSC_0176_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0177_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0177'}
        %img{alt: 'DSC_0177', height: '250', src: '/images/galleries/68/DSC_0177_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0178_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0178'}
        %img{alt: 'DSC_0178', height: '250', src: '/images/galleries/68/DSC_0178_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0179_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0179'}
        %img{alt: 'DSC_0179', height: '250', src: '/images/galleries/68/DSC_0179_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0180_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0180'}
        %img{alt: 'DSC_0180', height: '250', src: '/images/galleries/68/DSC_0180_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0181_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0181'}
        %img{alt: 'DSC_0181', height: '250', src: '/images/galleries/68/DSC_0181_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0182_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0182'}
        %img{alt: 'DSC_0182', height: '250', src: '/images/galleries/68/DSC_0182_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0183_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0183'}
        %img{alt: 'DSC_0183', height: '250', src: '/images/galleries/68/DSC_0183_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0184_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0184'}
        %img{alt: 'DSC_0184', height: '250', src: '/images/galleries/68/DSC_0184_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0185_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0185'}
        %img{alt: 'DSC_0185', height: '250', src: '/images/galleries/68/DSC_0185_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0186_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0186'}
        %img{alt: 'DSC_0186', height: '250', src: '/images/galleries/68/DSC_0186_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0187_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0187'}
        %img{alt: 'DSC_0187', height: '250', src: '/images/galleries/68/DSC_0187_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/68/DSC_0188_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0188'}
        %img{alt: 'DSC_0188', height: '250', src: '/images/galleries/68/DSC_0188_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
