!!!
%html
  %head
    %title Freiämter Sagenweg - Fotoalbum
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../../css/screen.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../../css/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../../css/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{src: "http://cdn.sublimevideo.net/js/z5p3m0es.js", type: "text/javascript"}
  %body
    #container
      #header
      %a{href: "../../index.html"}
        #logo
      %a{href: "../../index.html"}
        #sagenweg
      #content
        #page.fotoalbum
          %h1 Fotoalbum
          %h2 Montag 31. Mai
          %p
          .gallery
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6349/DSC_0087_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0087"}
                  %img{alt: "DSC_0087", height: "250", src: "../../galleries/66/0000/6349/DSC_0087_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6352/DSC_0088_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0088"}
                  %img{alt: "DSC_0088", height: "250", src: "../../galleries/66/0000/6352/DSC_0088_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6355/DSC_0089_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0089"}
                  %img{alt: "DSC_0089", height: "250", src: "../../galleries/66/0000/6355/DSC_0089_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6358/DSC_0090_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0090"}
                  %img{alt: "DSC_0090", height: "250", src: "../../galleries/66/0000/6358/DSC_0090_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6361/DSC_0093_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0093"}
                  %img{alt: "DSC_0093", height: "250", src: "../../galleries/66/0000/6361/DSC_0093_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6364/DSC_0094_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0094"}
                  %img{alt: "DSC_0094", height: "250", src: "../../galleries/66/0000/6364/DSC_0094_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6367/DSC_0095_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0095"}
                  %img{alt: "DSC_0095", height: "250", src: "../../galleries/66/0000/6367/DSC_0095_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6370/DSC_0096_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0096"}
                  %img{alt: "DSC_0096", height: "250", src: "../../galleries/66/0000/6370/DSC_0096_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6373/DSC_0097_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0097"}
                  %img{alt: "DSC_0097", height: "250", src: "../../galleries/66/0000/6373/DSC_0097_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6376/DSC_0098_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0098"}
                  %img{alt: "DSC_0098", height: "250", src: "../../galleries/66/0000/6376/DSC_0098_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6379/DSC_0099_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0099"}
                  %img{alt: "DSC_0099", height: "250", src: "../../galleries/66/0000/6379/DSC_0099_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6382/DSC_0100_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0100"}
                  %img{alt: "DSC_0100", height: "250", src: "../../galleries/66/0000/6382/DSC_0100_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6385/DSC_0101_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0101"}
                  %img{alt: "DSC_0101", height: "250", src: "../../galleries/66/0000/6385/DSC_0101_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6388/DSC_0102_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0102"}
                  %img{alt: "DSC_0102", height: "250", src: "../../galleries/66/0000/6388/DSC_0102_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6391/DSC_0103_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0103"}
                  %img{alt: "DSC_0103", height: "250", src: "../../galleries/66/0000/6391/DSC_0103_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6394/DSC_0104_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0104"}
                  %img{alt: "DSC_0104", height: "250", src: "../../galleries/66/0000/6394/DSC_0104_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6397/DSC_0105_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0105"}
                  %img{alt: "DSC_0105", height: "250", src: "../../galleries/66/0000/6397/DSC_0105_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6400/DSC_0106_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0106"}
                  %img{alt: "DSC_0106", height: "250", src: "../../galleries/66/0000/6400/DSC_0106_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6403/DSC_0107_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0107"}
                  %img{alt: "DSC_0107", height: "250", src: "../../galleries/66/0000/6403/DSC_0107_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6406/DSC_0108_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0108"}
                  %img{alt: "DSC_0108", height: "250", src: "../../galleries/66/0000/6406/DSC_0108_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6409/DSC_0111_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0111"}
                  %img{alt: "DSC_0111", height: "250", src: "../../galleries/66/0000/6409/DSC_0111_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6412/DSC_0112_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0112"}
                  %img{alt: "DSC_0112", height: "250", src: "../../galleries/66/0000/6412/DSC_0112_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6415/DSC_0113_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0113"}
                  %img{alt: "DSC_0113", height: "250", src: "../../galleries/66/0000/6415/DSC_0113_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6418/DSC_0114_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0114"}
                  %img{alt: "DSC_0114", height: "250", src: "../../galleries/66/0000/6418/DSC_0114_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6421/DSC_0117_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0117"}
                  %img{alt: "DSC_0117", height: "250", src: "../../galleries/66/0000/6421/DSC_0117_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6424/DSC_0119_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0119"}
                  %img{alt: "DSC_0119", height: "250", src: "../../galleries/66/0000/6424/DSC_0119_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6427/DSC_0120_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0120"}
                  %img{alt: "DSC_0120", height: "250", src: "../../galleries/66/0000/6427/DSC_0120_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6430/DSC_0121_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0121"}
                  %img{alt: "DSC_0121", height: "250", src: "../../galleries/66/0000/6430/DSC_0121_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6433/DSC_0122_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0122"}
                  %img{alt: "DSC_0122", height: "250", src: "../../galleries/66/0000/6433/DSC_0122_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6436/DSC_0123_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0123"}
                  %img{alt: "DSC_0123", height: "250", src: "../../galleries/66/0000/6436/DSC_0123_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6439/DSC_0124_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0124"}
                  %img{alt: "DSC_0124", height: "250", src: "../../galleries/66/0000/6439/DSC_0124_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6442/DSC_0125_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0125"}
                  %img{alt: "DSC_0125", height: "250", src: "../../galleries/66/0000/6442/DSC_0125_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6445/DSC_0126_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0126"}
                  %img{alt: "DSC_0126", height: "250", src: "../../galleries/66/0000/6445/DSC_0126_c250x250.jpg", width: "250"}/
            .container
              .thumb
                %a{href: "../../galleries/66/0000/6448/DSC_0127_800x800.jpg", rel: "lightbox[gallery]", title: "DSC_0127"}
                  %img{alt: "DSC_0127", height: "250", src: "../../galleries/66/0000/6448/DSC_0127_c250x250.jpg", width: "250"}/
          %br{style: "clear:both;"}/
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../../projektidee/index.html"} Projektidee
            %li.has_children
              %a{href: "../../sagen/index.html"} Sagen
            %li
              %a{href: "../../kuenstler/index.html"} Künstler
            %li.has_children
              %a{href: "../../anreise-situationsplan/index.html"} Anreise
            %li
              %a{href: "../../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../../pressearchiv/index.html"} Pressearchiv
            %li.current
              %a{href: "../index.html"} Fotoalbum
            %li
              %a{href: "../../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../../sponsorengnner/index.html"} Sponsoren/Gönner
            %li
              %a{href: "../../kontakt/index.html"} Kontakt
        #news
          %a{href: "../../fuehrungen.1.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "montag-31-mai.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "http://malsup.github.io/min/jquery.cycle2.min.js", type: "text/javascript"}
    %script{src: "http://malsup.github.io/min/jquery.cycle2.caption.min.js", type: "text/javascript"}
    %script{src: "../../js/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content", active: false });
