---
layout: 'default'
title: 'Montag 31. Mai'
---

%h1 Fotoalbum
%h2 Montag 31. Mai
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0087_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0087'}
        %img{alt: 'DSC_0087', height: '250', src: '/images/galleries/66/DSC_0087_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0088_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0088'}
        %img{alt: 'DSC_0088', height: '250', src: '/images/galleries/66/DSC_0088_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0089_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0089'}
        %img{alt: 'DSC_0089', height: '250', src: '/images/galleries/66/DSC_0089_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0090_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0090'}
        %img{alt: 'DSC_0090', height: '250', src: '/images/galleries/66/DSC_0090_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0093_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0093'}
        %img{alt: 'DSC_0093', height: '250', src: '/images/galleries/66/DSC_0093_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0094_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0094'}
        %img{alt: 'DSC_0094', height: '250', src: '/images/galleries/66/DSC_0094_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0095_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0095'}
        %img{alt: 'DSC_0095', height: '250', src: '/images/galleries/66/DSC_0095_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0096_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0096'}
        %img{alt: 'DSC_0096', height: '250', src: '/images/galleries/66/DSC_0096_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0097_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0097'}
        %img{alt: 'DSC_0097', height: '250', src: '/images/galleries/66/DSC_0097_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0098_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0098'}
        %img{alt: 'DSC_0098', height: '250', src: '/images/galleries/66/DSC_0098_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0099_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0099'}
        %img{alt: 'DSC_0099', height: '250', src: '/images/galleries/66/DSC_0099_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0100_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0100'}
        %img{alt: 'DSC_0100', height: '250', src: '/images/galleries/66/DSC_0100_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0101_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0101'}
        %img{alt: 'DSC_0101', height: '250', src: '/images/galleries/66/DSC_0101_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0102_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0102'}
        %img{alt: 'DSC_0102', height: '250', src: '/images/galleries/66/DSC_0102_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0103_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0103'}
        %img{alt: 'DSC_0103', height: '250', src: '/images/galleries/66/DSC_0103_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0104_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0104'}
        %img{alt: 'DSC_0104', height: '250', src: '/images/galleries/66/DSC_0104_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0105_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0105'}
        %img{alt: 'DSC_0105', height: '250', src: '/images/galleries/66/DSC_0105_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0106_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0106'}
        %img{alt: 'DSC_0106', height: '250', src: '/images/galleries/66/DSC_0106_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0107_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0107'}
        %img{alt: 'DSC_0107', height: '250', src: '/images/galleries/66/DSC_0107_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0108_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0108'}
        %img{alt: 'DSC_0108', height: '250', src: '/images/galleries/66/DSC_0108_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0111_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0111'}
        %img{alt: 'DSC_0111', height: '250', src: '/images/galleries/66/DSC_0111_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0112_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0112'}
        %img{alt: 'DSC_0112', height: '250', src: '/images/galleries/66/DSC_0112_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0113_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0113'}
        %img{alt: 'DSC_0113', height: '250', src: '/images/galleries/66/DSC_0113_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0114_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0114'}
        %img{alt: 'DSC_0114', height: '250', src: '/images/galleries/66/DSC_0114_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0117_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0117'}
        %img{alt: 'DSC_0117', height: '250', src: '/images/galleries/66/DSC_0117_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0119_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0119'}
        %img{alt: 'DSC_0119', height: '250', src: '/images/galleries/66/DSC_0119_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0120_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0120'}
        %img{alt: 'DSC_0120', height: '250', src: '/images/galleries/66/DSC_0120_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0121_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0121'}
        %img{alt: 'DSC_0121', height: '250', src: '/images/galleries/66/DSC_0121_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0122_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0122'}
        %img{alt: 'DSC_0122', height: '250', src: '/images/galleries/66/DSC_0122_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0123_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0123'}
        %img{alt: 'DSC_0123', height: '250', src: '/images/galleries/66/DSC_0123_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0124_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0124'}
        %img{alt: 'DSC_0124', height: '250', src: '/images/galleries/66/DSC_0124_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0125_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0125'}
        %img{alt: 'DSC_0125', height: '250', src: '/images/galleries/66/DSC_0125_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0126_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0126'}
        %img{alt: 'DSC_0126', height: '250', src: '/images/galleries/66/DSC_0126_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/66/DSC_0127_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0127'}
        %img{alt: 'DSC_0127', height: '250', src: '/images/galleries/66/DSC_0127_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
