---
layout: 'default'
title: 'Samstag 5. Juni'
---

%h1 Fotoalbum
%h2 Samstag 5. Juni
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0340_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0340'}
        %img{alt: 'DSC_0340', height: '250', src: '/images/galleries/71/DSC_0340_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0341_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0341'}
        %img{alt: 'DSC_0341', height: '250', src: '/images/galleries/71/DSC_0341_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0342_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0342'}
        %img{alt: 'DSC_0342', height: '250', src: '/images/galleries/71/DSC_0342_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0343_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0343'}
        %img{alt: 'DSC_0343', height: '250', src: '/images/galleries/71/DSC_0343_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0344_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0344'}
        %img{alt: 'DSC_0344', height: '250', src: '/images/galleries/71/DSC_0344_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0345_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0345'}
        %img{alt: 'DSC_0345', height: '250', src: '/images/galleries/71/DSC_0345_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0346_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0346'}
        %img{alt: 'DSC_0346', height: '250', src: '/images/galleries/71/DSC_0346_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0348_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0348'}
        %img{alt: 'DSC_0348', height: '250', src: '/images/galleries/71/DSC_0348_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0349_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0349'}
        %img{alt: 'DSC_0349', height: '250', src: '/images/galleries/71/DSC_0349_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0350_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0350'}
        %img{alt: 'DSC_0350', height: '250', src: '/images/galleries/71/DSC_0350_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0351_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0351'}
        %img{alt: 'DSC_0351', height: '250', src: '/images/galleries/71/DSC_0351_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0352_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0352'}
        %img{alt: 'DSC_0352', height: '250', src: '/images/galleries/71/DSC_0352_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0353_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0353'}
        %img{alt: 'DSC_0353', height: '250', src: '/images/galleries/71/DSC_0353_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0354_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0354'}
        %img{alt: 'DSC_0354', height: '250', src: '/images/galleries/71/DSC_0354_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0355_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0355'}
        %img{alt: 'DSC_0355', height: '250', src: '/images/galleries/71/DSC_0355_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0356_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0356'}
        %img{alt: 'DSC_0356', height: '250', src: '/images/galleries/71/DSC_0356_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0357_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0357'}
        %img{alt: 'DSC_0357', height: '250', src: '/images/galleries/71/DSC_0357_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0358_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0358'}
        %img{alt: 'DSC_0358', height: '250', src: '/images/galleries/71/DSC_0358_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0359_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0359'}
        %img{alt: 'DSC_0359', height: '250', src: '/images/galleries/71/DSC_0359_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0360_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0360'}
        %img{alt: 'DSC_0360', height: '250', src: '/images/galleries/71/DSC_0360_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0361_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0361'}
        %img{alt: 'DSC_0361', height: '250', src: '/images/galleries/71/DSC_0361_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0362_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0362'}
        %img{alt: 'DSC_0362', height: '250', src: '/images/galleries/71/DSC_0362_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0363_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0363'}
        %img{alt: 'DSC_0363', height: '250', src: '/images/galleries/71/DSC_0363_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0364_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0364'}
        %img{alt: 'DSC_0364', height: '250', src: '/images/galleries/71/DSC_0364_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0365_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0365'}
        %img{alt: 'DSC_0365', height: '250', src: '/images/galleries/71/DSC_0365_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0367_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0367'}
        %img{alt: 'DSC_0367', height: '250', src: '/images/galleries/71/DSC_0367_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0368_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0368'}
        %img{alt: 'DSC_0368', height: '250', src: '/images/galleries/71/DSC_0368_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0369_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0369'}
        %img{alt: 'DSC_0369', height: '250', src: '/images/galleries/71/DSC_0369_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0370_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0370'}
        %img{alt: 'DSC_0370', height: '250', src: '/images/galleries/71/DSC_0370_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0371_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0371'}
        %img{alt: 'DSC_0371', height: '250', src: '/images/galleries/71/DSC_0371_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0372_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0372'}
        %img{alt: 'DSC_0372', height: '250', src: '/images/galleries/71/DSC_0372_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0373_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0373'}
        %img{alt: 'DSC_0373', height: '250', src: '/images/galleries/71/DSC_0373_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0375_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0375'}
        %img{alt: 'DSC_0375', height: '250', src: '/images/galleries/71/DSC_0375_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0376_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0376'}
        %img{alt: 'DSC_0376', height: '250', src: '/images/galleries/71/DSC_0376_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0377_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0377'}
        %img{alt: 'DSC_0377', height: '250', src: '/images/galleries/71/DSC_0377_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0378_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0378'}
        %img{alt: 'DSC_0378', height: '250', src: '/images/galleries/71/DSC_0378_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0381_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0381'}
        %img{alt: 'DSC_0381', height: '250', src: '/images/galleries/71/DSC_0381_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0382_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0382'}
        %img{alt: 'DSC_0382', height: '250', src: '/images/galleries/71/DSC_0382_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0384_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0384'}
        %img{alt: 'DSC_0384', height: '250', src: '/images/galleries/71/DSC_0384_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0385_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0385'}
        %img{alt: 'DSC_0385', height: '250', src: '/images/galleries/71/DSC_0385_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/71/DSC_0390_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0390'}
        %img{alt: 'DSC_0390', height: '250', src: '/images/galleries/71/DSC_0390_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
