---
layout: 'default'
title: 'Sonntag 6. Juni'
---

%h1 Fotoalbum
%h2 Sonntag 6. Juni
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0466_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0466'}
        %img{alt: 'DSC_0466', height: '250', src: '/images/galleries/72/DSC_0466_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0467_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0467'}
        %img{alt: 'DSC_0467', height: '250', src: '/images/galleries/72/DSC_0467_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0468_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0468'}
        %img{alt: 'DSC_0468', height: '250', src: '/images/galleries/72/DSC_0468_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0469_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0469'}
        %img{alt: 'DSC_0469', height: '250', src: '/images/galleries/72/DSC_0469_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0470_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0470'}
        %img{alt: 'DSC_0470', height: '250', src: '/images/galleries/72/DSC_0470_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0471_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0471'}
        %img{alt: 'DSC_0471', height: '250', src: '/images/galleries/72/DSC_0471_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0472_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0472'}
        %img{alt: 'DSC_0472', height: '250', src: '/images/galleries/72/DSC_0472_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0473_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0473'}
        %img{alt: 'DSC_0473', height: '250', src: '/images/galleries/72/DSC_0473_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0474_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0474'}
        %img{alt: 'DSC_0474', height: '250', src: '/images/galleries/72/DSC_0474_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0475_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0475'}
        %img{alt: 'DSC_0475', height: '250', src: '/images/galleries/72/DSC_0475_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0476_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0476'}
        %img{alt: 'DSC_0476', height: '250', src: '/images/galleries/72/DSC_0476_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0477_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0477'}
        %img{alt: 'DSC_0477', height: '250', src: '/images/galleries/72/DSC_0477_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0478_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0478'}
        %img{alt: 'DSC_0478', height: '250', src: '/images/galleries/72/DSC_0478_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0479_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0479'}
        %img{alt: 'DSC_0479', height: '250', src: '/images/galleries/72/DSC_0479_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0481_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0481'}
        %img{alt: 'DSC_0481', height: '250', src: '/images/galleries/72/DSC_0481_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0482_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0482'}
        %img{alt: 'DSC_0482', height: '250', src: '/images/galleries/72/DSC_0482_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0483_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0483'}
        %img{alt: 'DSC_0483', height: '250', src: '/images/galleries/72/DSC_0483_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0484_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0484'}
        %img{alt: 'DSC_0484', height: '250', src: '/images/galleries/72/DSC_0484_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0485_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0485'}
        %img{alt: 'DSC_0485', height: '250', src: '/images/galleries/72/DSC_0485_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0486_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0486'}
        %img{alt: 'DSC_0486', height: '250', src: '/images/galleries/72/DSC_0486_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0487_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0487'}
        %img{alt: 'DSC_0487', height: '250', src: '/images/galleries/72/DSC_0487_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0488_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0488'}
        %img{alt: 'DSC_0488', height: '250', src: '/images/galleries/72/DSC_0488_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0489_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0489'}
        %img{alt: 'DSC_0489', height: '250', src: '/images/galleries/72/DSC_0489_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/72/DSC_0490_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0490'}
        %img{alt: 'DSC_0490', height: '250', src: '/images/galleries/72/DSC_0490_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
