---
layout: 'default'
title: ''
---

%h1 Fotoalbum
%h2 Sonntag 30. Mai
%p
.gallery
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0067_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0067'}
        %img{alt: 'DSC_0067', height: '250', src: '/images/galleries/65/DSC_0067_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0068_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0068'}
        %img{alt: 'DSC_0068', height: '250', src: '/images/galleries/65/DSC_0068_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0069_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0069'}
        %img{alt: 'DSC_0069', height: '250', src: '/images/galleries/65/DSC_0069_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0070_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0070'}
        %img{alt: 'DSC_0070', height: '250', src: '/images/galleries/65/DSC_0070_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0071_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0071'}
        %img{alt: 'DSC_0071', height: '250', src: '/images/galleries/65/DSC_0071_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0072_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0072'}
        %img{alt: 'DSC_0072', height: '250', src: '/images/galleries/65/DSC_0072_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0073_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0073'}
        %img{alt: 'DSC_0073', height: '250', src: '/images/galleries/65/DSC_0073_c250x250.jpg', width: '250'}/
  .container
    .thumb
      %a{href: '/images/galleries/65/DSC_0074_800x800.jpg', rel: 'lightbox[gallery]', title: 'DSC_0074'}
        %img{alt: 'DSC_0074', height: '250', src: '/images/galleries/65/DSC_0074_c250x250.jpg', width: '250'}/
%br{style: 'clear:both;'}/
