---
layout: 'default'
title: '1. Der Tanzplatz von Zufikon'
---

%h1
  1. Der Tanzplatz von Zufikon
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Tanzplatz von Zufikon', src: '/images/Dertanzplatzvonzufikon.jpeg'}/

%h2.sage
  Wer möchte da nicht mittanzen

#accordion
  %h3
    Sagentext
  %div
    %p
      Bei Zufikon gab es am alten Spielweg einen Tanzplatz von dem  man erzählte, dass hier die lustigen Reussjungfern mit gänsefüs sigen Waldmännchen vertrauliches 'Stelldichein' hielten und gerne  miteinander tanzten. Auch Hexen seien auf dem Besenstiel hier her geritten zu einem nächtlichen Treffen. Schwarze Grasringe auf  dem Tanzplatz zeugten vom wilden Feuertanz der nächtlichen  Gäste mit dem gehörnten Bösen. Heute ist aber alles verschwun den, und niemand kann mehr sagen, wo einst der düstere Tanzplatz genau lag.

  %h3
    Kunstwerk
  %div
    %p
      Auf einem schwarzen Holzschnitzelring tanzen fünf bis 4m hohe, abstrakte Hexenfiguren. Geformt mit der Kettensäge in Eichenholz und geschwärzt mit dem Feuer. Der Ring und die Schwärzung stehen für das imaginäre Feuer in der Geschichte und die fünf Silhouettenfiguren sind die geheimnisvolle Tanzgemeinschaft.
    %p Die abstrakte Umsetzung der menschlichen Körper in diese übergrossen und quadratischen Gliedmassen steigert ihre Bewegung. Es gibt eine moderne Komponente zu allen die beim Tanzen das Glück und die Befreiung suchen.

  %h3
    Künstlerportrait
  %div
    %img.artist.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Pat Stacey', src: '/images/Pat_stacey.png'}/
    %p.portrait
      %strong Pat Stacey
      %br/
      Steinbildhauer
      %br/
      Ifenthalerstrasse 68
      %br/
      4633 Hauenstein
      %br/
      %br/
      %a{href: 'http://www.steinwerkstatt.ch'} www.steinwerkstatt.ch

    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1969
            %td
              geboren in England
          %tr
            %td
            %td
              aufgewachsen in der Schweiz
              %br/
              Ausbildung als Buchdrucker und Steinbildhauer
          %tr
            %td
              seit 2002
            %td
              freischaffender Bildhauer
          %tr
            %td
            %td
              Teilnahme an verschiedenen Ausstellungen und Symposien
              %br/
              Leitung von Projektwochen an der Schule für Gestaltung in Vers in Olten
