!!!
%html
  %head
    %title Freiämter Sagenweg - 11. Die Waltenschwiler Hexe
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../styles/plugins/lightbox.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/application.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../styles/plugins/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #container
      #header
      %a{href: "../index.html"}
        #logo
      %a{href: "../index.html"}
        #sagenweg
      #content
        #page.11-die-waltenschwiler-hexe
          %h1 11. Die Waltenschwiler Hexe
          %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Die Waltenschwiler Hexe", src: "../../assets/128/diewaltenschwilerhexe.jpg"}/
          %h2.sage
            Ein Ausritt gefällig
          #accordion
            %h3
              Sagentext
            %div
              %p
                Zwischen Waldhäusern und Waltenschwil rauschten einst in einem kleinen Wäldchen mächtige Eichen und daneben lag an der holprigen Landstrasse das geheimnisvolle Tscho-Feld mit seinen dunkelfarbigen Ackerschollen. Der Name Tscho-Feld wird mit einer Hexe aus Waltenschwil in Verbindung gebracht. Das von ihr bewohnte winzige Hexenhäuslein ist zwar schon längst verschwunden, nur kleine Mauerreste hätten vor undenklichen Jahrzehnten noch den Wohnsitz der eigenartigen Frau verraten können, aber heute kennt niemand mehr den Platz.
              %p
                Die Hexe hütete das Geheimnis einer wundersamen Salbe. Strich man nur ein wenig davon an den Besenstiel, dann konnte man rittlings durch die Luft sausen und am gewünschten Zielort sich unbemerkbar absetzen. So habe sie eine würzige Zwiebelsuppe zum Mittagmahl gewünscht und habe erst, als schon die goldgelbe Butter über dem Feuer brodelte, gemerkt, dass ihr die nötigen Zwiebelknollen fehlten. Rasch holte sie den Besen aus der Küchenecke, strich etwas von der Salbe an den Holzstiel und im wildesten Hui ging’s auf den Basler Marktplatz vor dem Rathaus und mit einem weisslichen Leinensäcklein der Marktfrau flog sie heim. Noch brodelte die Butter in der schwarzen Pfanne, sie schnetzelte die Zwiebeln ohne Tränen und das Basler Gemüse fühlte sich in der Waltenschwiler Butter daheim. Nicht einmal der hungrige Ehemann spürte die Basler Herkunft seiner Lieblingsspeise, da er nicht die geringste Ahnung vom geheimnisvollen Getue seines Gespones hatte.
              %p
                Einst war die Frau ausser dem Hause und der Bauer wollte seinen alten Ackerwagen schmieren. In der Küche fand er nach langem Suchen den begehrten Schmierkübel unter dem dunklen Küchenherd. Er schmierte damit die trockene Radachse und kaum hatte er etwas Salbe an das Rad gestrichen, erhob sich zu seinem Staunen der Ackerwagen in die Höhe und lief querfeldein. Die Hexe sah am Waldrand den herrenlosen Wagen ohne Pferd daher sausen und sofort rief sie dem schaurigen Gefährt das Zaubersprüchlein zu: «Tscho, Schnöri!» und der Wagen stand bockstill auf dem Acherweg beim Eichwäldli. Das Bannwort bedeutete: «Heimwärts mit der Schnauze voraus». Die Hexe und der verhexte Wagen kamen gleichzeitig auf den Hof heim. Nachbarn, die in der Nähe auf dem Felde arbeiteten, hatten das eigenartige Gefährt und den schrillen Hexenruf gesehen und gehört und nannten seither das Gebiet «Tscho-Feld».
            %h3
              Kunstwerk
            %div
              %p
                Zwischen zwei Bäumen aufgehängt schwebt ein mehr als 4m langer Hexenbesen über unseren Köpfen. Wenn wir uns in die angehängten Schaukelsitze hineinsetzten, können wir einen wilden Ausritt wagen. Zu Zweit gibt es wie von Hexenhand noch einen Rodeo-Effekt, der das Schaukeln gegenseitig verstärkt.
              %p
                Auf dem Rand des riesigen Zauberhutes gilt es bei einer Umrundung den Halt nicht zu verlieren, denn auch dieser bewegt sich. Und wer schon immer ausprobieren wollte, wie es sich anfühlt, in einem Hexenkessel zu schmoren, sollte dies nicht "anbraten" lassen.
            %h3
              Künstlerportrait
            %div
              %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Roman Sonderegger", src: "../../assets/163/Roman_sonderegger.png"}/
              %p.portrait
                %strong Roman Sonderegger
                %br/
                Steinmetz
                %br/
                Pfaffenzielstrasse 7
                %br/
                5300 Ennetturgi
                %br/
                %a{href: "http://www.romansonderegger.ch"} www.romansonderegger.ch
              %h4
                Kurzbiographie
              %div
                %table
                  %tbody
                    %tr
                      %td
                        1979
                      %td
                        geboren und aufgewachsen in Vogelsang-Turgi
                    %tr
                      %td
                        1997 – 2001
                      %td
                        Steinmetzlehre
                    %tr
                      %td
                        2001 – 2004
                      %td
                        Mitarbeit an verschiedenen Renovationen: Kathedrale St.Gallen, Schloss
                        Hallwil, Stadthaus Winterthur
                    %tr
                      %td
                        seit 2003
                      %td
                        Eigene Arbeiten im Atelier in Vogelsang
                    %tr
                      %td
                        seit 2005
                      %td
                        Teilzeit angestellt an der Münsterbauhütte Basel
                    %tr
                      %td
                        2006
                      %td
                        Denkmalpflegekurs in Venedig
                    %tr
                      %td
                        seit 2004
                      %td
                        Teilnahme an verschiedenen Symposien, Märkten und Ausstellungen
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../projektidee.html"} Projektidee
            %li.has_children.parent_of_current
              %a{href: "../sagen.html"} Sagen
            %li
              %a{href: "../kuenstler.html"} Künstler
            %li.has_children
              %a{href: "../anreise-situationsplan.html"} Anreise
            %li
              %a{href: "../../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../pressearchiv.html"} Pressearchiv
            %li
              %a{href: "../fotoalbum/index.html"} Fotoalbum
            %li
              %a{href: "../../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../sponsoren-goenner.html"} Sponsoren/Gönner
            %li
              %a{href: "../kontakt.html"} Kontakt
        #news
          %a{href: "../fuehrungen.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "11-die-waltenschwiler-hexe.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "../scripts/plugins/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content" });
