---
layout: 'default'
title: '12. Brennende Männer'
---

%h1
  12. Brennende Männer
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Brennende Männer', src: '/images/brennendeMaenner.jpg'}/

%h2.sage
  Wegweisendes Irrlicht

#accordion
  %h3
    Sagentext
  %div
    %p
      In den alten Freiämter Wirtsstuben schenkte man schäumenden  Most und roten Elsässerwein aus. Der Wein wurde aber nicht durch  einen Händler vermittelt, sondern die Freiämter Wirte holten sich  in Gemeinschaft mit Wirtskollegen den Wein drunten im Elsass  am Rhein. Auf diesen Fahrten begegneten die Freiämter Fuhr- leute oftmals gar seltsamen Gestalten, die wie brennende Fackeln  über den Fuhrweg wanderten. Oft sprachen die unerschrockenen  Pferdeknechte diese brennenden Männer an und baten um Aus kunft über diese seltsame Erscheinung. Den bittenden Männern  versprach man Hilfe aus der brennenden Not durch Stiftung einer  heiligen Messe für die armen Seelen. Die brennenden Män ner schritten stundenlang der Weinfuhr voran und leuchteten den  dunklen Nachtweg aus, damit die Fuhrleute sicher und gut über Weg  und Steg kamen. Von solchen brennenden Männern erzählten sich  die Weinführer oft am abendlichen Rastort bei Speis und Trank die  schaurigsten Geschichten.

  %h3
    Kunstwerk
  %div
    %p
      Egal ob wir kommen oder gehen, der 4 Meter hohe brennende Mann weist uns den Weg. Aus weichem Berner Sandstein gespitzt, sind seine Arme, Beine und Haare sogleich Körper und Flammen in einem. Es lohnt sich seine sandigen und feuchten Haare auch aus der Nähe zu erkunden und seine übergrossen Glieder zu berühren. Diese brennenden Irrwische stammen von Menschen ab, deren Seelen zwischen den Welten umher irren und so keine Ruhe finden.

  %h3
    Künstlerportrait
  %div
    %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Rafael Häfliger', src: '/images/Rafael_haefliger.png'}/
    %p.portrait
      %strong Rafael Häfliger
      %br/
      Bildhauer
      %br/
      Hofmattenweg 9
      %br/
      5610 Wohlen
      %br/
      %br/
      %a{href: 'http://www.thewayofthestone.ch'} www.thewayofthestone.ch

    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1977
            %td
              geboren und aufgewachsen in Wohlen
          %tr
            %td
              1995
            %td
              Kunstgewerbeschule in Luzern
          %tr
            %td
              1996 – 2000
            %td
              Bildhauerlehre
          %tr
            %td
              2001
            %td
              Praktikum bei Rolf Grönquist, Hünenberg
          %tr
            %td
              2001 – 2008
            %td
              Studienreisen in Europa, Asien, Afrika, USA und der Südsee
          %tr
            %td
              seit 2002
            %td
              freischaffender Bildhauer
              %br/
              %br/
              diverse Einzel- und Gruppenausstellungen Teilnahme an Symposien und Mitinitiant
              des 1. Freiämter Bildhauersymposiums 2003
    %h4
      Bilder
    .gallery
      .container
        .thumb
          %a{href: '/images/galleries/62/1_500x334.jpg', rel: 'lightbox[Rafael Häfliger]', title: 'Kopfstudie Brennende Männer'}
            %img{alt: 'Kopfstudie Brennende Männer', src: '/images/galleries/62/1_350x234.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/62/2_500x793.jpg', rel: 'lightbox[Rafael Häfliger]', title: 'Model 1:10 Brennende Männer'}
            %img{alt: 'Model 1:10 Brennende Männer', src: '/images/galleries/62/2_350x555.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/62/3_500x747.jpg', rel: 'lightbox[Rafael Häfliger]', title: 'Model 1:10 Brennende Männer'}
            %img{alt: 'Model 1:10 Brennende Männer', src: '/images/galleries/62/3_350x523.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/62/4_500x769.jpg', rel: 'lightbox[Rafael Häfliger]', title: 'Model 1:10 Brennende Männer'}
            %img{alt: 'Model 1:10 Brennende Männer', src: '/images/galleries/62/4_350x538.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/62/5_500x756.jpg', rel: 'lightbox[Rafael Häfliger]', title: 'Model 1:10 Brennende Männer'}
            %img{alt: 'Model 1:10 Brennende Männer', src: '/images/galleries/62/5_350x529.jpg', width: '350'}/
    %br{style: 'clear:both;'}/
