!!!
%html
  %head
    %title Freiämter Sagenweg - 2. Der Teufel auf der Isenburg
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../styles/plugins/lightbox.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/application.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../styles/plugins/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #container
      #header
      %a{href: "../index.html"}
        #logo
      %a{href: "../index.html"}
        #sagenweg
      #content
        #page.2-der-teufel-auf-der-isenburg
          %h1
            2. Der Teufel auf der Isenburg
          %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Der Teufel auf der Isenburg", src: "../../assets/125/derTeufelaufderIsenburg.jpg"}/
          %h2.sage
            Geld allein macht nicht glücklich
          #accordion
            %h3
              Sagentext
            %div
              %p
                Auf der Isenburg bei Isenbergschwil soll ein schwarzer Teufel  hocken, welcher am Karfreitag seinen jahrelang bewachten Schatz  hervorhole und an der Frühlingssonne das glänzende Gold leuch ten lasse. Zwei mutige Männer beschlossen einst, dem Bösen den mächtigen Goldschatz zu rauben. Auf dem steinigen Weg zur Isenburg, wo man vor Jahren römische Ruinen fand, stiessen sie auf eine riesige Kröte, welche ihnen den Weg versperrte. Sie spritzte einen Saft aus und vertrieb die beiden Gesellen, die nur mit einem mächtig geschwollenen Kopf davon kamen.
            %h3
              Kunstwerk
            %div
              %p
                Eine grosse Steinplatte aus Mägenwiler Muschelsandstein, als trennende Wand aufgestellt, erhält in ihrer Mitte einen eingearbeiteten kleinen Schlitz, der die Betrachtenden in die vertraute Situation eines Bankomaten führt. Die Frau ganz in rot steht davor und möchte "Bares" beziehen. Dahinter, auf der bruchrohen Seite der Steinplatte, hockt der münzenzählende Teufel und schaut auf's Geld.
              %p
                Für die Künstlerin Berta Shortiss war es wichtig, dass ihr Werk für verschiedene Interpretationen Raum lässt. Für die Figuren wählte sie Sagex, der mit Epoxydharz verstärkt wurde. Der Kunststoff steht für den Bezug zu unserer Plastikwelt. Der schwarze Teufel in der Sage soll alljährlich am Karfreitag seinen glänzenden Goldschatz hervorgeholt haben, um ihn in der Frühlingssonne leuchten zu lassen. Nun steckt der Teufel im Bankomat.
            %h3
              Künstlerportrait
            %div
              %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Bertha Shortiss", src: "../../assets/162/Bertha_shortiss.png"}/
              %p.portrait
                %strong Bertha Shortiss
                %br/
                Bildhauerin
                %br/
                Attinghauserstrasse 119
                %br/
                6460 Altdorf
                %br/
                %br/
                %a{href: "http://www.shortiss.com"} www.shortiss.com
              %h4
                Kurzbiographie
              %div
                %table
                  %tbody
                    %tr
                      %td
                        1986 – 1990
                      %td
                        Steinbildhauerlehr in Uri
                    %tr
                      %td
                        1991 – 1992
                      %td
                        Bildhauerschule Müllheim
                    %tr
                      %td
                        1996 – 1997
                      %td
                        Glassels School of Art, Houston Texas
                    %tr
                      %td
                        1998 – 1999
                      %td
                        Freie Kunstakademie Basel
                    %tr
                      %td
                        ab 1997
                      %td
                        diverse Teilnahmen an internationalen Symposien in Stein wie Schneeskulpturen
                        und Eis mit zahlreichen Preisen
                    %tr
                      %td
                        ab 2001
                      %td
                        zahlreiche Einzel- und Gruppenausstellungen in Russland, Japan, Deutschland,
                        Irland und der Schweiz
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../projektidee.html"} Projektidee
            %li.has_children.parent_of_current
              %a{href: "../sagen.html"} Sagen
            %li
              %a{href: "../kuenstler.html"} Künstler
            %li.has_children
              %a{href: "../anreise-situationsplan.html"} Anreise
            %li
              %a{href: "../../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../pressearchiv.html"} Pressearchiv
            %li
              %a{href: "../fotoalbum/index.html"} Fotoalbum
            %li
              %a{href: "../../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../sponsoren-goenner.html"} Sponsoren/Gönner
            %li
              %a{href: "../kontakt.html"} Kontakt
        #news
          %a{href: "../fuehrungen.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "2-der-teufel-auf-der-isenburg.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "../scripts/plugins/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content" });
