!!!
%html
  %head
    %title Freiämter Sagenweg - 3. Der rote Wyssenbacher
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../styles/plugins/lightbox.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/application.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../styles/plugins/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #container
      #header
      %a{href: "../index.html"}
        #logo
      %a{href: "../index.html"}
        #sagenweg
      #content
        #page.3-der-rote-wyssenbacher
          %h1
            3. Der rote Wyssenbacher
          %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Der rote Wyssenacher", src: "../../assets/123/derRoteWyssenacher.jpg"}/
          %h2.sage
            Das Jungfrauen-blutbad
          #accordion
            %h3
              Sagentext
            %div
              %p
                Auf dem waldigen Lindenberg lag einst das Schongauerbad, das man auch hin  und wieder als Guggibad ansprach, weil man weit herum «guggen» konnte oder  weil auch hier der teuflische Gugger rachsüchtig hauste. Andere Leute wussten  aber eher vom Wyssenbacherbad zu berichten und bekreuzigten sich beim Namen des Wyssenbachers. Fromme Frauen plauderten aber lieber andächtig vom  Elfjungfernbrunnen, der hier oben entsprungen sei.
              %p
                Auf der Lindenberghöhe, man weiss nicht mehr genau wo, hatte der rote Wys senbach seinen Herrensitz. Er muss ein steinreicher Mann gewesen sein, der allen  Lüsten frönte und dann zur Strafe für sein ausschweifendes Leben mit einem  grausigen Aussatz bestraft wurde. Kein Heilbad, weder Arzt noch Wunderdok tor konnten ihm helfen, es war kein Heilkräutlein für ihn gewachsen. Alle Leute  der Umgebung mieden ihn, keine Dienstmagd, kein Knecht wollten auf seinem  verschrienen Herrensitz dienen.
              %p
                Von der ganzen Umwelt geächtet und scheu gemieden ritt er durch Wald und Flur.  Es muss ein arg böser Geist gewesen sein, der ihm ein schlimmes Heilmittel ins  Ohr geflüstert hat: Bade dich im Blute von zwölf Jungfrauen und du wirst gesund  und vom Aussatz befreit. Auf der Höhe des Lindenbergs sah er eines Morgens elf  Töchter aus dem nahen Boswil dem Schlattenweg entlang ins Seetal nach Hitzkirch
                pilgern. Mit einem starken Strick fing er die Mädchen und trotz allem Bitten und
                Flehen knüpfte der rote Unhold alle an den tief hängenden  Ästen einer mächtigen Eiche auf und ging auf die eilige Suche nach der zwölften  Jungfer, um so zu seinem Heil versprechenden Bad zu kommen.
                In der waldnahen Mühle kannte der Wyssenbach ein hübsches Mädchen und mit  süss lockendem Lied und bittendem Rufen lockte er die Müllerstochter zu sich  und riss sie mit wildem Griff auf sein ungeduldig scharrendes Ross. Mit der Beu- te sprengte der Räuber davon zu der Bluteiche der elf unglücklichen Jungfrauen
                von Boswil. Die Müllerstochter ahnte ihr schlimmes Ende und flehte den  aussätzigen Wyssenbach an und bat um einen letzten Wunsch. Der Mädchenräuber fühlte sich sicher und gewährte die Bitte:
              %p
                Wir sind hier zwischen Wald und Feld
                %br/
                es hört Dich weder Gott noch Welt
                %br/
                drum schreie, was du schreien kannst!
                %br/
              %p
                Die Todgeweihte rief nach Vater, Mutter und Bruder, aber der Vater sass beim  Wein, die Mutter war krank und der Bruder auf der Jagd. Die kranke Mutter aber  spürte die Not ihres Kindes und hörte die zitternde Stimme der hilflosen Tochter  und in grosser Angst rief sie dem jagenden Sohn und der Wind trug die müt terliche Bitte in den Wald. Der Bruder spürte die Not der Schwester und hörte  plötzlich die hilfeflehenden Rufe. Er ritt dem Rufen nach, brach durch das dor nige Gestrüpp und stand urplötzlich vor dem roten Bösewicht, der seine letzte  Beute, die zwölfte Jungfer, an der Eiche aufknöpfen wollte. Mit wildem Sprung  befreite er seine fast ohnmächtige Schwester, fesselte mit dem Todesstrick den  überraschten Wyssenbacher an den Sattelkopf seines Pferdes, gab dem Tier die  harten Sporen und in wildem Ritt schleifte er den Bösewicht im Walde zu Tode.  Mit der befreiten Schwester vor sich ritt der Bruder nach Hause, wo die kranke  Mutter sehnsüchtig auf ihre Kinder wartete und auf müden Knien neben dem  Bette betete.
              %p
                Die toten Leiber der elf Mädchen wurden bei der Bluteiche im Waldboden bestattet, eine kleine Quelle entsprang dem Unglücksplatz und viele Kranke fanden  in dem kühlen Waldwasser Heilung von vielen Gebresten. Wenn auf der Höhe  des Lindenbergs sich graue Wetterwolken ballen, hört man oft den roten Wyssenbacher mit seinem fuchsroten Pferd durch das Gehölz jagen.
            %h3
              Kunstwerk
            %div
              %p
                In der Mitte steht markant ein Pferdekopf mit weit geöffneten Nüstern aus Mägenwiler Muschelsandstein herausgehauen. Darüber schweben an Stahlseilen die elf erhängten Jungfrauen. Der Pferdekopf ist halb Skelett und halb lebendig und führt uns so zu dem schrecklichen Wesen, das im roten Wyssebacher geweckt wurde. Das Blut das aus den umliegenden Astlöchern der Bäume hervorquillt, steht für das grosse Leid sowie für das heilende Quellwasser.
            %h3
              Künstlerportrait
            %div
              %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Thomas Baggenstos", src: "../../assets/154/Thomas_baggenstos.png"}/
              %p.portrait
                %strong Thomas Baggenstos
                %br/
                Bildhauer
                %br/
                Rebmattweg 8
                %br/
                6402 Merlischachen
              %h4
                Kurzbiographie
              %table
                %tbody
                  %tr
                    %td
                      1983
                    %td
                      geboren und aufgewachsen in Merlischachen
                  %tr
                    %td
                      2003
                    %td
                      Lehrabschluss als Maurer Bildhauerarbeiten in der Freizeit
                  %tr
                    %td
                      2004
                    %td
                      Ausstellung in Frankreich
                      %br/
                      %br/
                      Studienreise in Australien
                  %tr
                    %td
                      2007
                    %td
                      Lehrabschluss als Steinbildhauer
                  %tr
                    %td
                    %td
                      diverse Teilnahmen an Symposien und Schneeskulpturen-Wettbewerben
                  %tr
                    %td
                      2008
                    %td
                      Studienreise ein halbes Jahr in Island
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../projektidee.html"} Projektidee
            %li.has_children.parent_of_current
              %a{href: "../sagen.html"} Sagen
            %li
              %a{href: "../kuenstler.html"} Künstler
            %li.has_children
              %a{href: "../anreise-situationsplan.html"} Anreise
            %li
              %a{href: "../../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../pressearchiv.html"} Pressearchiv
            %li
              %a{href: "../fotoalbum/index.html"} Fotoalbum
            %li
              %a{href: "../../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../sponsoren-goenner.html"} Sponsoren/Gönner
            %li
              %a{href: "../kontakt.html"} Kontakt
        #news
          %a{href: "../fuehrungen.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "3-der-rote-wyssenbacher.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "../scripts/plugins/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content" });
