---
layout: 'default'
title: '4. Das Rüssegger-Licht an der Reuss'
---

%h1
  4. Das Rüssegger-Licht an der Reuss
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Ruesseggerlicht', src: '/images/ruesseggerliecht.jpg'}/

%h2.sage
  Das Licht im Dunkeln weist den Weg

#accordion
  %h3
    Sagentext
  %div
    %p
      Ulrich III. von Rüssegg war mit der hübschen Nachbarstochter en net der Reuss, mit Elisabeth von Hünenberg, glücklich verheiratet.  Mit ihren Kindern ging die Hünenbergerin oft in die väterliche  Burg auf gastliche Visite. Eines Abends wurde es unverhofft früh  finster und in dunkler Abendzeit kam die frohe Gesellschaft endlich  an die Reuss, machte es sich im bereitliegenden Fährschiff bequem  und stiess vom Hünenberger Ufer ab. Allein in der dunklen Nacht  sah der Fährmann vergeblich nach dem Rüssegger Landeplatz mit  dem Sturmlicht aus. Das Fährschiff geriet in arge Not, die Reuss wellen schlugen über die Bootswand und der Weidling schaukelte  bedenklich. Zwei Buben der Rittersfrau stürzten voll Schrecken ins  nachtdunkle Wasser und unter wehem Hilferuf sanken sie unter.  Endlich gelang die Landung des Schiffes am rettenden Ufer. Gross  war die Trauer auf Rüssegg. Um in alle Zukunft ein solches Unheil  zu bannen, stiftete der Freiherr Ulrich von Rüssegg eine hell strah- lende Laterne am Reussplatz. So leuchtete das Rüssegger Licht all abendlich über das Flusswasser, bewahrte vor Unheil und kündete  den rettenden Anlegeplatz von weitem an.
    %p
      Als dann eine feste Brücke ins Zugerland hinüber gebaut wurde,  kam die Lichtspende von der Fähre in die Sinser Pfarrkirche und  so leuchten in dem Gotteshaus stets zwei «ewige Lichter» vor dem  Tabernakel des Hochaltars.

  %h3
    Kunstwerk
  %div
    %p
      Figürliche, handwerkliche Arbeit in Mägenwiler Muschelsandstein gespitzt. Die Lampe ist vergoldet. Die beiden Figuren haben ihre Kinder verloren und sind so durch ihr gemeinsames Schicksal verschmolzen. Doch in ihnen steckt Hoffnung. Als Träger des Lichtes sind sie ein kleines Mahnmal bei der Überwindung des Schicksals, auch über diese Geschichte hinaus.

  %h3
    Künstlerportrait
  %div
    %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Felix Bitterli', src: '/images/Felix_bitterli.png'}/
    %p.portrait
      %strong Felix Bitterli
      %br/
      Steinbildhauer
      %br/
      Moosbrünneli 25
      %br/
      5643 Sins

    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1961
            %td
              geboren in Luzern
          %tr
            %td
              1976
            %td
              Steinbildhauerlehre bei Eugen Spörri, Sins
          %tr
            %td
            %td
              Mitarbeit bei bei Eduard Spörri (Wettingen), U. Breitschmid (Wohlen),
              und G. Walliser (Sins)
          %tr
            %td
            %td
              Weiterbildung bei F. Antoni (Luzern) und Bildhauer Schmitz (Köln)
          %tr
            %td
              seit 2006
            %td
              freischaffender Bildhauer in Sins
              %br/
              Teilnahme an verschiedenen Symposien und Mitinitiant des 1. Freiämter
              Bildhauer-Symposiums 2003
