---
layout: 'default'
title: '5. Der Wohler Eichmann'
---

%h1
  5. Der Wohler Eichmann
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Wohler Eichmann', src: '/images/derwohlereichmann.jpg'}/

%h2.sage
  Von Eichen sollst du weichen

#accordion
  %h3
    Sagentext
  %div
    %p
      Im Wohler Oberdorf, wo einst nur ganz wenig Häuser standen, war  eine uralte, schattige Eiche. Dieser Eichbaum war bekannt, hielten  doch einst die bösen Freiämter Hexen hier ihr Treffen und holten  vom Eichbaum gern Blätter, um mit ihnen Verderben stiften zu  können. Im wirren Geäst sass oftmals ein rabenschwarzer Mann,  der Wohler Eichmann. Nur selten stieg er von seinem Baumsitz  herunter, um einen allzu neugierigen Burschen barsch zu verjagen  oder einen böswilligen Kerl in dem nahen Bremgarter Wald in die Irre zu führen.

  %h3
    Kunstwerk
  %div
    %p
      Aus einem 3 Meter hohen Eichenstamm heraus geschnitzt, sitzt der Eichmann auf seinem übergrossen Eichenstuhl. Er selber ist ganz schwarz und etwas unheimlich. Er wird wohl kaum heruntersteigen. Oder? In der Geschichte wie auch in der Skulptur ist der Eichmann an seinen Ort gebannt.

  %h3
    Künstlerportrait
  %div
    %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Christine Lifart', src: '/images/Christine_lifart.png'}/
    %p.portrait
      %strong Christine Lifart
      %br/
      Bildhauerin/Sozialpädagogin
      %br/
      Busada
      %br/
      6647 Mergoscia
      %br/
      Tel. 091 / 745 03 57

    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1961
            %td
              geboren in Muri AG
          %tr
            %td
            %td
              Vorkurs an der Kunstgewerbeschule, Zürich
              %br/
              %br/
              Ausbildung zur Sozialpädagogin
              %br/
              %br/
              Orientierungsjahr Schlössli Ins
          %tr
            %td
              1988 – 1994
            %td
              Bildhauerleitung Atelier Berzona TI
          %tr
            %td
              seit 1995
            %td
              Bildhauerei Mergoscia TI
          %tr
            %td
              seit 1998
            %td
              Teilnahme an diversen Symposien, Einzel- und Gruppenausstellungen
          %tr
            %td
              seit 2005
            %td
              Aktivmitglied Visarte TI
    %h4
      TEILNAHME AN SYMPOSIEN
    %div
      %table
        %tbody
          %tr
            %td
              1998
            %td
              SYMPOSIUM KANDERSTEG
          %tr
            %td
              1999
            %td
              SYMPOSIUM KANDERSTEG
          %tr
            %td
              1999
            %td
              KUNSTPROJEKT HPS FRICK
          %tr
            %td
              2000
            %td
              SYMPOSIUM ÜETLIBERG
          %tr
            %td
              2002
            %td
              SYMPOSIUM FRUTIGEN
          %tr
            %td
              2003
            %td
              SYMPOSIUM KIENTAL
          %tr
            %td
              2004
            %td
              SYMPOSIUM SPIEZ
          %tr
            %td
              2005
            %td
              SYMPOSIUM LIVIGNO (I)
          %tr
            %td
              2007
            %td
              SYMPOSIUM DAVOS
          %tr
            %td
              2010
            %td
              SYMPOSIUM WOHLEN
    %h4
      AUSSTELLUNGEN
    %div
      %table
        %tbody
          %tr
            %td
              2001
            %td
              EINZELAUSSTELLUNG GALERIE, ENGLISCHE KIRCHE MEIRINGEN
          %tr
            %td
              2003
            %td
              GEMEINSAME AUSSTELLUNG, STALLA MERGOSCIA
          %tr
            %td
              2006
            %td
              VIS–ARTE TICINO NEUMITGLIEDER, CHIASSO
          %tr
            %td
              2008
            %td
              GRUPPENAUSSTELLUNG PEACECHAIR, MONTE VERITÀ / LOCARNO
          %tr
            %td
              2009
            %td
              EINZELAUSSTELLUNG CENTRO LUNGTA
          %tr
            %td
              2009
            %td
              GRUPPENAUSSTELLUNG VIS-ARTE, MUSEO VELA LIGORNETTO
          %tr
            %td
              2009
            %td
              GRUPPENAUSSTELLUNG OFFICINA ARTE, MAGLIASO
          %tr
            %td
              2010
            %td
              OPEN ART ROVEREDO
          %tr
            %td
              2011
            %td
              GRUPPENAUSSTELLUNG VIS-ARTE, CASTELLO VISCONTEO LOCARNO
    %h4
      Bilder
    .gallery
      .container
        .thumb
          %a{href: '/images/galleries/60/Nussling_500x322.jpeg', rel: 'lightbox[Christine Lifart]', title: 'Nussling'}
            %img{alt: 'Nussling', src: '/images/galleries/60/Nussling_350x226.jpeg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/SIMBOLO_1_500x375.JPG', rel: 'lightbox[Christine Lifart]', title: 'SIMBOLO_1'}
            %img{alt: 'SIMBOLO_1', src: '/images/galleries/60/SIMBOLO_1_350x262.JPG', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/SIMBOLO_4_500x375.JPG', rel: 'lightbox[Christine Lifart]', title: 'SIMBOLO_4'}
            %img{alt: 'SIMBOLO_4', src: '/images/galleries/60/SIMBOLO_4_350x262.JPG', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/ALTARE_500x750.jpg', rel: 'lightbox[Christine Lifart]', title: 'ALTARE'}
            %img{alt: 'ALTARE', src: '/images/galleries/60/ALTARE_350x525.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/Die-Vier-Elemente--Symposium-Kandersteg-1999_Gasterntal__475x710.jpeg', rel: 'lightbox[Christine Lifart]', title: 'Die-Vier-Elemente--Symposium-Kandersteg-1999_Gasterntal_'}
            %img{alt: 'Die-Vier-Elemente--Symposium-Kandersteg-1999_Gasterntal_', src: '/images/galleries/60/Die-Vier-Elemente--Symposium-Kandersteg-1999_Gasterntal__350x523.jpeg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/BLATTSCHIFF_500x375.JPG', rel: 'lightbox[Christine Lifart]', title: 'BLATTSCHIFF'}
            %img{alt: 'BLATTSCHIFF', src: '/images/galleries/60/BLATTSCHIFF_350x262.JPG', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/Ritenere_Ausstellung_Museo_Vela_2009_500x281.jpg', rel: 'lightbox[Christine Lifart]', title: 'Ritenere_Ausstellung_Museo_Vela_2009'}
            %img{alt: 'Ritenere_Ausstellung_Museo_Vela_2009', src: '/images/galleries/60/Ritenere_Ausstellung_Museo_Vela_2009_350x196.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/KNOSPE_500x333.jpg', rel: 'lightbox[Christine Lifart]', title: 'KNOSPE'}
            %img{alt: 'KNOSPE', src: '/images/galleries/60/KNOSPE_350x233.jpg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/UMARMUNG_500x375.JPG', rel: 'lightbox[Christine Lifart]', title: 'UMARMUNG'}
            %img{alt: 'UMARMUNG', src: '/images/galleries/60/UMARMUNG_350x262.JPG', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/Wege-des-Ausbruchs--Symposium-Uetliberg-2000_500x341.jpeg', rel: 'lightbox[Christine Lifart]', title: 'Wege-des-Ausbruchs--Symposium-Uetliberg-2000'}
            %img{alt: 'Wege-des-Ausbruchs--Symposium-Uetliberg-2000', src: '/images/galleries/60/Wege-des-Ausbruchs--Symposium-Uetliberg-2000_350x238.jpeg', width: '350'}/
      .container
        .thumb
          %a{href: '/images/galleries/60/KEIMLING_500x375.JPG', rel: 'lightbox[Christine Lifart]', title: 'KEIMLING'}
            %img{alt: 'KEIMLING', src: '/images/galleries/60/KEIMLING_350x262.JPG', width: '350'}/
    %br{style: 'clear:both;'}/
