---
layout: 'default'
title: '6. Der Zwerg von Muri'
---

%h1
  6. Der Zwerg von Muri
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Zwerg von Muri', src: '/images/derZwergvonMuri.jpg'}/

%h2.sage
  Kleider machen Leute

#accordion
  %h3
    Sagentext
  %div
    %p
      Oberhalb des Klosterhofes Muri bewirtschafteten Sennen die gros sen, fetten Weiden des Habsburger Klosters. Oftmals staunten sie,  wenn vom Klosterturm her das silbern klingende Matutin-Glöck lein den frühen Morgengruss einläutete und sie ihre Tagesarbeit  mit der Fütterung der Tiere beginnen wollten, denn im Stall war alles wohl gerüstet. Die Morgenmilch schäumte in den blanken Kübeln, Trichter und Richter hingen fein geputzt an der Wand und der Boden war von Stroh und Heufutter gereinigt. Wer hatte die Früharbeit so meisterlich getan? Diesen willkommenen Helfer wollte man doch kennen lernen und darum stellten die Sennen nächtliche Wachen auf und diese Späher sahen ein kleines Männchen durch das schmale Futterloch in den Stall schlüpfen und in der morgendlichen Stille alle Arbeiten blitzschnell verrichten, um dann flugs zu verschwinden.
    %p
      Die glücklichen Sennen wollten dem kleinen, armselig gekleideten  Helfer danken und liessen beim Dorfschneider in der Egg ein hüb sches, farbiges Wämslein, bunte Hosen und ein Lederkäppchen rüs- ten und legten die kleidsamen Geschenke vor einen Stallspiegel hin.  Der Zwerg kam, sah die Gaben, wechselte sein geflicktes Gewand  und schlüpfte in das neue, köstliche Gewand. Im Spiegel beguckte  er sich in seiner Pracht und Herrlichkeit und rief voll Entzücken  aus: «Jetzt bin ich ein Herr, jetzt bin ich kein Senn, kein Knechtlein  mehr». So jubelte er, verschwand durch das schmale Futterloch und  ward nie mehr gesehen.

  %h3
    Kunstwerk
  %div
    %p
      Ein bunter Zwerg mit Schlips und Wams steht vor einem übergrossen Spiegel mitten im Wald. Der Besucher kann sich zu diesem intimen Moment dazugesellen und steht plötzlich sich selbst gegenüber. Die glitzernde Figur ist eine plastische Arbeit in armiertem Beton aufgebaut und mit bunten Mosaiken überzogen. Der gebogene Spiegel ist aus Chromstahl und auf einem rostenden und verzierten Rahmen angeschweisst. Auch darf der grosse Rechen nicht fehlen. Die umliegenden Bäume geben trotz Weitsicht ein Gefühl von einem Raum mit Moosteppich.

  %h3
    Künstlerportrait
  %div
    %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Silja Coutsicos', src: '/images/Silja_coutsicos.png'}/
    %p.portrait
      %strong Silja Coutsicos
      %br/
      Plastikerin
      %br/
      Aarauerstrasse 45
      %br/
      5012 Schönenwerd
      %br/
      %br/
      %a{href: 'http://www.siljarte.ch'} www.siljarte.ch

    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1960
            %td
              in Wald-St.Peterszell geboren
          %tr
            %td
              1982
            %td
              pädagogische Ausbildung in Wattwil
              %br/
              %br/
              Erwachsenenbildnerin SEB
              %br/
              %br/
              Autorin, Illustratorin
              %br/
              %br/
              Lehrerin in diversen Kantonen und Schulstufen
              %br/
              %br/
              Diverse Gruppenausstellungen (Bilder, Mosaike, Skulpturen)
              %br/
              %br/
              Kunst am Bau- und Mosaikprojekte/ Workshops Lehrerweiterbildung AG
              %br/
              %br/
              Funkenflugauszeichnung 2007 Kanton Aargau für Kultur an Aargauer Schulen
