---
layout: 'default'
title: '7. Die drei Angelsachsen'
---

%h1
  7. Die drei Angelsachsen
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Die drei Angelsachsen', src: '/images/diedreiangelsachsen.jpg'}/
%h2.sage
  Gelegenheit macht Diebe
#accordion
  %h3
    Sagentext
  %div
    %p
      Drei fromme Pilger aus dem fernen Land der Angelsachsen beteten einst am  Grab des von ruchlosen Mördern erschlagenen heiligen Meinrads von Sigmarin gen im Finstern Walde, wo heute das Kloster Einsiedeln steht. Von der Gnaden stätte Maria-Einsiedeln zogen sie über den Katzenstrick ins Zugerland und von  da über die Reuss gegen Muri, wo sie im Habsburger Kloster die Vesper mit den  Benediktinermönchen sangen. Darauf wollten sie weiter gegen den heimatlichen  Norden, kauften im Klosterdorf Brot und Speisen und wanderten am gastlichen  Haus «Zum goldenen Ochsen» vorbei. Da hörten sie frohe, lüpfige Tanzweisen:  ein junges Liebespaar feierte mit einer großen Gesellschaft das hochzeitliche  Mahl. Durch das offene Fenster sah die glückliche Braut die fremden Pilger und  in ihrem grenzenlosen Glück stupfte sie ihren neuen Ehemann und beide luden  die drei Pilger an den Hochzeitstisch zu Speise und Trank.
    %p
      Als es langsam Abend wurde, brach die frohe Hochzeitsgesellschaft auf und die  Angelsachsen zogen mit, denn das Heimwesen der Brautleute lag im Büelisacher,  und der Weg der Pilger führte auch dort vorbei. Im Büelisacher wollte man die  drei Fremdlinge über die Nacht beherbergen, sie aber beharrten auf ihrem Wei tergehen und verabschiedeten sich von der gastlichen Gesellschaft. Einer der drei  Angelsachsen schenkte der glückstrahlenden Braut ein Goldstücklein. Die  kleine Dankesgeste sah leider ein beutelüsterner Bursche, der sich unter die Hoch zeitsgesellschaft gemischt hatte, und er erzählte davon zwei andern Gesellen. Das  kleine Goldstücklein lockte zu einem reichen, nächtlichen Beutegang.
    %p
      Als die drei Pilger betend durch den nächtlich dunklen Tann schritten, brachen  aus wildem Weggestrüpp drei rohe Burschen, die auf reiche Goldbeute hofften,  mit ihren scharfen Schwertern den Pilgern die Köpfe abschlugen und diese ins  Gestrüpp warfen. Beim Plündern der toten Leiber fanden die Mordgesellen aber  kein Gold, sie gerieten in Wut, und als von einer Tanne ein aufgeschreckter Uhu  sein Geschrei anhub, stoben sie unter brüllendem Fluchen davon. Aber da erho ben sich die drei Angelsachsen, holten ihre abgeschlagenen Häupter und wuschen  sie an einer kleinen Waldquelle am Weg. Seither fliesst dort rötliches Wasser aus  dem kleinen Weidbrünnlein und die Ackererde nahm eine rote Färbung an.  Mancher Hilfesuchende fand später Heilung an diesem Waldquell.
    %p
      Die drei Angelsachsen schritten weiter und als ein schwarzes Gewitter aufzog  und prasselnder Regen fiel, suchten sie unter einem großen Stein am Waldweg  Schirm und Schutz. Der Stein wuchs als Schutzdach über die drei Männer.  So fand ein des Wegs kommender Bettler die drei Toten, welche ihre blutigen  Häupter in den erstarrten Händen hielten. Voll Schreck meldete er den grausigen  Fund in Sarmenstorf. Priester und viel Volk eilten zum Waldfelsen und bargen  die drei Leichen in der nahen Wendelinskapelle, wo sie ihnen eine Ruhestätte  rüsteten und den Schutzfelsen später ob dem Grab in der Kapelle aufstellten.  Das Angelsachsengrab wurde eine Pilgerstätte und im Pilgerlied hieß es: «Gleich  wie ein Dach hatt‘ Schatten gmacht der Stein und hat Schirm gegeben.»
    %p
      Für die letzte Ruhestätte soll man den alten Steinsarg aus dem Schloss Hallwil ge- holt haben, in dem einst Hans von Hallwyl, der Führer von Murten geruht habe,  denn es wird behauptet, dass man auf dem Grabstein undeutlich lesen konnte: „In  diesem Stein ist ihre Ruh, man wollt‘s gar wohl bewahren. Alt-Hallwil gab den  Stein dazu vor mehr als hundert Jahren.“ Als die Pilgerschar größer wurde, hat  man dann die sterblichen Überreste der drei Angelsachsen in der Pfarrkirche be- stattet. Da die drei Pilger aus dem Angelsachsenland auf ihrer Todeswanderung  von einem Gewitter überrascht worden waren, gelten sie als Wetterheilige und es  hiess von ihrem Todestag, dem 8. Jänner, im Volksmund: «Wenn d‘ Angelsachse  am Fäschttag ihr Grab nid chönd sunne, so chamer a de Erndt au d‘ Garbe nid  ganz sunne».
  %h3
    Kunstwerk
  %div
    %p
      Die drei Angelsachsen halten ihre Köpfe in den Händen und sind alle rund 4 Meter hoch. Die urwüchsige Form der Robinienstämme gibt jeder Figur die langgezogene Körperhaltung. Mit der Kettensäge wurden die ganzen Figuren grosszügig herausgearbeitet und zum Schluss einheitlich geflammt und gebürstet.
    %p
      Der Standplatz dieser schmalen, hohen und verbrannten Gestalten ist bewusst eng gewählt. Es benötigt etwas Überwindung um in ihre Mitte zu gehen. Der Betrachter erhält auch den Eindruck, die Robinien seien genau hier gewachsen. Die abgetrennten Köpfe haben etwas Entrücktes, und doch geben wir im Spiel mit der schmalen Form Leben in diese drei Körper.
  %h3
    Künstlerportrait
  %div
    %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Samuel Ernst', src: '/images/Samuel_ernst.png'}/
    %p.portrait
      %strong Samuel Ernst
      %br/
      Bildhauer
      %br/
      Baslerstrasse 32
      %br/
      5200 Brugg
      %br/
      %br/
      %a{href: 'http://www.samuelernst.ch'} www.samuelernst.ch
    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1965
            %td
              geboren in Zürich, aufgewachsen in Baden/Wettingen
          %tr
            %td
              1986
            %td
              Matura in Baden
          %tr
            %td
              1986 – 1987
            %td
              Universität Zürich (Phil 1)
              %br/
              %br/
              Autodidaktische Ausbildung in Malerei und Bildhauerei
          %tr
            %td
              1994
            %td
              Mitwirkung „Zyklorama“ (Spiel für kulturresistente Güter)
          %tr
            %td
              1995 – 1996
            %td
              Kunststipendium des AKB, Baden
          %tr
            %td
              seit 1996
            %td
              Teilnahmen an Gruppen- und Einzelausstellungen, Symposien im In- und Ausland
          %tr
            %td
              seit 2006
            %td
              lebt und arbeitet im Mittelland, im Tessin und in Italien
