!!!
%html
  %head
    %title Freiämter Sagenweg - 8. Der Stifeliryter
    %meta{content: "Freiämter Sagenweg", name: "description"}/
    %meta{content: "sagen, freiamt, aargau, wohlen", name: "keywords"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "index,follow", name: "Robots"}/
    %meta{content: "Michael Kessler - www.netzpiraten.ch", name: "Developer"}/
    %link{href: "../styles/plugins/lightbox.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/application.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    %link{href: "../styles/print.css", media: "print, projection", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 8]
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    %link{href: "../styles/plugins/slimbox2.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630599-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{src: "http://use.typekit.com/rgn5szp.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #container
      #header
      %a{href: "../index.html"}
        #logo
      %a{href: "../index.html"}
        #sagenweg
      #content
        #page.8-der-stifeliryter
          %h1
            8. Der Stifeliryter
          %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Der Stifeliryter", src: "../../assets/124/derStifeliryter.jpg"}/
          %h2.sage
            Hochmut kommt vor dem Fall
          #accordion
            %h3
              Sagentext
            %div
              %p
                Das Kloster Muri, das von Gräfin Ita von Lothringen und Graf Radebot von  Habsburg gegründet worden sein soll, wurde von Mönchen aus dem Finstern  Walde, von Maria-Einsiedeln, besiedelt. Im Laufe der Jahrhunderte wuchs der  Landbesitz des Klosters, neue Güter kamen in den Verwaltungsbereich des Konventes und der Abt musste einen weltlichen Schaffner für die Verwaltung des  weitverstreuten Klostergutes einsetzen. Der Gnädige Herr hatte aber nicht im mer eine gute Hand bei der Wahl seines mächtigen Verwalters des grossen Be sitztums; so weiss die Sage von einem rotbärtigen Gutsverwalter zu erzählen,  der auf einem kräftigen Schimmel über Felder und Äcker, durch Wald und Flur  ritt. Leider besass der Verwalter eine ränkesüchtige, grundfalsche Seele, wusste  aber diese schlechten Eigenschaften unter einem scheinheiligen Tun zu verste cken. Schmähte er auf seinen Ritten einsame Feldkreuze mit einem Fluchwort  und schlug wildzornig mit seiner ledernen Reitpeitsche ein buckliges Weiblein  am Ackerrand, so küsste er ergebenst den goldenen Ring des Prälaten in der Äb testube des Habsburger Klosters und wusste alle Klagen gegen ihn fernzuhalten.  Da er sich stets auf stolzem Ross zeigte, mit seiner Gerte auf die hohen Leder- stiefel schlug und seine gierigen Augen habsüchtig herumschweifen liess, nannte  ihn das Volk einfach den «Stiefeliryter».
              %p
                Diesem üblen Burschen stach das Gehölz im Büttiker Bärholz schon lange in die  raffgierigen Augen. Mit sehnsüchtigem Blick ritt er durch die grünen Sträucher,  um das dunkle Bärholz und erhob plötzlich unerwarteten Rechtsanspruch auf  diesen Besitz. Zwar fehlte ihm eine pergamentene Urkunde, aber auch die Büt tiker Bauern hatten kein gesiegeltes Beweisstück für ihr angestammtes Gut. Es  entstand ein böser Rechtsstreit und der kam vor den Landvogt in Bremgarten.
              %p
                Der Landvogt erschien im Bärholz, die Bauern wiesen auf urdenkliche Zeiten  hin, seit denen sie das Gehölz nutzten und der Stiefeliryter beharrte auf seinem  Recht, das er mit einem Eid beschwören könne. Diesen Eid leistete er dann auch.  Seine weiten Reitstiefel füllte er mit trockener Ackerkrume aus dem Murianer  Klostergarten und unter seinen filzigen Allwetterhut steckte er die saubergeputz te Milchkelle, welche die Sennen Richter oder Schöpfer nannten. So trat er vor  den Landvogt, reckte seine drei Schwörfinger gegen den Himmel und schwor,  der Wald gehöre dem Kloster, so wahr er auf Klosterboden stehe und den Schöp fer und Richter ob sich habe. Das war der böse Meineid des Stiefeliryters und  der Übeltäter fiel auf den Waldboden und war tot. In seinen Stiefeln fand man  die Erde aus dem Klosterhof, in seinem Hut den Milchschöpfer. Im hintersten  Winkel des Dorffriedhofes wurde er verscharrt, aber er fand keine Ruhe. In gras grünem Jagdkleid ritt er mit verdrehtem Kopf auf seinem Schimmel über die  Höhen des Lindenbergs. Aus seinem weitgeöffneten Schlund zuckte höllisches  Feuer; mit klatschenden Hieben schlug er auf seine hohen Stiefel. Er schreckte  einsame Wanderer und jagte Holzfrevler aus dem dunklen Tann des Bärholz. Da  er auch in weiter Umgebung viele Übeltaten verbrochen, sah man ihn auch im  Maiengrün, hörte ihn dröhnend über die Reussbrücke von Bremgarten reiten  und mancher Holzarbeiter bekreuzte sich im Wohler Wald vor dem wild vorübertrabenden Reiter.
            %h3
              Kunstwerk
            %div
              %p
                Die beiden Stiefel sind mit der Kettensäge aus Eichenholz geschnitzt und hängen über uns an einem freistehenden Tor fest montiert. Die ehemalige Steineinfassung einer Scheuneneinfahrt hebt die übergrossen Stiefel 4 Meter weit in die Höhe, so dass imaginär in der Fantasie der Betrachter ein übergrosser Reiter entsteht. Die Stiefel haben Eichenfarbe und Formenschönheit, die getragenes Leder in sich birgt. Sie sind ganz auf sich selber gestellt – genug um auf die Betrachtenden zu wirken. Die Verzierung am Stiefelrand hat bewusst auch etwas von einer Krone und somit märchenhaftes. Zusammen mit der barocken Absatzform ist es das "Vornehme und Schöne", welches uns hier über unseren Köpfen entgegentritt und, gepaart mit Übergrösse sowie eingehauchtem Leben, auch dominiert. Der geschwärzte Balken steht für das Schicksal von diesem raffinierten Hochmut, der helle Stein für das Ross und auch als Tor zu dieser Geschichte.
              %p
                Gesamthöhe 4 m, Breite 3.5 m
            %h3
              Künstlerportrait
            %div
              %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: "Alex Schaufelbühl", src: "../../assets/161/Alex_schaufelbuehl.png"}/
              %p.portrait
                %strong Alex Schaufelbühl
                %br/
                Bildhauer
                %br/
                Atelier an der Reuss
                %br/
                Gnadenthal
                %br/
                5524 Niederwil
                %br/
                %br/
                %a{href: "http://www.alexschaufelbuehl.ch"} www.alexschaufelbuehl.ch
              %h4
                Kurzbiographie
              %div
                %table
                  %tbody
                    %tr
                      %td
                        1967
                      %td
                        geboren und aufgewachsen in Bremgarten
                    %tr
                      %td
                        1987
                      %td
                        abgeschlossene Maurerlehre
                        %br/
                        %br/
                        freischaffender Kundenmaurer
                    %tr
                      %td
                        1993
                      %td
                        abgeschlossene Bildhauerlehre
                        %br/
                        %br/
                        Lehrjahre als Bildhauer und Restaurator auf der Stör
                    %tr
                      %td
                        seit 1995
                      %td
                        freischaffender Bildhauer
                    %tr
                      %td
                        seit 1999
                      %td
                        Atelier im Gnadenthal
                    %tr
                      %td
                      %td
                        diverse Teilnahmen an Ausstellungen und Symposien im In- und Ausland Initiant
                        der offenen Steinbruchwerkstatt Mägenwil 2005
                        %br/
                        %br/
                        diverse Arbeiten im öffentlichen Raum
      #sidebar
        #menu
          %ul#navigation
            %li.first
              %a{href: "../index.html"} Freiämter Sagenweg
            %li
              %a{href: "../projektidee.html"} Projektidee
            %li.has_children.parent_of_current
              %a{href: "../sagen.html"} Sagen
            %li
              %a{href: "../kuenstler.html"} Künstler
            %li.has_children
              %a{href: "../anreise-situationsplan.html"} Anreise
            %li
              %a{href: "../../fuehrungen/index.html"} Führungen
            %li.has_children
              %a{href: "../pressearchiv.html"} Pressearchiv
            %li
              %a{href: "../fotoalbum/index.html"} Fotoalbum
            %li
              %a{href: "../../unterrichtsmaterial/index.html"} Unterrichtsmaterial
            %li
              %a{href: "../sponsoren-goenner.html"} Sponsoren/Gönner
            %li
              %a{href: "../kontakt.html"} Kontakt
        #news
          %a{href: "../fuehrungen.html"}
            %h3 Jahresprogramm 2014
          %a.sublime{href: "8-der-stifeliryter.html#sagenwegvideo"}
            %h3 Sagenweg Kurzfilm
          %a{href: "../../assets/627/Prospekt_Sagenweg.pdf"}
            %h3 Sagenweg Prospekt
          %h3
            App für
            %a{href: "https://itunes.apple.com/us/app/freiaemter-sagenweg/id606774679?mt=8"} iPhone
            oder
            %a{href: "https://play.google.com/store/apps/details?id=ch.freiaemtersagenweg.freiaemtersagenwegapp&hl=de"} Android
    %video#sagenwegvideo{"data-uid" => "0", height: "390", poster: "/assets/647/Sagenweg.jpg", preload: "none", style: "display:none", title: "Freiämter Sagenweg", width: "590"}
      %source{"data-quality" => "hd", src: "http://s3-eu-west-1.amazonaws.com/extranett-radiant/Sagenweg.mp4"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", type: "text/javascript"}
    %script{src: "../scripts/plugins/slimbox2.js", type: "text/javascript"}
    :javascript
      jQuery.noConflict(); jQuery('#accordion').accordion({ heightStyle: "content" });
