---
layout: 'default'
title: '9. Der Kegler im Uezwiler Wald'
---

%h1
  9. Der Kegler im Uezwiler Wald
%img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Der Kegler im Uezwil', src: '/images/derKeglerImUezwil.jpg'}/

%h2.sage
  Ein Unglück kommt selten allein

#accordion
  %h3
    Sagentext
  %div
    %p
      Zwischen Uezwil und Kallern liegt ein schattiger Buchenwald und auf der Höhe der kleinen Waldkuppe war an einem Fussweg eine Lichtung und auf diesem Platz wuchs an einer langen Strecke nie- mals ein Grashalm. Man erzählte, dass hier vor urdenklichen Zeiten die lange Kegelbahn der früheren Waldwirtschaft gelegen sei. Die von weither viel besuchte Gaststätte und die bekannte Kegelbahn seien aber schon lange verschwunden und nur die stets öde Wegstrecke erinnere an den ehemaligen begehrten Spielplatz der lustigen, aber oft auch streitenden Kegler. Es kam oft zu Streit, ja sogar Messer wurden gezückt. Mancher Spieler trug schlimme Schäden davon.
    %p
      Um Mitternacht huschen dunkle Schatten von falschen, streitsüchtigen Spielern über den verödeten Platz; man hört die rollenden Kugeln und das dröhnende Fallen der Kegel, aber auch das Streiten und Lärmen uneiniger Spieler samt dem röchelnden Stöhnen wütender Raufbrüder. In diesen wilden Lärm klingt helle Tanzmusik, die so lange zu hören ist, wie der Lärm der Uezwiler Kegelbrüder. Nächtliche Wanderer wurden oftmals durch surrendes Rauschen im Buchenwald am Weiterwandern gehindert und konnten erst nach wilden Schlägen mit einem geschwollenen Kopf spät heimkommen. Buben, die am Hang des Greberenwald Ziegen hüteten, hörten bisweilen gegen die Abenddämmerung lustige Musik erklingen, die dann aber plötzlich mit lautem Prascheln in das nahe Gehölz fuhr.

  %h3
    Kunstwerk
  %div
    %p
      Entlang eines abfallenden Trampelpfades sind vier übergrosse Kegel aus Eichenholz wild verteilt. Sie sind nicht im Gleichgewicht und scheinen mit ihrer inneren Verformung zu tanzen bevor sie fallen. Ihre bunten Farben verschaffen zusammen mit dem schrägen Gelände sehr schöne Anreize und auch Dynamik mitten im Wald. Die Kegelkugel mit einer Griffvertiefung für übergrosse Hände wartet zuoberst auf ihren nächsten Einsatz.

  %h3
    Künstlerportrait
  %div
    %img.sage.instant.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Nicolas Wittwer', src: '/images/Nicolas_wittwer.png'}/
    %p.portrait
      %strong Nicolas Wittwer
      %br/
      Bildhauer
      %br/
      Burgweg 13
      %br/
      6402 Merlischachen
      %br/
      %br/
      %a{href: 'http://www.artwittwer.com'} www.artwittwer.com

    %h4
      Kurzbiographie
    %div
      %table
        %tbody
          %tr
            %td
              1973
            %td
              geboren
          %tr
            %td
              1990 – 1992
            %td
              Farbmühle Gestaltungsschule, Luzern
          %tr
            %td
              1992 – 1996
            %td
              Steinbildhauerlehre bei P. Lussi, Stans
              %br/
              %br/
              Weiterbildungen HGK, Luzern
          %tr
            %td
              1997 – 1999
            %td
              School of Modern Art Houston, Texas USA
          %tr
            %td
              ab 1995
            %td
              Teilnahme an internationalen Symposien und Schneeskulpturen-Wettbewerben
              mit diversen Auszeichnungen
          %tr
            %td
              ab 1998
            %td
              Ausstellungen im In- und Ausland
          %tr
            %td
              seit 2000
            %td
              freischaffender Bildhauer
              %br/
              %br/
              Aufträge im öffentlichen Raum mit diversen Preisen
