---
layout: 'default'
title: 'Anreise'
---

%h1 Anreise

%h3 Öffentlicher Verkehr
%p S17 ab Wohlen oder Dietikon-Bremgarten nach der Haltestelle 'Erdmannlistein' (Halt auf Verlangen). Von Montag bis Sonntag alle 30 Minuten eine Zugsverbindung.
%p Mit dem Postauto ab Wohlen nach 'Waltenschwil, Hessel'. Montag bis Samstag im Stundentakt mit Verdichtungen am Morgen und am Abend. Am Sonntag unregelmässiger Bedarfsfahrplan.
%p Der Zugang zum Sagenweg ist ab diesen Haltestellen ausgeschildert.

%p
  Zum SBB Fahrplan mit der Haltestelle
  %a{href: 'http://fahrplan.sbb.ch/bin/query.exe/dn?REQ0JourneyStopsZID=A=1@O=Erdmannlistein@X=8312756@Y=47349591@U=85@L=008502269@B=1@p=1281961677@&externalCall=yes', target: '_blank'} Erdmannlistein
  oder
  %a{href: 'http://fahrplan.sbb.ch/bin/query.exe/dn?REQ0JourneyStopsZID=A=1@O=Waltenschwil, Hessel@X=8308720@Y=47333851@U=85@L=008502711@B=1@p=1281961677@&externalCall=yes', target: '_blank'} Waltenschwil, Hessel
  als Reiseziel.

%h3 Mit dem Privatwagen
%p Auf der Autobahn A1 bis Ausfahrt Lenzburg und von dort über Wohlen nach Waltenschwil. Von der Innerschweiz auf der Autobahn A4 bis Ausfahrt Rotkreuz und über Sins - Muri - Büelisacker nach Waltenschwil. Parkplätze am Anfang und Ende der Grintenstrasse.

%h1
  Situationsplan

%a.noarrow{href: '/images/Situationsplan.jpg', rel: 'lightbox', title: 'Der Situationsplan zum Freiämter Sagenweg'}
  %img{alt: 'Der Situationsplan zum Freiämter Sagenweg', src: '/images/Situationsplan.jpg', width: '570px'}/

%h4 Legende

%table.legend
  %tr
    %td.yellow
    %td Freiämter Sagenweg
  %tr
    %td.red
    %td Freiämterweg
  %tr
    %td{colspan: '2', style: 'padding-left: 0px;'}
      %img{alt: 'Feuerstelle', height: '24', src: '/images/feuer.jpg', style: 'float:left; margin-left: 0px; margin-right: 5px;', width: '24'}/
      Feuerstelle
