---
layout: 'default'
title: 'Kleine Presseschau'
---

%h1
  Kleine Presseschau
%p Nachfolgend eine kleine Auswahl von lesenswerten Artikeln aus unserem umfangreichen Pressearchiv:

%ul.archive
  / Copy to archive before delete
  %li
    %a{href: '/documents/613/Tipp_der_Woche_Stelldichein_mit_wundersamen_Wes_en_-_Reisen-Freizeit_Hintergründe_-_NZZ.ch.pdf'} Stelldichein mit wundersamen Wesen
  %li
    %a{href: '/documents/611/2013_08_27_Freiämter.pdf'} «Liebi Lisme» oder «Stigeligumpe»
  %li
    %a{href: '/documents/397/Kunst_Stein_4-2011.pdf'} Sagenhafter Waldspaziergang
  %li
    %a{href: '/documents/280/spurensuche.pdf'} Auf Spurensuche im Wald von Waltenschwil
  %li
    %a{href: '/documents/192/im-wald-tut-sich-sagenhaftes.pdf'} Im Wald tut sich Sagenhaftes
  %li
    %a{href: '/documents/184/schmuck-identitaet-aterliererlebnis.pdf'} Schmuck, Identität, Ateliererlebnis
  %li
    %a{href: '/pressearchiv/nein-zum-sagenweg-in-wohlen.html'} Nein zum Sagenweg in Wohlen

%h1
  Das komplette Archiv
%p
  Hier findest du eine Auswahl an Zeitungsartikeln rund um den Freiämter Sagenweg und das ebenso sagenumwobene
  Bildhauersymposium:

%h4 2013

%ul.archive
  %li
    %a{href: '/documents/612/2013_08_27_WA.pdf'} Beliebt und geliebt wie eh und je
  %li
    %a{href: 'http://telefreiamt.ch/index.php?i=artikel&id=389'} 3 Jahre Sagenweg
  %li
    %a{href: '/documents/577/walpurgisnacht-2013.pdf'} Fremdartige Klänge auf dem Sagenweg
  %li
    %a{href: '/documents/554/WA_APP_28-3-2013.pdf'} Sagen erleben via Smartphone
  %li
    %a{href: '/documents/553/AZ_APP_27.3.2013.pdf'} Eine sagenhafte Freiämter App

%h4 2012

%ul.archive
  %li
    %a{href: '/documents/534/Pilzexkursion2012.pdf'} Aus den Brosamen des Teufels werden Giftpilze
  %li
    %a{href: '/documents/533/sagenweg-geburtstag.pdf'} Oh, schaurig ist es, durch den Wald zu gehn ...
  %li
    %a{href: '/documents/436/AZ_Walpurgisnacht30.4.2012.pdf'} Walpurgisnacht mit Hexentanz und Sagen-App
  %li
    %a{href: '/documents/437/BBA_Drachebänkli11.4.2012.pdf'} Neues «Drachebänkli» im Wald
  %li
    %a{href: '/documents/438/AZ08.4.2012_Drachenbank.pdf'} Drachenbänkli für den Freiämter Sagenweg
  %li
    %a{href: '/documents/509/Ferienpass_der_Region_Mutschellen-Bremgarten-Wohlen.pdf'} Ferienpass der Region Mutschellen-Bremgarten

%h4 2011

%ul.archive
  %li
    %a{href: '/documents/649/Sagenhaftes_mit_Drachen_Hexen_Zwergen_und_Stiefeln.pdf'} Sagenhaftes mit Drachen, Hexen, Zwergen und Stiefeln
  %li
    %a{href: 'http://www.tele-freiamt.ch/index.php?i=artikel&id=305'} Kulturtage Schule Wieden
  %li
    %a{href: '/documents/418/Ausflugsziel_Sagenweg.pdf'} Sagenweg hat sich als Ausflugsziel im Freiamt etabliert
  %li
    %a{href: '/documents/366/WA22.7.2011_Sagenweg.pdf'} Der Sagenweg ist auf Erfolgskurs
  %li
    %a{href: '/documents/365/AZ21.7.2011_Sagenweg.pdf'} Ferienpass Kinder auf dem Freiämter Sagenweg
  %li
    %a{href: '/documents/335/BBA_Lebensraum_8.4.2011.pdf'} Alte Geschichten neu entdeckt
  %li
    %a{href: '/documents/336/Widen_BBA_8.4.2011.pdf'} Im verwunschenen Sagenwald
  %li
    %a{href: '/documents/337/Widen_AZ_8.4.2011.pdf'} Der Stifeliryter und die jungen Steinmetze
  %li
    %a{href: '/documents/331/Sagenweg_Winter_AZ_18.1.2011.pdf'} Turnstunde auf dem Hexenbesen

%h4 2010

%ul.archive
  %li
    %a{href: '/documents/298/WA_Lebensraum_22.10.2010-web.pdf'} Mit Künstler, Musik, Mond
  %li
    %a{href: '/documents/273/Presse_WA_Bericht_31.8.10.pdf'} Kultur kennt keine Grenzen
  %li
    %a{href: '/documents/279/zwerge_hexen_und_brennende_Maenner.pdf'} Zwergen, Hexen und brennende Männer
  %li
    %a{href: '/documents/191/mystisch-eindruecklich-happy.pdf'} Mystisch, Eindrücklich, Happy
  %li
    %a{href: '/documents/190/der-wald-als-kathedrale.pdf'} Der Wald als Kathedrale
  %li
    %a{href: '/documents/180/Freiämter_Sagenweg.pdf'} Die Freiämter Sagen neu entdecken und erfahren
  %li
    %a{href: '/pressearchiv/ehrengast-am-luzerner-stadtlauf.html'} Ehrengast am Luzerner Stadtlauf
  %li
    %h4 Künstlerportrait
  %li
    %a{href: '/documents/275/Der_Kegler_im_Uezwiler_Wald.pdf'} Der Kegler im Uezwiler Wald
  %li
    %a{href: '/documents/274/Roter_Wyssenbacher.pdf'} Der rote Wyssenbacher
  %li
    %a{href: '/documents/271/Hexenmusik.pdf'} Hexenmusik im Maiengrün
  %li
    %a{href: '/documents/208/Tanzplatz_Zufikon.pdf'} Der Tanzplatz von Zufikon
  %li
    %a{href: '/documents/210/Der_Teufel_aus_der_Isenburg.pdf'} Der Teufel aus der Isenburg
  %li
    %a{href: '/documents/207/sage-Angelsachsen.pdf'} Die drei Angelsachsen
  %li
    %a{href: '/documents/206/Wohler_Eichmann.pdf'} Der Wohler Eichmann
  %li
    %a{href: '/documents/198/Ruessegger-Licht.pdf'} Das Rüssegger-Licht an der Reuss
  %li
    %a{href: '/documents/197/Waltenschwiler_Hexe.pdf'} Die Waltenschwiler Hexe
  %li
    %a{href: '/documents/196/Zwerg_von_Muri.pdf'} Der Zwerg von Muri
  %li
    %a{href: '/documents/195/Brennender_Mann.pdf'} Brennende Männer
  %li
    %a{href: '/documents/194/stiefeliryter.pdf'} Der Stiefeliryter

%h4 2009

%ul.archive
  %li
    %a{href: '/pressearchiv/auf-dem-hexenbesen-fliegen.html'} Auf dem Hexenbesen fliegen
  %li
    %a{href: '/pressearchiv/bald-reitet-der-stifeliryter-durch-den-wald.html'} Bald reitet der Stifeliryter durch den Wald
  %li
    %a{href: '/pressearchiv/gruenes-licht-fuer-fuenf-jahre.html'} Grünes Licht für fünf Jahre
  %li
    %a{href: '/pressearchiv/kein-sagenweg-im-wohler-wald.html'} Kein Sagenweg im Wohler Wald
  %li
    %a{href: '/pressearchiv/zwolf-bildhauer-wollen-2010-im-wald-arbeiten.html'} Zwölf Bildhauer wollen 2010 im Wald arbeiten

%h4 2002

%ul.archive
  %li
    %a{href: '/pressearchiv/der-drache-von-villmergen-kehrt-zuruck.html'} Der «Drache von Villmergen kehrt zurück»
