---
layout: 'default'
title: 'Die Projektidee'
---

%h1
  Die Projektidee
%p
  Im Sommer 2003 fand gleich neben dem Erdmannlistein das erste Freiämter Bildhauer-Symposium statt, organisiert von den Bildhauern Rafael Häfliger und Felix Bitterli. Das Symposium stiess  auf unerwartet grosse Resonanz, schätzungsweise 3500 Interessierte schauten damals während zehn Tagen den vierzehn eingeladenen Bildhauerinnen und Bildhauer bei der Arbeit an Stein und Holz über die Schultern, allein zur Vernissage erschienen 1500 Besucher. Beflügelt vom Erfolg organisierte Alex Schaufelbühl zwei Jahre später ein zweites, kleineres Symposium, diesmal im alten Steinbruch von Mägenwil. Dann aber reizte es Schaufelbühl und Häfliger, gemeinsam mit anderen Bildhauern etwas Bleibendes zu schaffen. Der Erdmannlistein und die zahlreichen Sagen des Freiamtes dienten Ihnen dabei als Ausgangspunkt.

%p
  = link_to '1. Freiämter Bildhauer Symposium 2003', '/fotoalbum/1-freiaemter-bildhauer-symposium-2003.html'
  %br/
  = link_to 'Offene Steinbruchwerkstatt 2005', '/fotoalbum/offene-steinbruchwerkstatt-2005.html'
  %br/
  = link_to '2. Freiämter Bildhauer Symposium 2010', '/fotoalbum/2-freiaemter-bildhauer-symposium-2010.html'
  %br/

%h4 Grosse Skepsis - und breite Unterstützung

%p
  Parallel zur Skepsis der Behörden stiessen die Organisatoren auf grossen Goodwill in der Öffentlichkeit. Innert kurzer Zeit sicherte man dem Sagenweg Bar- und Sachspenden im Wert von 100'000 Franken zu. Unter der Trägerschaft von «Erlebnis Freiamt» entstand im Juni 2010 während des 2. Freiämter Bildhauersymposiums durch zwölf Künstler ebenso viele Holz-, Stein-, Beton- und Eisenskulpturen. Jeder Bildhauer hatte zuvor aus fünfzig Freiämter Sagen auswählen können, welche er in den 10 Arbeitstagen formal oder bildhaft umsetzen wollte.
%p Auch dieses 100 Meter lange Waldatelier mit Restaurant wurde Tag und Nacht von Besuchern überschwemmt und endete mit einem riesengrossen Vernisagefest. Ende August 2010 wurde der Sagenweg im Waltenschwiler Wald mit einer glänzenden Rede von Hand Ulrich Glarner und zahlreichen Besuchern ganz festlich eingeweiht.
%p Die Kunstwerke stehen nun zusammen mit den Sagentafeln entlang des Freiämterweges zwischen dem Erdmannlistein und dem Tierpark Waltenschwil. Unsere Besucher können die Sagen vor Ort lesen, oder von ihrem mitgebrachten Smartphone auch hören.

%h4 Weiterführende Informationen
%p
  Für Schulklassen aller Altersstufen ist umfangreiches
  = link_to 'Unterrichtsmaterial', '/unterichtsmaterial.html'
  zur Vor- oder Nachbereitung eines Ausflugs zum Sagenweg zusammengestellt worden.

%h4 Die Freiämter Sagenweg Familie

%a.noarrow{href: '/images/family.jpg', rel: 'lightbox', title: 'Die Freiämter Sagenweg Familie'}
  %img{alt: 'Die Freiämter Sagenweg Familie', src: '/images/family.jpg', width: '570px'}/
