---
layout: 'default'
title: 'Sponsoren/Gönner'
---

%h1
  Sponsoren/Gönner

%p
  Ein ganz riesen grosses Dankeschön an all unsere Sponsoren und Gönner,
  die uns die Realisierung dieses Projektes erst ermöglicht haben!
%p
  Finden Sie den Freiämter Sagenweg eine gute Sache. Als
  %a{href: 'http://www.freiamt.ch/de/service/mitglieder-goenner-werden.html'} Gönner oder Mitglied
  von Erlebnis Freiamt helfen Sie nachhaltig mit
  bei der Verwirklichung deren Ziele und sichern damit die Zukunft der Erlebnis-Wege
  im Freiamt (Sagenweg, Freiämterweg, Kinderweg) .

%h2
  Hauptsponsoren

%ul
  %li
    Swisslos-Fonds, Kt. Aargau
  %li
    BDWM Transport AG, Bremgarten
  %li
    Koch-Berner-Stiftung, Brugg
  %li
    Josef Müller-Stiftung, Muri
  %li
    Fondation Emmy Ineichen, Muri
  %li
    NAB-Kulturstiftung, Aarau
  %li
    Wagner Schriften GmbH, Wohlen
  %li
    Kunstkommission, Wohlen
  %li
    Ortsbürgergemeinde, Wohlen
  %li
    Erlebnis Freiamt

%h3
  Sponsoren

%ul
  %li
    Dambach Stiftung, Villmergen
  %li
    Kasimir Meyer AG, Wohlen
  %li
    Berenberger Bank AG, Zürich
  %li
    Schüwo Trink-Kultur, Wohlen
  %li
    Walliser und Partner Natursteine GmbH, Bremgarten
  %li
    Otto Notter AG, Wohlen
  %li
    Koch AG, Holzbau, Büttikon
  %li
    Georg Utz AG, Bremgarten
  %li
    Creamet GmbH, Dintikon
  %li
    Blum Apparatebau, Wohlen
  %li
    Natursteinwerk Bossart AG, Flawil
  %li
    Raiffeisenbank, Wohlen
  %li
    Aargauische Kantonalbank, Wohlen
  %li
    B.+O. Schaufelbühl, Bremgarten
  %li
    Kulturkommission, Wohlen
  %li
    Müller Urs Architekten, Wohlen
  %li
    Jost Wohlen AG, Wohlen
  %li
    Lastech AG, Mellingen
  %li
    Hufschmid Muldendienst, Fischbach-Göslikon
  %li
    Fischer Emil AG, Dottikon
  %li
    Franz Weber Naturgärten, Bünzen
  %li
    Fabian Furter, Wohlen
  %li
    Fricker Rechtsanwälte, Wohlen
  %li
    Neeser Carrosserie und Spritzwerk AG, Wohlen
  %li
    Michael Kessler, Bremgarten
  %li
    Heim AG, Waltenschwil
  %li
    M. Ramp Natursteinarbeiten, Waltenschwil
  %li
    Sax Krandienst, Villmergen
  %li
    Gamper Media, Zufikon
  %li
    Reinhard Strickler, Wohlen
  %li
    Rosmarie Groux, Berikon
  %li
    Gemeinde Waltenschwil
  %li
    Hürlimann Transport AG, Bremgarten

%h4
  Gönner

%ul
  %li
    Feinbäckerei Kuhn, Wohlen
  %li
    M. Laubacher, Wohlen
  %li
    Regionale ZSO, Wohlen
  %li
    Monika Stöckli, Hohenrain
  %li
    Bolliger AG, Wohlen
  %li
    Spalinger Peter, Bremgarten
  %li
    Brigitta und Josef Häfliger, Wohlen
  %li
    Donat Abbt, Hermetschwil
  %li
    Reusspark, Niederwil
  %li
    Feldmann Immobilien AG, Muri
  %li
    Beni Hegi, Wohlen
  %li
    Eberhard und Lukas Renckly, Wohlen
  %li
    Josef Koch, Büttikon
  %li
    Donat AG Blumengeschäft, Wohlen
  %li
    Toni Huwyler Hautarzt, Wohlen
  %li
    Thomas Leitch, Wohlen
  %li
    Hufschmied Recycling, Nesselnbach
  %li
    Medewo AG, Meisterschwanden
  %li
    Pro Juventute Aargau, Region Bremgarten
  %li
    Pro Juventute Aargau, Region Lenzburg
  %li
    Pro Juventute Aargau, Geschäftsstelle Aarau
  %li
    Tiefbauamt Kanton Zürich, ehemalige der Abteilung National- und Hauptstrassen
  %li
    Georges Spuhler, 4332 Stein, Bewegung katholische Arbeitnehmer Kanton
    Aargau
