---
layout: 'default'
title: 'Unterrichtsmaterial'
---

%h1
  Unterrichtsmaterial
%ul
  %li
    %a{href: '#sagen'} Die Sagen des Sagenweges
  %li
    %a{href: '#sagentheater'} Sagentheater für Schüler
  %li
    %a{href: '#fotoquiz'} Foto Quiz
  %li
    %a{href: '#attractionscarte'} Anschouwliche Attractions-Carte
  %li
    %a{href: '#quellen'} Quellenhinweise

%a.noarrow{name: 'sagen'}
  %h3 Die Sagen des Sagenweges

%p
  Der Sagenweg soll insbesondere auch für Schulklassen attraktiv sein, indem
  die Lehrpersonen fertig aufbereitete pädagogische und didaktische Unterrichtshilfen
  zum Thema der Sagen, wie auch die Sagentexte selber, von dieser Seite übernehmen
  können.

%h3 Teil 1
#__ss_3606203{style: 'width:600px'}
  %strong{style: 'display:block;margin:12px 0 4px'}
    %object{height: '850', width: '600'}
      %param{name: 'movie', value: 'http://static.slidesharecdn.com/swf/ssplayerd.swf?doc=sagenwegunterrichtsmaterial1-100331144254-phpapp02&stripped_title=freimter-sagenweg-unterrichtsmaterial'}/
      %param{name: 'allowFullScreen', value: 'true'}/
      %param{name: 'allowScriptAccess', value: 'always'}/
      %embed{allowfullscreen: 'true', allowscriptaccess: 'always', height: '850', src: 'http://static.slidesharecdn.com/swf/ssplayerd.swf?doc=sagenwegunterrichtsmaterial1-100331144254-phpapp02&stripped_title=freimter-sagenweg-unterrichtsmaterial', type: 'application/x-shockwave-flash', width: '600'}
%p
  %a{href: '/documents/sagenwegunterrichtsmaterial1.pdf'} Unterrichtsmaterial Teil 1 als PDF zum Herunterladen.

%h3 Teil 2
#__ss_3832843{style: 'width:600px'}
  %strong{style: 'display:block;margin:12px 0 4px'}
    %object{height: '850', width: '600'}
      %param{name: 'movie', value: 'http://static.slidesharecdn.com/swf/ssplayerd.swf?doc=sagenwegunterrichtsmaterial2-100423130619-phpapp01&stripped_title=freimter-sagenweg-unterrichtsmaterial-teil-1'}/
      %param{name: 'allowFullScreen', value: 'true'}/
      %param{name: 'allowScriptAccess', value: 'always'}/
      %embed{allowfullscreen: 'true', allowscriptaccess: 'always', height: '850', src: 'http://static.slidesharecdn.com/swf/ssplayerd.swf?doc=sagenwegunterrichtsmaterial2-100423130619-phpapp01&stripped_title=freimter-sagenweg-unterrichtsmaterial-teil-1', type: 'application/x-shockwave-flash', width: '600'}
%p
  %a{href: '/documents/Sagenwegunterrichtsmaterial2.pdf'} Unterrichtsmaterial Teil 2 als PDF zum Herunterladen.

%a.noarrow{name: 'sagentheater'}
  %h3 Sagen-Theater für Schüler

#__ss_3968892{style: 'width:600px'}
  %strong{style: 'display:block;margin:12px 0 4px'}
    %object#__sse3968892{height: '850', width: '600'}
      %param{name: 'movie', value: 'http://static.slidesharecdn.com/swf/doc_player.swf?doc=sagentheaterfrschler-100504155947-phpapp02&stripped_title=sagentheater-fr-schler-3968892'}/
      %param{name: 'allowFullScreen', value: 'true'}/
      %param{name: 'allowScriptAccess', value: 'always'}/
      %embed{allowfullscreen: 'true', allowscriptaccess: 'always', height: '850', name: '__sse3968892', src: 'http://static.slidesharecdn.com/swf/doc_player.swf?doc=sagentheaterfrschler-100504155947-phpapp02&stripped_title=sagentheater-fr-schler-3968892', type: 'application/x-shockwave-flash', width: '600'}

%a.noarrow{name: 'fotoquiz'}
  %h3 Foto Quiz

%ul
  %li
    Arbeitsblatt
    %a{href: '/documents/Quiz_Arbeitsblatt.docx'} DOCX
    %a{href: '/documents/Quiz_Arbeitsblatt.pdf'} PDF
    %a{href: 'http://cid-3e03d88b48321ad6.skydrive.live.com/redir.aspx?page=view&resid=3E03D88B48321AD6!425&type=3&Bpub=SDX.Docs&Bsrc=Docmail&parid=3E03D88B48321AD6%21424&authkey=z7czMH*kkVw%24'} SkyDrive
  %li
    Fotos
    %a{href: '/documents/Quiz_Fotos.docx'} DOCX
    %a{href: '/documents/Quiz_Fotos.pdf'} PDF
    %a{href: 'http://cid-3e03d88b48321ad6.skydrive.live.com/redir.aspx?page=view&resid=3E03D88B48321AD6!426&type=3&Bpub=SDX.Docs&Bsrc=Docmail&parid=3E03D88B48321AD6%21424&authkey=z7czMH*kkVw%24'} SkyDrive

%a.noarrow{name: 'attractionscarte'}
  %h3 Anschouwliche Attractions-Carte

%p
  %a.noarrow{href: '/images/Attractions_Carte.pdf', target: 'new', title: 'Anschouwliche Attractions-Carte'}
    %img.instant.itiltleft.icolorFFFCE9.ishadow10.historical.preserve{alt: 'Anschouwliche Attractions-Carte', src: '/images/freiaemter-sagenweg.jpg', width: '570px'}/
  %a{href: 'http://www.menel.ch', target: '_new'} Karte von www.menel.ch

%a.noarrow{name: 'quellen'}
  %h3 Quellenhinweise
%ul
  %li
    %p
      Freiämter Sagen, erzählt und bearbeitet von Hans Koch, herausgegeben von der Historischen Gesellschaft Freiamt. Bezug zum Preis von Fr. 10.-- zuzüglich Versandspesen bei:
    %table{style: 'margin: auto;'}
      %tr
        %td
          %b Muri Info
      %tr
        %td Marktgasse 10
      %tr
        %td 5630 Muri
      %tr
        %td
      %tr
        %td Telefon 056 664 70 11
      %tr
        %td
          %a{href: 'mailto:info@freiamt.ch'} info@freiamt.ch
    %p
  %li
    Menschen, Geister, Fabeltiere. Aargauer Sagen, Anekdoten und historische Texte. Erschienen im AT Verlag und Lehrmittelverlag des Kantons Aargau.
  %li
    Schweizer Sagen aus dem Aargau von Ernst Ludwig Rochholz, Verleger Edition OLMS.
